<!DOCTYPE html>
<html
	th:with="idioma=${#locale.language}"
	th:lang="${idioma}"
	class="no-js"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}"
>
<head>
<title>Fatec MC - A Fatec Mogi das Cruzes</title>
<link
	rel="stylesheet"
	th:href="@{/styles/custom/banner_effect.css}"
/>
<link
	rel="stylesheet"
	th:href="@{/plugins/fancybox/jquery.fancybox.css}"
/>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">A FATEC MOGI DAS CRUZES</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">
					<div class="blog-post-container">
						<div class="blog-post-image">
							<div class="banner-effect">
								<div
									class="banner-image"
									id="banner-image-a"
								>
									<img
										th:src="@{/images/banner_sobre_a_fatec.jpg}"
										alt="As pernas de algumas pessoas no transporte público"
									/>
								</div>
								<div
									class="banner-image"
									id="banner-image-b"
								>
									<img
										th:src="@{/images/banner_sobre_a_fatec.jpg}"
										alt="As pernas de algumas pessoas no transporte público"
									/>
								</div>
								<div
									class="banner-image"
									id="banner-image-c"
								>
									<img
										th:src="@{/images/banner_sobre_a_fatec.jpg}"
										alt="As pernas de algumas pessoas no transporte público"
									/>
								</div>
							</div>
						</div>
						<!-- /.blog-post-image -->
						<div class="blog-post-inner">
							<h3 class="blog-post-title">A Fatec Mogi das Cruzes</h3>
							<p>
								Criada em 02 de setembro de 2008 pelo decreto nº 53.371, com publicação no DOE de setembro de 2008, Seção I,
								volume 118, número 165, a <strong>Faculdade de Tecnologia de Mogi das Cruzes</strong> é uma instituição pública
								de ensino superior tecnológico vinculada ao Centro Estadual de Educação Tecnológica Paula Souza e à Secretaria
								Estadual de Desenvolvimento Econômico, Ciência, Tecnologia e Inovação.
							</p>
							<p>
								<strong>Missão: </strong> Promover a educação pública profissional e tecnológica dentro de referenciais de
								excelência, visando o desenvolvimento tecnológico, econômico e social do Estado de São Paulo.
							</p>
							<p>
								<strong>Visão: </strong> Consolidar-se como referência nacional na formação e capacitação profissional, bem como
								na gestão educacional, estimulando a produtividade e competitividade da economia paulista.
							</p>
							<p>
								<strong>Valores: </strong>
							</p>
							<ul>
								<li>Valorização e desenvolvimento humano;</li>
								<li>Postura ética e comprometimento;</li>
								<li>Respeito a diversidade e a pluralidade;</li>
								<li>Compromisso com a gestão democrática e transparente;</li>
								<li>Cordialidade nas relações de trabalho;</li>
								<li>Responsabilidade e sustentabilidade;</li>
								<li>Criatividade e inovação.</li>
							</ul>
							<p>
								<strong>Histórico da faculdade</strong>
							</p>
							<ul>
								<li>Início das atividades em 15 de setembro de 2008, com o curso superior de tecnologia em Redes de
									empresas, Associativismo e Cooperativismo no Agronegócio tendo turmas nos períodos da tarde e noite,
									posteriormente o curso foi remodelado e passou a atender pela denominação de tecnologia em Agronegócio no ano
									de 2010;</li>
								<li>No segundo semestre de 2009 passa a integrar o catalogo da unidade o curso superior de tecnologia em
									Análise e Desenvolvimento de Sistemas, com turmas nos turnos da tarde e noite;</li>
								<li>No primeiro semestre de 2011, o curso superior de tecnologia em Gestão de Recursos Humanos passa a
									integrar o conjunto de cursos da unidade no turno da manhã.</li>
								<li>No segundo semestre de 2013, o curso superior de tecnologia em Logística também passa a ser oferecido
									no turno da manhã;</li>
								<li>No segundo semestre de 2015 passa a o curso superior de tecnologia em Gestão Empresarial na modalidade
									educação a distância (EAD).</li>
							</ul>
							<p>
								<strong>Sobre os cursos</strong>
							</p>
							<ul>
								<li>Carga horária total do curso: 2800 horas;</li>
								<li>Duração: 3 anos;</li>
								<li>Matriz curricular com Inglês incluso em todos os semestres;</li>
								<li>Cursos com presenciais com conceito ENADE 4 e a distância ENADE 5</li>
								<li>Turmas de 40 vagas nos cursos presenciais e 40 à distância</li>
								<li>Possuímos cerca de 1.600 alunos.</li>
							</ul>
						</div>
					</div>
					<!-- /.blog-post-container -->
				</div>
				<!-- /.col-md-12 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script
			type="text/javascript"
			th:src="@{/plugins/tweenmax/tweenmax.min.js}"
		></script>
		<script
			type="text/javascript"
			th:src="@{/scripts/custom/banner_effect.js}"
		></script>

		<script th:src="@{/plugins/fancybox/jquery.fancybox.js}"></script>
		<script th:src="@{/plugins/fancybox/jquery.fancybox.pack.js}"></script>

		<script
			type="text/javascript"
			th:src="@{/scripts/custom/a_fatec_mogi.js}"
		></script>
	</th:block>
</body>
</html>
