<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Revista Anima Terra</title>
<link th:href="@{/styles/curso.css}" type="text/stylesheet" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">A Fatec</a>
						</h6>
						<h6>
							<span class="page-active">REVISTA ANIMA TERRA</span>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div class="blog-post-inner" id="reconhecimentoAvaliacao">
									<h3 class="blog-post-title">Revista Anima Terra</h3>
									<article>
										<div class="page-row box box-border">
											<p>
												<strong>Esclarecimentos e Submissão de Artigos:</strong><br />
												<em>revista.animaterra@fatec.sp.gov.br</em>
											</p>
											<strong>Datas Importantes - 2024</strong>
											<ul class="list-unstyled no-margin-bottom">
												<li><strong>Até 28/03/2024 até às 11:00 (manhã)</strong>: Recebimento de submissões completas no formato Microsoft Word:<br />
													OBS: NÃO utilizar comando computacionais que possam desconfigurar o modelo durante o preenchimento. A presença de não conformidades impede a captação da submissão na triagem. Somente as submissões preenchidas e enviadas CORRETAMENTE serão encaminhadas para a apreciação da Comissão Avaliadora.</li>
												<li><strong>Até 10/05/2024</strong>: Notificação do DEFERIMENTO PARCIAL com as correções da 1a versão revisada;</li>
												<li><strong>Até 24/05/2024 até às 11:00 (manhã)</strong>: Envio da versão corrigida para apreciação final da Comissão Avaliadora;</li>
												<li><strong>Até 16/06/2024</strong>: Notificação do DEFERIMENTO “ACEITE” da versão final para publicação;</li>
												<li><strong>Previsão da publicação</strong>: 2o semestre de 2024</li>
											</ul>
										</div>
										<div class="page-row">
											<br />
											<h5 id="sobre">Sobre a Revista</h5>
											<p>A Revista Eletrônica Anima Terra - ISSN 2526-1940 - Qualis B4, em versão exclusivamente 
											eletrônica é uma publicação semestral da Faculdade de Tecnologia de Mogi das Cruzes (FATEC-MC)
											do Centro Estadual de Educação Tecnologia Paula Souza do Estado de São Paulo (CEETEPS).</p>
											<p>Foi criada com os seguintes objetivos:</p>
											<ul>
												<li>Divulgar a produção científica que se avoluma, na
													área, nas universidades brasileiras, permitindo que esta
													circule e seja discutida de forma crítica e referenciada;</li>
												<li>Estimular o debate acadêmico sobre a temática de
													Tecnologia e Cultura em suas diferentes dimensões,
													valorizando, sobretudo, os diálogos interdisciplinares;</li>
												<li>Contribuir de forma decisiva, para a crítica e
													proposição de modelos de intervenção, pública ou privada.</li>
											</ul>
											<p>A revista possui orientação pluralista e pública
												trabalhos científicos de colaboradores nacionais e
												internacionais que apresentem contribuições originais,
												teóricas ou empíricas, relacionadas às áreas de Agronegócio,
												Análise e Desenvolvimento de Sistemas, Recursos Humanos,
												Logística, Gestão Empresarial e áreas correlatas. Estando
												vinculada a uma faculdade de tecnologia multidisciplinar,
												valorizando o diálogo interdisciplinar, abrindo espaços para
												contribuições de outras áreas do conhecimento.</p>
											<h5 id="documentos">Documentos</h5>
											<ul>
												<li><a id="apresentacao" target="_blank"
													th:href="@{/pdf/animaTerra/apresentacao.pdf}">Apresentação
														da Revista</a></li>
												<li><a id="convite" target="_blank"
													th:href="@{/pdf/animaTerra/convite_publicacao.pdf}">Convite
														para Publicação</a></li>
												<li><a id="convite" target="_blank"
													th:href="@{/pdf/animaTerra/convite_layout.pdf}">Convite
														Layout</a></li>
												<li><a id="creditos" target="_blank"
													th:href="@{/pdf/animaTerra/creditos.pdf}">Créditos</a></li>
												<li><a id="enderecoContato" target="_blank"
													th:href="@{/pdf/animaTerra/enderecoContato.pdf}">Endereço
														e Contato</a></li>
												<li><a id="expediente" target="_blank"
													th:href="@{/pdf/animaTerra/expediente.pdf}">Expediente</a></li>
												<li><a id="normasPublicacaoPdf" target="_blank"
													th:href="@{/pdf/animaTerra/normasPublicacao.pdf}">Normas
														para Publicação (Descrição em PDF)</a></li>
												<li><a id="modeloArtigo" target="_blank"
													   th:href="@{/docx/animaTerra/modeloArtigo.doc}">Modelo de Artigo (Arquivo no formato MS Word)</a></li>
											</ul>
											<hr />
											<h5 id="edicoesArtigos">Edições e Artigos</h5>
											<div class="panel-group" id="accordion18">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion18"
															   href="#collapse18">Número 18 - 1o semestre de 2024</a>
														</h4>
													</div>
													<div id="collapse18" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/sumario.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo1.pdf}">PLANEJAMENTO ESTRATÉGICO EM HORTÍCOLAS EMBALADOS NA REGIÃO DE MOGI DAS CRUZES/SP</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo2.pdf}">ESTUDO DE MERCADO SOBRE MORANGO IN NATURA E POLPA</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo3.pdf}">PARTICIPAÇÃO DAS BRIÓFITAS NA REDUÇÃO DE GASES DO EFEITO ESTUFA</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo4.pdf}">A INSERÇÃO DE MULHERES CAMINHONEIRAS NA PROFISSÃO DE CAMINHONEIRAS: DESAFIOS E OPORTUNIDADES</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo5.pdf}">ANÁLISE DAS LEIS DE PROTEÇÃO DE DADOS NOS PAÍSES DO MERCOSUL E UMA COMPARAÇÃO COM A LEI BRASILEIRA</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo6.pdf}">ACESSIBILIDADE NOS SITES INSTITUCIONAIS DAS FATECS DA REGIÃO METROPOLITANA DE SÃO PAULO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo7.pdf}">A PRODUTIVIDADE COMO FATOR DE CRESCIMENTO SUSTENTÁVEL DO SETOR AGROPECUÁRIO NO BRASIL NAS DUAS PRIMEIRAS DÉCADAS DO SÉCULO XXI</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo8.pdf}">ESTRATÉGIAS DA LIDERANÇA NA GESTÃO DE CONFLITOS EM EMPRESA DO SETOR FARMACÊUTICO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo9.pdf}">A UTILIZAÇÃO DA ANÁLISE SWOT COMO FERRAMENTA DE DIAGNÓSTICO DA PRODUÇÃO DE LÚPULO NO ALTO TIETÊ/SP</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao18/artigo10.pdf}">CARNE CULTIVADA: REALIDADE, FUTURO E SUSTENTABILIDADE</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion17">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion17"
															   href="#collapse17">Número 17 - 2o semestre de 2023</a>
														</h4>
													</div>
													<div id="collapse17" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/sumario.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo1.pdf}">ANÁLISE DE RECURSOS DE ACESSIBILIDADE NA WEB PARA DEFICIENTES VISUAIS EM WEBSITES BRASILEIROS</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo2.pdf}">FATORES MOTIVACIONAIS NA TRAJETÓRIA ACADÊMICA: ESTUDO DE CASO COM ALUNOS CONCLUINTES DO CURSO DE GESTÃO EMPRESARIAL DA FATEC SERTÃOZINHO
																</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo3.pdf}">PAPEL DA UTILIZAÇÃO DE RECURSOS COMPUTACIONAIS NO COMBATE ÀS MUDANÇAS CLIMÁTICAS
																</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo4.pdf}">ANÁLISE COMPARATIVA ACERCA DAS RECOMENDAÇÕES DE SEGURANÇA AOS USUÁRIOS DE DISPOSITIVOS SMARTWATCH
																</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo5.pdf}">SISTEMA ESPECIALISTA PARA PREVISÃO DE SAFRA DE ACORDO COM O CLIMA</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo6.pdf}">PRODUÇÃO HIDROPÔNICA DE ALFACE: REFLEXÕES SOBRE UMA DAS HORTALIÇAS MAIS CONSUMIDAS NO BRASIL
																</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo7.pdf}">A RETENÇÃO DE TALENTOS EM UMA EMPRESA DE COMÉRCIO DE AÇO DO INTERIOR DE SÃO PAULO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo8.pdf}">COMO A INTERNET DAS COISAS PODE AJUDAR PESSOAS COM DEFICIÊNCIAS FÍSICAS
																</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo9.pdf}">A CULTURA DO CANCELAMENTO E OS REFLEXOS NEGATIVOS SOBRE A MARCA</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao17/artigo10.pdf}">O IMPACTO DA PANDEMIA DO COVID-19 NA QUALIDADE DE VIDA NO TRABALHO DOS CAMINHONEIROS</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion16">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion16"
															   href="#collapse16">Número 16 - 1o semestre de 2023</a>
														</h4>
													</div>
													<div id="collapse16" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/sumario.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo1.pdf}">Melhoria na utilização de técnicas de administração e controle de estoques: Estudo de caso em uma indústria metalúrgica em Guarulhos- SP</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo2.pdf}">O uso de óleos essenciais de orégano e canela na melhora da qualidade do leite
																</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo3.pdf}">Mapeamento da acessibilidade dos portais institucionais das prefeituras do Alto Tietê.</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo4.pdf}">A relação entre a gestão do turismo de base comunitária e a economia solidária.</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo5.pdf}">Estudo de caso sobre TI verde: Aspectos de preferência dos consumidores sobre empresas e equipamentos que valorizam a sustentabilidade ambiental em eletroeletrônicos</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo6.pdf}">Obsolescência e descarte inadequado de resíduos eletrônicos: Uma pesquisa de campo</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo7.pdf}">Treinamento e desenvolvimento: O papel do líder no desenvolvimento de seus liderados na contemporaneidade</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo8.pdf}">DESIGN E DOCUMENTAÇÃO ARQUITETURAL DE UM WEBAPP EDUCACIONAL COM ROADMAPS: UMA REPRESENTAÇÃO DOS MODELOS 4+1 E VISÕES E ALÉM</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo9.pdf}">Migração de um banco de dados relacional para o não relacional utilizando Azure Cosmos DB</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao16/artigo10.pdf}">Avaliação de interfaces de open banking de aplicativos bancários</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion15">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion15"
															   href="#collapse15">Número 15 - 2o semestre de 2022</a>
														</h4>
													</div>
													<div id="collapse15" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/sumario.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo1.pdf}">OS BENEFICIOS E DESAFIOS DO TRABALHO HOME OFFICE</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo2.pdf}">PROJETO E DESENVOLVIMENTO DE APLICATIVO MÓVEL PARA CONTROLE
																	DE CARRO ROBÔ VIA VOZ</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo3.pdf}">ESTUDO DE CASO REFERENTE AO AUMENTO NA UTILIZAÇÃO DE VANT'S
																	NA CADEIA LOGÍSTICA DE DELIVERY E VAREJO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo4.pdf}">A APLICAÇÃO DA FILOSOFIA JUST IN TIME: IMPACTOS NO ESTOQUE EM
																	UM ESTUDO COMPARATIVO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo5.pdf}">FAKE NEWS NA PANDEMIA DA COVID-19</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo6.pdf}">PLANEJAMENTO FINANCEIRO: FATOR DETERMINANTE PARA O SUCESSO
																	DO NEGÓCIO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo7.pdf}">LIXEIRA AUTOMATIZADA PARA COLETA SELETIVA: PERCEPÇÃO DA
																	POPULAÇÃO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo8.pdf}">OS IMPACTOS DA PANDEMIA CAUSADOS PELA COVID- 19 NO SETOR DE
																	EVENTOS</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo9.pdf}">SISTEMA ESPECIALISTA PARA APOIO A DECISÃO DE INVESTIDORES NA
																	AQUISIÇÃO DE FUNDOS IMOBILIÁRIOS</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo10.pdf}">FINTECH: TECNOLOGIA, INOVAÇÃO E REVOLUÇÃO NO SISTEMA BANCÁRIO</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo11.pdf}">LINGUAGENS QUÂNTICAS E A CONEXÃO COM A LINGUAGEM CLÁSSICA</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao15/artigo12.pdf}">GEOMETRIAS NÃO EUCLIDIANAS: OBSTÁCULOS EPISTEMOLÓGICOS DE NATUREZA VERBAL NA CONSTRUÇÃO DOS CONCEITOS DE RETA HIPERBÓLICA</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion14">
                                              <div class="panel panel-default">
                                                <div class="panel-heading">
                                                  <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion14"
                                                       href="#collapse14">Número 14 - 1o semestre de 2022</a>
                                                  </h4>
                                                </div>
                                                <div id="collapse14" class="panel-collapse collapse in">
                                                  <div class="panel-body">
                                                    <ul>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/sumario.pdf}"> Sumário</a><br />
                                                        <hr /></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo1.pdf}">ESTUDO DA GESTÃO DO MARKETING AMBIENTAL E DE OPERAÇÕES INTERMODAIS PARA PRODUTOS DE ORIGEM RENOVÁVEL NA EMPRESA DE CELULOSE XYZ</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo2.pdf}">VANTAGENS DE GERENCIAMENTO DE PROJETOS NA ÁREA DE TI COM USO DA FERRAMENTA JIRA</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo3.pdf}">O USO DOS JOGOS DIGITAIS NO PROCESSO DE ENSINO DE CRIANÇAS</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo4.pdf}">COMPORTAMENTO DO CONSUMIDOR COM RELAÇÃO A PRODUTOS SOCIOAMBIENTAIS</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo5.pdf}">GESTÃO DE RECURSOS HUMANOS E DISRUPÇÃO DIGITAL: O FUTURO DO TRABALHO</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo6.pdf}">A IMPORTÂNCIA DO DESENVOLVIMENTO DA INTELIGÊNCIA EMOCIONAL: UM ESTUDO DE CASO EM UMA EMPRESA DE LOGÍSTICA NA CIDADE DE SÃO CARLOS</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo7.pdf}">SEGURANÇA DE DADOS EM REDES SOCIAIS</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo8.pdf}">CLOUD COMPUTING E O DILEMA ENERGÉTICO</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao14/artigo9.pdf}">A UTILIZAÇÃO DA ANÁLISE SWOT COMO FERRAMENTA DE DIAGNÓSTICO DA PRODUÇÃO DE TILÁPIAS EM TANQUE REDE</a></li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="panel-group" id="accordion13">
                                              <div class="panel panel-default">
                                                <div class="panel-heading">
                                                  <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion13"
                                                       href="#collapse13">Número 13 - 2o semestre de 2021</a>
                                                  </h4>
                                                </div>
                                                <div id="collapse13" class="panel-collapse collapse in">
                                                  <div class="panel-body">
                                                    <ul>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/sumario.pdf}"> Sumário</a><br />
                                                        <hr /></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo1.pdf}">UTILIZAÇÃO DE JOGOS ELETRÔNICOS COMO MOTIVAÇÃO NO ÂMBITO ORGANIZACIONAL</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo2.pdf}">TELETRABALHO E PANDEMIA CRIANDO AMBIENTE PROPÍCIO AO ASSÉDIO MORAL NO TRABALHO DE PROFISSIONAIS DA EDUCAÇÃO</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo3.pdf}">A INTELIGÊNCIA ARTIFICIAL NO DEPARTAMENTO DE RECURSOS HUMANOS: UM ESTUDO DE CASO SOBRE A IA NO PROCESSO DE RECRUTAMENTO E SELEÇÃO</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo4.pdf}">A RELEVÂNCIA DA UTILIZAÇÃO DO CURSO MOPP NO TRANSPORTE DE CARGAS PERIGOSAS</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo5.pdf}">ACESSIBILIDADE DIGITAL DOS PORTAIS DE CARREIRAS DE CINCO GRANDES EMPRESAS DO BRASIL</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo6.pdf}">DESAFIOS DA TRANSFORMAÇÃO DO RH TRADICIONAL PARA O RH 4.0</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo7.pdf}">ONBOARDING DIGITAL: DIFICULDADES E DESAFIOS EM INTEGRAR NOVOS COLABORADORES A DISTÂNCIA</a></li>
                                                      <li><a target="_blank"
                                                           th:href="@{/pdf/animaTerra/edicao13/artigo8.pdf}">ESTUFA AUTOMATIZADA PORTÁTIL RESIDENCIAL</a></li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
											<div class="panel-group" id="accordion12">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion12"
															   href="#collapse12">Número 12 - 1o semestre de 2021</a>
														</h4>
													</div>
													<div id="collapse12" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/sumario12.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao12/artigo1.pdf}">RESPONSABILIDADE PELO VÍCIO DO PRODUTO E SERVIÇO À LUZ DO CÓDIGO DE DEFESA DO CONSUMIDOR</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao12/artigo2.pdf}">LOGÍSTICA HUMANITÁRIA – HOSPITAL DE CAMPANHA DE MOGI DAS CRUZES (SP) NA OCORRÊNCIA DO NOVO CORONAVÍRUS</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao12/artigo3.pdf}">SALA DE AULA INVERTIDA – ESTUDO SOBRE OS RESULTADOS ALCANÇADOS COM A METODOLOGIA NA EDUCAÇÃO SUPERIOR</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao12/artigo4.pdf}">ANÁLISE DE MERCADO DA RAÇA BOVINA BONSMARA</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao12/artigo5.pdf}">GERENCIAMENTO DE RISCOS ASSOCIADOS À SEGURANÇA DA INFORMAÇÃO EM PROJETOS DE DESENVOLVIMENTO DE SOFTWARE ÁGEIS: UMA REVISÃO SISTEMÁTICA.</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao12/artigo6.pdf}">A RESPONSABILIDADE SOCIOAMBIENTAL DO MODAL MARÍTIMO NO TRANSPORTE DE CARGAS E PESSOAS</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao12/artigo7.pdf}">MODELO BASEADO EM AGENTES PARA SIMULAÇÃO DE CONSUMO DE ENERGIA ELÉTRICA EM FUNÇÃO DO COMPORTAMENTO HUMANO</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion11">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion11"
															   href="#collapse11"> Número 11 - 2o Semestre de 2020</a>
														</h4>
													</div>
													<div id="collapse11" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/sumario11.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao11/artigo1.pdf}">Riscos associados a projetos de Bancos de Dados em projetos de Desenvolvimento de Software</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao11/artigo2.pdf}">Utilização da raça Wagyu no Brasil - Uma revisão literária</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao11/artigo3.pdf}">A influência do Trabalho de Graduação nos alunos de Gestão de Recursos Humanos</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao11/artigo4.pdf}">Agrotóxicos: Um estudo por trás da imagem de vilão</a></li>
																<li><a target="_blank"
																	   th:href="@{/pdf/animaTerra/edicao11/artigo5.pdf}">Análise de viabilidade econômico-financeira na implantação do feijão-vagem macarrão (<i>phaseolus vulgaris</i>) em pequena propriedade rural de Salesópolis/SP</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion10">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion10"
																href="#collapse10"> Número 10 - 1o Semestre de 2020</a>
														</h4>
													</div>
													<div id="collapse10" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario10.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao10/artigo1.pdf}">A gestão humana nas equipes de e-sports no Brasil</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao10/artigo2.pdf}">Evasão e permanência: Uma contribuição para o entendimento do fenômeno nos cursos tecnológicos superiores</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao10/artigo3.pdf}">Características atribuídas ao processo de produção do brandy e/ou aguardente a base de cana-de-açúcar e caquis</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion9">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion9"
																href="#collapse9"> Número 9 - 2o Semestre de 2019</a>
														</h4>
													</div>
													<div id="collapse9" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario9.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao9/artigo1.pdf}">Geração Z e a ética profissional</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao9/artigo2.pdf}">Viabilidade econômica e financeira da produção de tomate italiano em Guararema-SP</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao9/artigo3.pdf}">Síndrome de Burnout: como vencer?</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion8">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion8"
																href="#collapse8"> Número 8 - 1o Semestre de 2019</a>
														</h4>
													</div>
													<div id="collapse8" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario8.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao8/artigo1.pdf}">Potencial
																		sanitário do uso de óleos essenciais na produção de
																		frangos de corte</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao8/artigo2.pdf}">Segurança
																		e privacidade em serviços móveis: uma revisão
																		sistemática</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao8/artigo3.pdf}">Principais
																		características dos trabalhos de graduação do curso
																		superior de Tecnologia em Agronegócio apresentados na
																		Fatec de Mogi das Cruzes</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion7">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion7"
																href="#collapse7"> Número 7 - 2o Semestre de 2018</a>
														</h4>
													</div>
													<div id="collapse7" class="panel-collapse collapse in">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario7.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao7/artigo1.pdf}">A
																		cultura e a territorialidade do cultivo de cogumelo em
																		Mogi das Cruzes</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao7/artigo2.pdf}">Caracterização
																		e variáveis regionais do turismo rural: Mogi das
																		Cruzes/SP e outras localidades</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao7/artigo3.pdf}">Análise
																		da viabilidade e implantação de game como uma ação de
																		endomarketing dentro de uma instituição pública do
																		estado de São Paulo</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group" id="accordion">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion6"
																href="#collapse6"> Número 6 - 1o Semestre de 2018</a>
														</h4>
													</div>
													<div id="collapse6" class="panel-collapse collapse">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario6.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao6/artigo1.pdf}">Um
																		estudo sobre a relevância da liderança nas
																		organizações</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao6/artigo2.pdf}">Levantamento
																		dos paradigmas sobre o uso de hormônios na produção
																		dos frangos de corte - visão acadêmica</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao6/artigo3.pdf}">A
																		raça Senepol como alternativa para o melhoramento
																		genético em bovinos de corte</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion"
																href="#collapse5"> Número 5 - 2o Semestre de 2017</a>
														</h4>
													</div>
													<div id="collapse5" class="panel-collapse collapse">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario5.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao5/artigo1.pdf}">Efeito
																		da pressão de trabalho sobre a eficiência de
																		diferentes pontas de pulverização no manejo químico de
																		Papuã (Brachiaria plantaginea) em soja</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao5/artigo2.pdf}">Simulação
																		e avaliação no processo de um caixa de supermercado
																		através do software arena</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao5/artigo3.pdf}">Determinação
																		da atividade antimicrobiana de extratos de plantas de
																		Smallanthus sonchifolius (Yacon) e Helianthus
																		tuberosus Linn (Jerusalem Artichoke)</a></li>
															</ul>
														</div>
													</div>
												</div>
												<!-- ./panel -->
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion"
																href="#collapse4"> Número 4 - 1o Semestre de 2017</a>
														</h4>
													</div>
													<div id="collapse4" class="panel-collapse collapse">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario4.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao4/artigo1.pdf}">A
																		motivação de pessoas nas organizações e suas
																		aplicações dentro do ambiente organizacional</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao4/artigo2.pdf}">Turismo
																		rural pedagógico em Biritiba Ussú – Mogi das Cruzes</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao4/artigo3.pdf}">Energia
																		e memória na região do Alto Tietê: A história da usina
																		parque de Salesópolis</a></li>
															</ul>
														</div>
													</div>
												</div>
												<!-- ./panel -->
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion"
																href="#collapse3"> Número 3 - 2o Semestre de 2016</a>
														</h4>
													</div>
													<div id="collapse3" class="panel-collapse collapse">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario3.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao3/artigo1.pdf}">Exportação
																		de polpas de frutas: “como uma pequena empresa pode
																		participar no comércio internacional”</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao3/artigo2.pdf}">Caracterização
																		de sistemas silvipatoris como melhorador de índices de
																		produção animal e como renda extra ao produtor rural</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao3/artigo3.pdf}">Efeito
																		da pressão de trabalho sobre a eficiência das
																		diferentes pontas de pulverização no manejo químico de
																		Picão-preto (Bidens spp.) na soja</a></li>
															</ul>
														</div>
													</div>
												</div>
												<!-- ./panel -->
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion"
																href="#collapse2"> Número 2 - 1o Semestre de 2016</a>
														</h4>
													</div>
													<div id="collapse2" class="panel-collapse collapse">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario2.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao2/artigo1.pdf}">Caracterização
																		do consumo de carnes e hortaliças no município de Mogi
																		das Cruzes</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao2/artigo2.pdf}">Estudo
																		da comunicação Lanchonete e Choperia Estrela: uma
																		proposta de criação site institucional</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao2/artigo3.pdf}">Estudo
																		da comunicação da Trator Agro Implementos Agrícolas:
																		uma abordagem da comunicação interna</a></li>
															</ul>
														</div>
													</div>
												</div>
												<!-- ./panel -->
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion"
																href="#collapse1"> Número 1 - 2o Semestre de 2015</a>
														</h4>
													</div>
													<div id="collapse1" class="panel-collapse collapse">
														<div class="panel-body">
															<ul>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/sumario1.pdf}"> Sumário</a><br />
																	<hr /></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao1/artigo1.pdf}">SysNavSailBoat
																		– Sistema de Navegação Marítima, com inteligência
																		artificial, utilizando otimização de múltiplos
																		objetivos e algoritmos genéticos</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao1/artigo2.pdf}">Rastreabilidade
																		na cadeia produtiva de fruticultura (Manga Ubá)</a></li>
																<li><a target="_blank"
																	th:href="@{/pdf/animaTerra/edicao1/artigo3.pdf}">Máquinas
																		de busca na web e o novo paradigma da web semântica</a></li>
															</ul>
														</div>
													</div>
												</div>
												<!-- ./panel -->
											</div>
										</div>
										<!--//page-row-->
									</article>
									<!--//course-item-->
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>
