<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Biblioteca</title>
<link rel="stylesheet" th:href="@{/styles/custom/banner_effect.css}" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">BIBLIOTECA</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div id="blog-post-image">
									<div class="banner-effect">
										<div class="banner-image" id="banner-image-a">
											<img th:src="@{/images/banner_biblioteca.jpg}" />
										</div>
										<div class="banner-image" id="banner-image-b">
											<img th:src="@{/images/banner_biblioteca.jpg}" />
										</div>
										<div class="banner-image" id="banner-image-c">
											<img th:src="@{/images/banner_biblioteca.jpg}" />
										</div>
									</div>
								</div>

								<!-- /.blog-post-image -->
								<div class="blog-post-inner">
									<h3 class="blog-post-title" id="pesquisar">Pesquisar no
										Acervo da Biblioteca</h3>
									<p>Informe o título do material que deseja pesquisar e
										pressione 'Enter' para pesquisá-lo no acervo da biblioteca:</p>
									<div class="search-form-widget">
										<form id="search_form" name="search_form" method="get"
											action="#" class="search_form">
											<input type="text" name="search_field" id="search_field"
												placeholder="Informe o título do material e pressione Enter..."
												title="Informe o nome do material que procura e pressione
										'Enter' para pesquisá-lo no acervo da biblioteca"
												class="field_search">
										</form>
									</div>
									<br />
									<h3 class="blog-post-title" id="sobre">Sobre a Biblioteca
										da Fatec Mogi das Cruzes</h3>
									<p>A Biblioteca da Fatec Mogi das Cruzes
										oferece serviço de empréstimo de livros, revistas, multimídia
										e trabalhos acadêmicos para alunos, professores e outros
										funcionários da instituição.</p>
									<blockquote>Ingressamos em uma faculdade para
										aprender sobre temas que gostamos e para nos tornarmos
										profissionais de uma determinada área, certo? Para que o
										aprendizado ocorra de maneira eficiente e não superficial, é
										necessário se aprofundar em determinados assuntos. Para isso,
										o hábito da leitura é essencial.</blockquote>
									<h4 id="outrosRecursos">Outros Recursos</h4>
									<p>Além do material disponível na biblioteca da
										instituição, existem diversos recursos de alta qualidade
										disponíveis na internet. Especialmente, recomendamos os
										seguintes:</p>
									<ul>
										<li>COURSERA - Cursos on-line (MOOCs) de grandes
											universidades do mundo <a href="https://pt.coursera.org/" target="_blank">https://pt.coursera.org/</a><p/>
										</li>
										<li>edX - Cursos on-line (MOOCs) de grandes universidades
											do mundo <a href="https://www.edx.org/" target="_blank">https://www.edx.org/</a><p/>
										</li>
										<li>KHAN ACADEMY - Cursos on-line de Matemática,
											Economia, Finanças, Computação, entre outros <a
											href="https://pt.khanacademy.org/" target="_blank">https://pt.khanacademy.org/</a><p/>
										</li>
										<li>Udacity - Cursos on-line (MOOCs) de empreendedorismo
											e computação <a href="https://br.udacity.com/" target="_blank">https://br.udacity.com/</a><p/>
										</li>
									</ul>
									<h4 id="basePesqAcademica">Bases de dados para pesquisas acadêmicas</h4>
									<ul>
										<li>Repositório Institucional UNESP <a href="https://repositorio.unesp.br/handle/11449/77291" target="_blank">https://repositorio.unesp.br/handle/11449/77291</a><p/></li>
										<li>Biblioteca digital de teses e dissertações <a href="http://bdtd.ibict.br/vufind/" target="_blank">http://bdtd.ibict.br/vufind/</a><p/></li>
										<li>Peródicos CAPES <a href="http://www.periodicos.capes.gov.br/" target="_blank">http://www.periodicos.capes.gov.br/</a><p/></li>
										<li>Biblioteca digital da Câmara dos Deputados <a href="https://bd.camara.leg.br/bd/" target="_blank">https://bd.camara.leg.br/bd/</a><p/></li>
										<li>Domínio Público <a href="http://www.dominiopublico.gov.br/pesquisa/PesquisaObraForm.jsp" target="_blank">http://www.dominiopublico.gov.br/pesquisa/PesquisaObraForm.jsp</a><p/></li>
										<li>REGIT - Revista de estudo de Gestão, Informação e Tecnologia <a href="http://www.revista.fatecitaqua.edu.br/index.php/regit/issue/archive" target="_blank">http://www.revista.fatecitaqua.edu.br/index.php/regit/issue/archive</a><p/></li>
										<li>ABNT - Associação Brasileira de Normas Técnicas <a href="http://www.abnt.org.br/" target="_blank">http://www.abnt.org.br/</a><br/>
											<p>Acesso ao catálogo da ABNT, em que é possível acompanhar as normas que estão em vigor e
											aquelas que foram canceladas ou substituídas</p>
										</li>
										<li>Biblioteca Virtual <a href="http://www.bibliotecavirtual.sp.gov.br/" target="_blank">http://www.bibliotecavirtual.sp.gov.br/</a><br/>
											<p>Informações sobre o Governo paulista, sobre todos os aspectos relativos ao Estado de São Paulo e sobre qualquer assunto de interesse da população e
												dos servidores públicos estaduais.</p>
										</li>
										<li>Biblioteca Virtual em Saúde <a href="https://bvsalud.org/" target="_blank">https://bvsalud.org/</a><br/>
											<p>A BVS oferece acesso livre à informação técnico-científica na área da saúde. Reúne várias fontes de informação, dentre elas o LILACS,
												Medline, Scielo, entre outras.</p>
										</li>
										<li>Comissão Nacional de Energia Nuclear <a href="http://www.cnen.gov.br/" target="_blank">http://www.cnen.gov.br/</a><br/>
											<p>Portal de livre acesso que reúne atualmente 4536 títulos de periódicos. O portal disponibiliza
												informações sobre aplicações nucleares em várias áreas, incluindo a área médica e
												de ciência dos materiais.</p>
										</li>
										<li>Domínio Público <a href="http://www.dominiopublico.gov.br/pesquisa/PesquisaObraForm.jsp" target="_blank">http://www.dominiopublico.gov.br/pesquisa/PesquisaObraForm.jsp</a><br/>
											<p>Disponibiliza arquivos que já estão em domínio público em português e outras línguas. Inclui obras literárias, teses e
												dissertações, arquivos de áudio, imagem e vídeo.</p>
										</li>
										<li>Google Scholar <a href="https://scholar.google.com.br/" target="_blank">https://scholar.google.com.br/</a><br/>
											<p>Oferece pesquisa sobre literatura acadêmica em várias fontes, incluindo teses, livros, resumos e artigos.</p>
										</li>
										<li>Open Library <a href="https://openlibrary.org/" target="_blank">https://openlibrary.org/</a><br/>
											<p>Oferece cerca de 1.000 ebooks. As obras de domínio público possuem acesso gratuito, outras obras podem ser compradas.</p>
										</li>
										<li>Portal de Periódicos da Capes <a href="https://www.periodicos.capes.gov.br/" target="_blank">https://www.periodicos.capes.gov.br/</a><br/>
											<p>O Portal de Periódicos da Capes oferece acesso a textos selecionados em 26.449 publicações periódicas internacionais e nacionais e às mais renomadas publicações
												de resumos, cobrindo todas as áreas do conhecimento. Inclui também uma seleção de importantes fontes de informação científica e tecnológica de acesso gratuito na Web.
												(Fonte: Portal da Capes).</p>
										</li>
										<li>Scielo <a href="https://www.scielo.org" target="_blank">https://www.scielo.org</a><br/>
											<p>Disponibiliza artigos de periódicos científicos de acesso aberto sobre diversas áreas do conhecimento.</p>
										</li>
									</ul>
									<h4 id="videoEscPesqAcademica">Vídeos com esclarecimentos de pesquisa acadêmica</h4>
									<ul>
										<li><a href="https://fatecspgov-my.sharepoint.com/:v:/g/personal/leandro_silva193_fatec_sp_gov_br/EVFGspxCLgFCm4tOVAQDy9IBoJS7yYjvLkT_PBic6Nixxg?e=sJU9ZP" target="_blank">Dicas de Pesquisa Acadêmica (Prof. Leandro da Silva)</a></li>
									</ul>
									<ul>
										<li><a href="https://fatecspgov-my.sharepoint.com/:v:/g/personal/leandro_silva193_fatec_sp_gov_br/EUxgNqBsYY5Cqzafuxi8EBkBUGz0_bCUqDQvY5Or7Si0Rw?e=3x6PT1" target="_blank">Sugestão de Pesquisa Scielo (Prof. Leandro da Silva)</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-8 -->

				<!-- Here begin Sidebar -->
				<div class="col-md-4">

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#pesquisar">Pesquisar no acervo</a></li>
										<li><a href="#sobre">Sobre a biblioteca</a></li>
										<li><a href="#outrosRecursos">Outros recursos</a></li>
										<li><a href="#basePesqAcademica">Bases de dados para pesquisas acadêmicas</a></li>
										<li><a href="#videoEscPesqAcademica">Vídeos com esclarecimentos de pesquisa acadêmica</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->

				</div>
				<!-- /.col-md-4 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/plugins/tweenmax/tweenmax.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/biblioteca.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/custom/banner_effect.js}"></script>
	</th:block>
</body>
</html>