
<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{site}">
<head>
<title>Fatec MC - Como chegar</title>
<link rel="stylesheet" th:href="@{/plugins/e-calendar/jquery.e-calendar.css}" />
<link rel="stylesheet" th:href="@{/styles/custom/calendario_academico.css}" />

</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">CALENDÁRIO ACADÊMICO</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>
						Clique nos links abaixo para acessar a versão PDF detalhada dos calendários
						acadêmicos dos cursos presenciais e EAD, ou passe o mouse sobre os eventos na calendário apresentado a seguir.
						<ul class="col-md-12">
							<li><a th:href="@{/calendarioPDF}" target="_blank" class="highlight-link">Calendário Acadêmico atual</a></li>
						</ul>
					</p>
					<!--<p>
						<a href="#" class="highlight-link">ATENÇÃO:</a> A seguir, você encontrará uma versão interativa do calendário. Para visualizar os eventos, passe o mouse
						sobre uma data marcada com alguma cor. No caso de dispositivos móveis, clique sobre uma data. Você verá detalhes sobre os eventos desta data.
					</p>
					<div id="calendar" class="calendar-content"></div>-->
				</div>
			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/plugins/e-calendar/jquery.e-calendar.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/custom/calendario_academico.js}"></script>
	</th:block>
</body>
</html>