<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{site}">

<head>
	<title>Fatec MC - Congregação</title>
	<link rel="stylesheet" th:href="@{/styles/custom/banner_effect.css}" />
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">A Fatec</span> <span class="page-active">CONGREGAÇÃO</span>
						</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">
					<div class="blog-post-container">
						<div class="blog-post-image">
							<div class="banner-effect">
								<div class="banner-image" id="banner-image-a">
									<img th:src="@{/images/banner_congregacao.jpg}"
										alt="Algumas pessoas em uma reunião em torno de uma mesa" />
								</div>
								<div class="banner-image" id="banner-image-b">
									<img th:src="@{/images/banner_congregacao.jpg}"
										alt="Algumas pessoas em uma reunião em torno de uma mesa" />
								</div>
								<div class="banner-image" id="banner-image-c">
									<img th:src="@{/images/banner_congregacao.jpg}"
										alt="Algumas pessoas em uma reunião em torno de uma mesa" />
								</div>
							</div>
						</div>
						<!-- /.blog-post-image -->
						<div class="blog-post-inner">
							<h3 class="blog-post-title">Congregação</h3>
							<h4 id="oQueE">O que é a congregação?</h4>
							<p>A Congregação da Fatec Mogi das Cruzes é o órgão supervisão de ensino, da pesquisa e da
								extensão de serviços à comunidade. É composta por um grupo
								de pessoas que se reúnem a cada dois meses e sempre que necessário com o intuito de
								criar, propor, avaliar e aprovar medidas que visem o contínuo
								aperfeiçoamento, obedecendo as diretrizes gerais da política educacional do CPS. A
								composição do grupo é feita através de eleição e os representantes
								são escolhidos pelos seus pares.</p>
							<h4 id="membros">Membros</h4>
							<p>Além do diretor da unidade e dos coordenadores de curso, a congregação é composta por
								membros eleitos pelos pares, além de um representante da
								unidade. A composição atual da congregação é:</p>
							<strong th:if="${director != null}">Direção</strong>
							<ul>
								<li>Prof. <th:block th:text="${director.educationLevel.titulation}"></th:block> <th:block th:text="${director.name}">Name</th:block></li>
							</ul>
							<strong>Coordenadores</strong>
							<ul>
								<li th:each="coordinator : ${coordinators}" th:if="${coordinator.coordinatorCourse != null}">Prof. <th:block th:text="${coordinator.educationLevel.titulation}"></th:block> <th:block th:text="${coordinator.name}">Name</th:block> - CST em <th:block th:text="${coordinator.coordinatorCourse.name}">Course name</th:block></li>
							</ul>
							<th:block th:each="key : ${levels.keySet()}">
								<strong th:text="${key.name}"></strong>
								<ul>
									<li th:each="professor : ${levels.get(key)}">Prof. <th:block th:text="${professor.educationLevel.titulation}"></th:block> <th:block th:text="${professor.name}">Name</th:block> (<th:block th:each="course : ${professor.congregationCourses}"> <span th:text="${course.acronym}"></span>&nbsp;</th:block>)</li>
								</ul>
							</th:block>
							<strong>Representantes do corpo Administrativo</strong>
							<ul>
								<li>Francisco Eduardo A. de Siqueira Garcia</li>
								<li>Jean Augusto Martins</li>
							</ul>
							<strong>Representante do corpo Discente</strong>
							<ul>
								<li>José Henrique de Olibeira Silva</li>
							</ul>
							<h4 id="regimento">Regimento</h4>
							<a th:href="@{/pdf/regimento_congregacao.pdf}" target="_blank">Clique aqui para baixar o
								regimento da congregação</a>
						</div>
					</div>
					<!-- /.blog-post-container -->
				</div>
				<!-- /.col-md-12 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/plugins/tweenmax/tweenmax.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/custom/banner_effect.js}"></script>
	</th:block>
</body>

</html>