<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Corpo Docente</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">CORPO DOCENTE</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6 col-sm-12" th:each="employee : ${professors}">
									<div id="blog-author" class="clearfix">
										<a href="#" class="blog-author-img"> <img
											th:src="@{/employees/} + ${employee.hashString + '/image'}"
											alt="Foto do professor">
										</a>
										<div class="blog-author-info">
											<span th:text="${employee.titulation}">Titulation
											</span>
											<h4 class="author-name" th:text="${employee.name}">Name
											</h4>
											<p>
												<a th:href="${employee.lattes}" target="_blank"><img th:src="@{/images/icon-curriculo-lattes.png}" style="width:100px"/></a>
											</p>
										</div>
									</div>
									<!-- /.blog-author -->
								</div>
								<!-- /.col-md-12 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-12 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>