<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{site}">
<head>
<title>Fatec MC - Comissão Própria de Avaliação (CPA)</title>
<link rel="stylesheet" th:href="@{/styles/custom/banner_effect.css}" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">Comissão Própria de Avaliação (CPA)</span>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div id="blog-post-image">
									<div class="banner-effect">
										<div class="banner-image" id="banner-image-a">
											<img th:src="@{/images/cpa_banner.jpg}" />
										</div>
										<div class="banner-image" id="banner-image-b">
											<img th:src="@{/images/cpa_banner.jpg}" />
										</div>
										<div class="banner-image" id="banner-image-c">
											<img th:src="@{/images/cpa_banner.jpg}" />
										</div>
									</div>
								</div>
								<!-- /.blog-post-image -->
								<div class="blog-post-inner">
									<h3 class="blog-post-title" id="sobre">Comissão Própria de Avaliação</h3>
									<h4 id="oQueE">O que é a CPA (Comissão Própria de Avaliação)?</h4>
									<p>CPA é a Comissão Própria de Avaliação, instituída pelo Sinaes – Sistema Nacional de Avaliação da Educação Superior, e é responsável pela
										implantação e pelo desenvolvimento de processos de avaliação institucional. Na Fatec Mogi das Cruzes ela foi criada em abril de 2016 via portaria da
										FATEC-MC no 20/2016, de 19 de abril de 2016, e é composta por representantes de todos os segmentos da comunidade acadêmica e da sociedade civil
										organizada.</p>
									<p>A autoavaliação se apresenta como uma oportunidade para que a Fatec aperfeiçoe sua atuação, planeje seu futuro, contribua para a tomada de
										decisões e envolva toda a comunidade interna e externa no aprimoramento de sua qualidade. É dentro desse contexto, e contando com a colaboração de
										seus alunos, professores, funcionários técnico-administrativos e egressos que a CPA desenvolve suas ações.</p>
									<h4 id="missao">Missão</h4>
									<p>Sua finalidade é conduzir e articular o processo de avaliação interna da Instituição, cursos de graduação, atividades de pesquisa, extensão e
										responsabilidade social, bem como sistematizar e disponibilizar informações e dados da Instituição.</p>
									<h4 id="dimensoes">Dimensões</h4>
									<p>A auto avaliação institucional é baseada nas 10 dimensões propostas pelo SINAES:</p>
									<ul>
										<li>Missão, Plano de Desenvolvimento Institucional;</li>
										<li>Políticas para o Ensino, a Pesquisa, a Pós-graduação, a Extensão;</li>
										<li>Responsabilidade social da instituição, considerada especialmente no que se refere à sua contribuição em relação à inclusão social e ao
											desenvolvimento econômico e social;</li>
										<li>Comunicação com a sociedade;</li>
										<li>Políticas de pessoal, de carreiras do corpo docente e corpo técnico-administrativo e as condições de trabalho;</li>
										<li>Organização e gestão da instituição;</li>
										<li>Estrutura física, especialmente a de ensino e de pesquisa, biblioteca, recursos de informação e comunicação;</li>
										<li>Planejamento e avaliação, especialmente em relação aos processos, resultados e eficácia da auto avaliação institucional;</li>
										<li>Políticas de atendimento aos estudantes;</li>
										<li>Sustentabilidade financeira, tendo em vista o significado social da continuidade dos compromissos na oferta da educação superior.</li>
									</ul>
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/plugins/tweenmax/tweenmax.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/biblioteca.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/custom/banner_effect.js}"></script>
	</th:block>
</body>
</html>