<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title><th:block th:text="${news.name}"></th:block> | Fatec Mogi das Cruzes</title>
<meta name="description" th:attr="content=${news.shortDescription}" />
<meta property="og:type" content="article" />
<meta property="og:title" th:attr="content=${news.name}" />
<meta property="og:description" th:attr="content=${news.shortDescription}" />
<meta property="og:image" th:attr="content=${'https://www.fatecmogidascruzes.com.br/news/' + news.hashString + '/image'}" />
<meta property="og:url" th:attr="content=${'https://www.fatecmogidascruzes.com.br/detalheNoticia?hash=' + news.hashString}" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">DETALHE DA NOTÍCIA</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<!-- Here begin Main Content -->
				<div class="col-md-12">
					<div class="blog-post-container">
						<div class="blog-post-inner">
							<h3 class="blog-post-title" th:text="${news.name}" style="margin-bottom: 0em;">Title</h3>
						</div>
						<div class="blog-post-image" th:if=${news.hasBigImage}>
							<img th:src="@{/news/__${news.hashString}__/bigImage}"
								th:alt="${news.imageAlternativeDescription}">
						</div>
						<!-- /.blog-post-image -->
						<div class="blog-post-inner">
							<th:block th:utext="${news.longDescription}"></th:block>
						</div>
					</div>
					<!-- /.blog-post-container -->
				</div>
				<!-- /.col-md-12 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>