<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Diretoria de Serviços Acadêmicos (Secretaria)</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">DIRETORIA DE SERVIÇOS ADMINISTRATIVOS</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">

					<div class="blog-post-container">
						<div class="blog-post-inner">
							<h3 class="blog-post-title" id="sobre">Diretoria de Serviços Administrativos</h3>
							<p>Somos responsáveis pela coordenação e execução das atividades administrativas e
								operacionais da unidade, como por exemplo: financeiro, serviços terceirizados (limpeza
								e segurança), recursos humanos e contratação de serviços.</p>
							<h3 class="blog-post-title" id="principaisAtribuicoes">Principais Atribuições</h3>
							<ul>
								<li>Administrar e zelar pelo material e Patrimônio da unidade</li>
								<li>Cuidar da vida funcional dos funcionários: docentes, servidores administrativos e
									estagiários</li>
								<li>Comprar materiais e serviços, por meio de licitações</li>
								<li>Responsável pelas atividades de Instruções, Manual de Integração – CEETEPS, Portal
									do Consignado, Recadastramento Anual, Apuração de Faltas e Atrasos, Licenças,
									Regimentos e normas internas, Registo de Ponto, Benefícios, Adicional por Tempo de
									Serviço – ATS, Auxílio Alimentação / Cartão Sodexo, Salário Família, Auxílio
									Criança, Vale Transporte, Salário Esposa, Auxílio Reclusão, SP PREVCOM, Pagamento,
									Contribuição Sindical, Contribuição INSS e Ampliação de Carga Horária</li>
							</ul>
							<h3 class="blog-post-title" id="horarioAtendimento">Horário de Atendimento</h3>
							<p>Atendendo o DECRETO Nº 64.862, de 13 de março de 2020, do governo do Estado de São Paulo,
								a Diretoria de Serviços Administrativos da Fatec Mogi das Cruzes não está realizando
								atendimento presencial, apenas teleatendimento, através do Microsoft Teams ou e-mail.</p>
							<h3 class="blog-post-title" id="horarioAtendimentoRemoto">Horário
								de Atendimento Remoto (segunda à sexta-feira)</h3>
							<dl>
								<dt>Monica Anniele Nagata do Vau</dt>
								<dd>Tarde/Noite: das 11h às 20h</dd>
							</dl>
							<dl>
								<dt>Suzane Pereira de Oliveira Lisboa</dt>
								<dd>Manhã/Tarde: das 08h às 17h</dd>
							</dl>
							<dl>
								<dt>Maria de Lourdes Pimentel Viveiros</dt>
								<dd>Manhã/Tarde: das 08h às 17h</dd>
							</dl>
						</div>
					</div>

					<div id="blog-author" class="clearfix">
<!--						<div class="blog-author-img" id="equipe">-->
<!--							<img-->
<!--								th:src="@{/images/employees/administrative/emilene.jpg}"-->
<!--								alt="Foto da Monica Anniele Nagata do Vau">-->
<!--						</div>-->
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="monica">Monica Anniele Nagata do Vau</a><br/>
								Diretora Administrativa<br/>
								Contato no Teams: <a href="mailto:monica.vau@fatec.sp.gov.br">monica.vau</a><br/>
								Email do Departamento: <a href="mailto:f184adm@cps.sp.gov.br">f184adm@cps.sp.gov.br</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->

					<div id="blog-author" class="clearfix">
<!--						<div class="blog-author-img">-->
<!--							<img-->
<!--								th:src="@{/images/employees/administrative/francisco.jpg}"-->
<!--								alt="Foto da Suzane Pereira de Oliveira Lisboa">-->
<!--						</div>-->
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="suzane">Suzane Pereira de Oliveira Lisboa</a><br/>
								Agente Técnico Administrativo<br/>
								Contato no Teams: <a href="mailto:suzane.lisboa@fatec.sp.gov.br">suzane.lisboa</a><br/>
								Email do Departamento: <a href="mailto:f184op@cps.sp.gov.br">f184op@cps.sp.gov.br</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->

					<div id="blog-author" class="clearfix">
<!--						<div class="blog-author-img">-->
<!--							<img-->
<!--								th:src="@{/images/employees/administrative/jean.jpg}"-->
<!--								alt="Foto da Maria de Lourdes Pimentel Viveiros">-->
<!--						</div>-->
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="maria_lourdes">Maria de Lourdes Pimentel Viveiros</a><br/>
								Assessora Administrativa <br/>
								Contato no Teams: <a href="mailto:maria.viveiros@fatec.sp.gov.br">maria.viveiros</a><br/>
								Email do Departamento: <a href="mailto:f184adm2@cps.sp.gov.br">f184adm2@cps.sp.gov.br</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>