<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{site}">

<head>
	<title>Fatec MC - E-mails Institucionais</title>
	<link rel="stylesheet" th:href="@{/styles/custom/banner_effect.css}" />
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">EMAILS INSTITUCIONAIS</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<!-- /.blog-post-image -->
								<div class="blog-post-inner">
									<h3 class="blog-post-title" id="pesquisar">Lista de e-mails
										institucionais<br /><br /></h3>
									<div class="page-row box box-border">
										<strong>Para visualizar os emails do setor desejado, clique sobre um dos itens
											da lista abaixo.</strong><br />
									</div>
									<p></p>
									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse2">Biblioteca</a>
												</h4>
											</div>
											<div id="collapse2" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>Biblioteca da Fatec Mogi das Cruzes<br /><a
																href="mailto:f184bibli@cps.sp.gov.br">f184bibli@cps.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse3">Comissões</a>
												</h4>
											</div>
											<div id="collapse3" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>CIPA - Fatec Mogi das Cruzes (Douglas Medeiros Gualberto Constantino)<br /><a
																href="mailto:f184cipa@cps.sp.gov.br">f184cipa@cps.sp.gov.br</a><br /><br />
														</li>
														<li>Comissão Permanente de Avaliação (CPA) - (Profª Me. Carla
															Alessandra Branca R. S. Aguiar)<br /><a
																href="mailto:cpa.mogidascruzes@fatec.sp.gov.br">cpa.mogidascruzes@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse4">Comunicação</a>
												</h4>
											</div>
											<div id="collapse4" class="panel-collapse collapse">
												<div class="panel-body">
													E-mail destinado para divulgação de notícias, vagas de estágio,
													processos seletivos, editais, dentre outros.<br /><br />
													<ul>
														<li>Comunicação Institucional (Francisco Eduardo Alberto de
															Siqueira Garcia)<br /><a
																href="mailto:f184.comunicacao@fatec.sp.gov.br">f184.comunicacao@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse6">Coordenações de Curso</a>
												</h4>
											</div>
											<div id="collapse6" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li th:each="coordinator : ${coordinators}" th:if="${coordinator.coordinatorCourse != null}">Prof. <th:block th:text="${coordinator.educationLevel.titulation}"></th:block> <th:block th:text="${coordinator.name}">Name</th:block> - CST em <th:block th:text="${coordinator.coordinatorCourse.name}">Course name</th:block><br /><a
																th:href="|mailto:${coordinator.email}|" th:text="${coordinator.email}">E-mail</a><br /><br /></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
													   href="#collapseEaDOrientation">Orientação de Polo do CST em Gestão Empresarial</a>
												</h4>
											</div>
											<div id="collapseEaDOrientation" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>
															Prof. Carla Alessandra Branca Ramos Silva Aguiar<br />
															<a
																	href="mailto:carla.aguiar@fatec.sp.gov.br">carla.aguiar@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
													   href="#collapse12">Diretoria de Serviços Acadêmicos (Secretaria)</a>
												</h4>
											</div>
											<div id="collapse12" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>Diretoria de Serviços Acadêmicos (Secretaria) - (Emilene
															Camillo)<br /><a
																	href="mailto:f184acad@cps.sp.gov.br">f184acad@cps.sp.gov.br</a><br /><br />
														</li>
														<li>Francisco Eduardo Alberto de Siqueira Garcia<br /><a
																href="mailto:francisco.garcia01@fatec.sp.gov.br">francisco.garcia01@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>Jean Augusto Martins<br /><a
																href="mailto:jean.martins2@fatec.sp.gov.br">jean.martins2@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>Lucas Bonilha Grasser de Sousa<br /><a
																href="mailto:lucas.sousa61@fatec.sp.gov.br">lucas.sousa61@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>Ingrid Caroline dos Santos<br /><a
																href="mailto:ingrid.santos42@fatec.sp.gov.br">ingrid.santos42@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse13">Diretoria Administrativa</a>
												</h4>
											</div>
											<div id="collapse13" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>Diretoria Administrativa (Monica Anniele Nagata do
															Vau)<br /><a
																href="mailto:f184adm@cps.sp.gov.br">f184adm@cps.sp.gov.br</a>
															<br /><br /></li>
														<li>Suzane Pereira de Oliveira Lisboa<br /><a
																href="mailto:f184op@cps.sp.gov.br">f184op@cps.sp.gov.br</a>
															<br /><br /></li>
														<li>Maria de Lourdes Pimentel Viveiros<br /><a
																href="mailto:f184adm2@cps.sp.gov.br">f184adm2@cps.sp.gov.br</a>
															<br /><br /></li>
														<li>Lucas Fernando da Cunha Correia<br /><a
																href="mailto:lucas.correia6@cps.sp.gov.br">lucas.correia6@cps.sp.gov.br</a>
														<br /><br /></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse8">Diretorias da Unidade</a>
												</h4>
											</div>
											<div id="collapse8" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>Diretoria da Fatec Mogi das Cruzes (Prof. Dr. Bruno Marques
															Panccioni)<br /><a
																href="mailto:f184dir@cps.sp.gov.br">f184dir@cps.sp.gov.br</a><br /><br />
														</li>
														<li>Diretoria Administrativa (Monica Anniele Nagata do
															Vau)<br /><a
																href="mailto:f184adm@cps.sp.gov.br">f184adm@cps.sp.gov.br</a><br /><br />
														</li>
														<li>Diretoria de Serviços Acadêmicos (Secretaria) - (Emilene
															Camillo)<br /><a
																href="mailto:f184acad@cps.sp.gov.br">f184acad@cps.sp.gov.br</a><br /><br />
														</li>
														<li>Assessor Técnico Administrativo (ATA) - (Renata Michele S.
															Oliveira)<br /><a
																href="mailto:f184ata@cps.sp.gov.br">f184ata@cps.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse7">Estágios</a>
												</h4>
											</div>
											<div id="collapse7" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<th:block th:each="internshipResponsible : ${internshipResponsibles}">
															<li th:each="internshipCourse: ${internshipResponsible.internshipResponsibilityCourses}">CST em <th:block th:text="${internshipCourse.name}"></th:block> (Prof. <th:block th:text="${internshipResponsible.name}"></th:block>)<br /> <a th:href="|mailto:${internshipResponsible.email}|" th:text="${internshipResponsible.email}"></a><br />
																<br />
															</li>
														</th:block>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse14">Grupos de Pesquisa</a>
												</h4>
											</div>
											<div id="collapse14" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>GEPPA - Grupo de Ensino e Pesquisa em Produção Animal (Prof.
															Dr. Roberto Bordin)<br /><a
																href="mailto:roberto.bordin@fatec.sp.gov.br">roberto.bordin@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>NUPPA - Núcleo de Pesquisas em Preços Agrícolas (Profa. Me.
															Samira Daniele Gardziulis Maia Reis)<br /><a
																href="mailto:samira.reis@fatec.sp.gov.br">samira.reis@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse9">NÓS – Núcleo de Orientação sobre saúde
														Emocional</a>
												</h4>
											</div>
											<div id="collapse9" class="panel-collapse collapse">
												<div class="panel-body">
													Canal de diálogo e escuta da unidade com os alunos que tenham
													problemas nos estudos, em casa ou pessoal, mediante agendamento por
													email ou chat via Teams.<br /><br />
													<ul>
														<li>Profa Dra. Marina Codo Andrade Teixeira<br /><a
																href="mailto:f184.nos@fatec.sp.gov.br">f184.nos@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse10">Revista Científica</a>
												</h4>
											</div>
											<div id="collapse10" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>Revista Anima Terra (Prof. Me. Rafael Bueno)<br /><a
																href="mailto:revista.animaterra@fatec.sp.gov.br">revista.animaterra@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse1">Suporte Técnico e Auxiliares Docentes</a>
												</h4>
											</div>
											<div id="collapse1" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>Email Institucional e TI - Tecnologia da Informação (José
															Donizetti de Freitas)<br /><a
																href="mailto:f184ti@cps.sp.gov.br">f184ti@cps.sp.gov.br</a><br /><br />
														</li>
														<li>Auxiliar Docente (Anderson Carvalho Cruz)<br /><a
																href="mailto:anderson.cruz@fatec.sp.gov.br">anderson.cruz@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>Auxiliar Docente (Douglas Constantino)<br /><a
																href="mailto:douglas.constantino@fatec.sp.gov.br">douglas.constantino@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse11">Trabalho de Graduação</a>
												</h4>
											</div>
											<div id="collapse11" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<li>CST em Agronegócio (Prof. Dr. Elias Ribeiro de Castro)<br /><a
																href="mailto:elias.castro@fatec.sp.gov.br">elias.castro@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>CST em Análise e Desenvolvimento de Sistemas (Profª. Me.
															Adriana Natividad López Valverde)<br /><a
																href="mailto:adriana.valverde@fatec.sp.gov.br">adriana.valverde@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>CST em Gestão de Recursos Humanos (Profª. Me. Daniele R
															Garcia Kumanaya)<br /><a
																href="mailto:daniele.kumanaya@fatec.sp.gov.br">daniele.kumanaya@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>CST em Logística (Profa. Dra. Marina Codo Andrade Teixeira)<br /><a
																href="mailto:marina.teixeira@fatec.sp.gov.br">marina.teixeira@fatec.sp.gov.br</a><br /><br />
														</li>
														<li>CST em Gestão Empresarial - Modalidade EAD (Profª. Me. Carla Alessandra Branca R. S. Aguiar)<br /><a
																href="mailto:carla.aguiar@fatec.sp.gov.br">carla.aguiar@fatec.sp.gov.br</a><br /><br />
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-12 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/plugins/tweenmax/tweenmax.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/biblioteca.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/custom/banner_effect.js}"></script>
	</th:block>
</body>

</html>