<!DOCTYPE html>
<html
	th:with="idioma=${#locale.language}"
	th:lang="${idioma}"
	class="no-js"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}"
>

<head>
<title>Fatec MC - Estágio</title>
<link
	rel="stylesheet"
	th:href="@{/styles/custom/banner_effect.css}"
/>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">ESTÁGIO</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div class="blog-post-image">
									<div class="banner-effect">
										<div
											class="banner-image"
											id="banner-image-a"
										>
											<img
												th:src="@{/images/banner_estagio.jpg}"
												alt="Uma mesa com vários materiais em cima, um laptop e duas pessoas conversando"
											/>
										</div>
										<div
											class="banner-image"
											id="banner-image-b"
										>
											<img
												th:src="@{/images/banner_estagio.jpg}"
												alt="Uma mesa com vários materiais em cima, um laptop e duas pessoas conversando"
											/>
										</div>
										<div
											class="banner-image"
											id="banner-image-c"
										>
											<img
												th:src="@{/images/banner_estagio.jpg}"
												alt="Uma mesa com vários materiais em cima, um laptop e duas pessoas conversando"
											/>
										</div>
									</div>
								</div>
								<!-- /.blog-post-image -->
								<div class="blog-post-inner">
									<h3
										class="blog-post-title"
										id="informacoes"
									>Estágio</h3>
									<p>O estágio é uma experiência muito importante para o desenvolvimento da carreira de todo profissional.
										Ele permite aos estudantes desenvolver o conhecimento, as competências, habilidades e experiências práticas da
										profissão em um ambiente organizacional.</p>
									<p>
										Os alunos dos cursos superiores da Fatec Mogi das Cruzes <strong>devem obrigatoriamente</strong> cumprir 240
										horas de estágio para poderem concluir o curso e obter o diploma.
									</p>
									<p>A seguir, você encontra o manual do estágio e os documentos necessários para o estágio.</p>
									<div class="row">
										<div class="col-md-6 text-center">
											<a
												th:href="@{/pdf/manual_estagio.pdf}"
												target="_blank"
											><img
												th:src="@{/images/manual_estagio.png}"
												style="width: 60%"
											/></a>
										</div>
										<div class="col-md-6 text-center">
											<a
												th:href="@{/pdf/docs_estagio.zip}"
												target="_blank"
											><img
												th:src="@{/images/docs_estagio.png}"
												style="width: 60%"
											/></a>
										</div>
									</div>
									<h4 id="contatos">Contatos</h4>
									<ul>
										<th:block th:each="internshipResponsible : ${internshipResponsibles}">
											<li th:each="internshipCourse: ${internshipResponsible.internshipResponsibilityCourses}">CST em <th:block th:text="${internshipCourse.name}"></th:block> (Prof. <th:block th:text="${internshipResponsible.name}"></th:block>)<br /> <a th:href="|mailto:${internshipResponsible.email}|" th:text="${internshipResponsible.email}"></a><br />
												<br />
											</li>
										</th:block>
									</ul>
									<h4 id="agentesIntegracao">Agentes de integração</h4>
									<p>Conforme Memorando Circular nº 72/2021 – CESU com Assunto "Orientação para convênios de Estágios por
										Agentes de Integração e assinatura de Termo de Compromisso de Estágios pelos Diretores das Fatecs" na data de
										18/11/2021; e conforme e-mail da CESU de 02/03/2022 com assunto "Informações complementar - Agentes de
										Integração de Estágio junto a AGPC" , informamos que existem 9 (nove) agentes de integração de estágios
										conveniados com o Centro Paula Souza, a saber:</p>
									<ul>
										<li th:each="internshipAgent: ${internshipAgents}" th:text="${internshipAgent.name}"></li>
									</ul>
									<p>Qualquer outro agente de integração de estágios que deseja realizar convênio com o Centro Paula Souza
										deve entrar em contato com o setor AGPC - Área de Gestão de Parcerias e Convênios do CPS pelo e-mail:
										convenio@cps.sp.gov.br.</p>
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-8 -->

				<!-- Here begin Sidebar -->
				<div class="col-md-4">

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#informacoes">Informações</a></li>
										<li><a href="#contatos">Contatos</a></li>
										<li><a href="#agentesIntegracao">Agentes de integração</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Oportunidades</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<!-- <h5>ADS</h5> -->
									<ul class="col-md-12">
										<li><a href="#">Não existem oportunidades no momento</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->
				</div>
				<!-- /.col-md-4 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script
			type="text/javascript"
			th:src="@{/plugins/tweenmax/tweenmax.min.js}"
		></script>
		<script
			type="text/javascript"
			th:src="@{/scripts/custom/banner_effect.js}"
		></script>
	</th:block>
</body>

</html>