<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
      class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{site}">
<head>
    <title>Fatec MC - FatecLOG</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="page-title clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h6>
                        <a th:href="@{/}">Principal</a>
                    </h6>
                    <h6>
                        <span class="page-active">FatecLOG</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Here begin Main Content -->
            <div class="col-md-8">
                <div class="blog-post-container">
                    <div class="blog-post-image">
                        <div class="banner-effect">
                            <div class="banner-image" id="banner-image">
                                <img th:src="@{/images/fateclog/banner_fateclog.png}"
                                     alt="Gestão da cadeia de suprimentos no agronegócio"/>
                            </div>
                        </div>
                    </div>
                    <!-- /.blog-post-image -->
                    <div class="blog-post-inner">
                        <h3 class="blog-post-title" id="sobre">FatecLOG</h3>
                        <p>
                            O FatecLOG está consolidado como o maior Congresso de Logística do Brasil, sendo que na
                            edição do ano de 2020, foram aproximadamente 4.000 participantes. O evento ocorre
                            anualmente de forma itinerante e neste ano, a unidade sede é a Fatec Mogi das Cruzes,
                            que realizará o evento no formato online. A temática desta 12ª edição é: “Gestão da
                            Cadeia de Suprimentos no Agronegócio: desafios e oportunidades no contexto atual”.
                        </p>
                        <p>
                            O Congresso FATECLOG é organizado pelo Comitê de Coordenadores do Curso Superior de
                            Tecnologia em Logística das Fatecs e a Comissão Organizadora é formada pelos
                            Coordenadores de Curso, apoiados pela CESU (Coordenação do Ensino Superior) e pela
                            FAT (Fundação de Apoio à Tecnologia).
                        </p>
                        <p>
                            O evento, cujo foco principal é o ALUNO, SEU APRENDIZADO, CAPACITAÇÃO E ATUAÇÃO NO
                            MERCADO DE TRABALHO, é aberto às comunidades acadêmica e empresarial e tem os seguintes
                            objetivos:
                        </p>
                        <ul>
                            <li>Estimular a publicação e divulgação de trabalhos científicos de docentes e alunos
                                das Fatecs;
                            </li>
                            <li>Aumentar a divulgação do Centro Paula Souza e das Fatecs;</li>
                            <li>Aproximar a academia e a comunidade empresarial, visando ao desenvolvimento de
                                parcerias, patrocínios e colaborações que sustentem a contínua evolução do ensino
                                tecnológico e facilitem o planejamento estratégico das Faculdades;
                            </li>
                            <li>Fomentar a busca de “vocação” tecnológica e o desenvolvimento da pesquisa em áreas
                                de conhecimento adequadas às regiões de instalação das Faculdades;
                            </li>
                            <li>Aumentar a especialização do ensino e, consequentemente, melhorar a inserção de
                                egressos no mercado local; e
                            </li>
                            <li>Desenvolver o aprimoramento contínuo do ensino.</li>
                        </ul>
                        <h3 class="blog-post-title" id="cronograma">Cronograma</h3>
                        <ul>
                            <li>Conferência online nos dias 18 e 19 de junho de 2021</li>
                            <li style="color:#630500;font-weight: bold">Encerramento das submissões 16 de maio de 2021
                            </li>
                            <li>Inscrições de autores abertas até 02 de maio de 2021</li>
                            <li>Inscrições de avaliadores abertas até 31 de março de 2021</li>
                        </ul>
                        <p/>
                        <h3 class="blog-post-title" id="palestrantes">Palestrantes Confirmados</h3>
                    </div>
                </div>

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/orlando.jpg}" alt="Foto de Orlando Fontes">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="orlando">Professor
                                Dr. Orlando Fontes Lima Jr</a><br/>
                            18 de Junho de 2021 às 11h<br/>
                            <b>Palestra de Abertura</b>: Agri-foof Supply Chain 4.0: Tecnologia e pessoas voltadas para
                            o sucesso do agronegócio<br/><br/>
                            <b>Mini currículo</b>: Professor Titular em Logística e Transportes da Faculdade de
                            Engenharia Civil, Arquitetura e Urbanismo da UNICAMP. Foi Professor da Escola Politécnica da
                            Universidade de São Paulo, Prefeito da Cidade Universitária "Zeferino Vaz", Vice Reitor
                            Executivo de Administração da UNICAMP e Presidente da ANPET Associação Nacional de Pesquisa
                            e Ensino de Transportes. Criador e coordenador o Laboratório de Aprendizagem em Logística e
                            Transportes (LALT). Desenvolve atualmente projetos e pesquisas relacionados a Tecnologias
                            Disruptivas e Humanização em Logística.<br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/viviane.jpg}" alt="Foto de Viviane Santos">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="viviane">Técnica em Meio
                                Ambiente Viviane Santos</a><br/>
                            18 de Junho de 2021 às 14h<br/>
                            <b>Palestra</b>: Como otimizar o tempo de carregamento de carga e economizar com o software
                            EasyCargo<br/><br/>
                            <b>Mini currículo</b>: Técnica em Meio Ambiente pela ETESP e Tecnóloga em Hidráulica e
                            Saneamento Ambiental pela FATEC-SP. Já atuou em auditoria ambiental, áreas contaminadas (em
                            projetos de investigação, remediação e monitoramento ambiental) e cadastro de rede de água e
                            esgoto no SIGNOS da SABESP. Além disso, trabalhou na área de relações internacionais com
                            gestão do relacionamento com clientes brasileiros e estrangeiros. Atualmente trabalha na
                            Easycargo com gestão do relacionamento com clientes falantes da língua portuguesa, com
                            tradução e revisão de conteúdo.<br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/kleber.jpg}" alt="Foto de Kleber dos Santos">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="kleber">Professor Dr.
                                Kleber dos Santos Fernandes</a><br/>
                            18 de Junho de 2021 às 17h<br/>
                            <b>Palestra</b>: Gestão de operações de Armazenagem, Transportes e Distribuição em
                            Operadores Logísticos<br/><br/>
                            <b>Mini currículo</b>: Diretor de Qualidade e Gestão Técnica Solistica, farmacêutico
                            pós-graduado em Docência, Logística Empresarial, Supply Chain e Logística Farmacêutica;
                            Autor dos Livros (1) Logística Fundamentos e Processos; (2) Logística um Enfoque Prático;
                            (3) Logística de Produtos Veterinários; Farmacêutico Responsável Técnico da empresa BASF e
                            operações logísticas. Professor Universitário nas instituições UNISAL-SP, FAG-PR, FOC-SP,
                            EMESCAN – ES. Coordenador do Grupo de Trabalho de Logística de Produtos de Interesse a Saúde
                            – CRF-SP, Coordenador do GT de Logística Farmacêutica do SINDUSFARMA.<br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/marcos.jpg}" alt="Foto de Marcos Fava">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="maros">Professor Dr.
                                Marcos Fava Neves</a><br/>
                            18 de Junho de 2021 às 18h<br/>
                            <b>Palestra</b>: Brasil fornecedor mundial de alimentos, bioenergia e agroprodutos<br/><br/>
                            <b>Mini currículo</b>: Professor em tempo parcial das Faculdades de Administração da
                            Universidade de São Paulo em Ribeirão Preto e da FGV em São Paulo. Engenheiro Agrônomo
                            formado pela Escola Superior de Agricultura Luiz de Queiroz (Esalq/USP) em 1991 e fez toda a
                            carreira de pós graduação (mestrado, doutorado e livre-docência) em estratégias empresariais
                            e chegou a professor titular da USP aos 40 anos, tendo sido Chefe do Departamento de
                            Administração da USP em duas gestões. Complementou sua pós graduação em marketing de
                            alimentos e planejamento do agronegócio na França (1995 – no IGIA) e na Holanda (1999 – na
                            Universidade de Wageningen). Desde 2006 é Professor Visitante Internacional da Universidade
                            de Buenos Aires e desde 2013 da Purdue University, Indiana, EUA, onde deu aulas durante todo
                            o ano de 2013. <br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/edson.jpg}" alt="Foto de Edson Dias">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="edson1">Professor Me.
                                Edson Dias</a><br/>
                            19 de Junho de 2021 às 10:30 hrs<br/>
                            <b>Palestra</b>: Os desafios da logística do transporte superdimensionado no
                            agronegócio<br/><br/>
                            <b>Mini currículo</b>: Formado em Administração de Empresas e Direito, com especialização em
                            Administração Geral, Pós Graduação/MBA em Logística Empresarial e SCM, Mestrado Profissional
                            em Administração com ênfase em Empreendedorismo em MPEs; Docente Técnico, Membro do núcleo
                            GD2/Senac (Regionalização PC e PO) atuais e Consultor de Logística, Administração e
                            Negócios; Mais de 25 anos de experiência nas áreas de ADMINISTRAÇÃO/ TRANSPORTES/ LOGÍSTICA/
                            PROJETOS – nacional e internacional.<br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/vicente.jpg}" alt="Foto de Vicente Abate">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="vicente1">Engenheiro -
                                Vicente Abate - Presidente da Abifer (Associação Brasileira da Indústria
                                Ferroviária)</a><br/>
                            19 de Junho de 2021 às 11:30 hrs<br/>
                            <b>Palestra</b>: A expansão do transporte ferroviário brasileiro<br/><br/>
                            <b>Mini currículo</b>: O presidente da Associação Brasileira da Indústria Ferroviária
                            (ABIFER), Vicente Abate, é engenheiro metalurgista formado pela Escola de Engenharia Mauá,
                            pós-graduado em Tratamento Termomecânico de Metais pela Escola Politécnica da Universidade
                            de São Paulo, possui MBA em Marketing pela FGV-SP e Babson College dos EUA, além da
                            participação no PDE (Programa de Desenvolvimento de Executivos) da Fundação Dom Cabral.<br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/fabio_luiz.png}"
                                 alt="Foto de Fabio Luiz Peres Miguel">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="fabioluiz1">Dr. Fabio
                                Luiz Peres Miguel</a><br/>
                            19 de Junho de 2021 às 12:30 hrs<br/>
                            <b>Palestra</b>: Cenário Econômico e o impacto em custo: Um Case de Transporte<br/><br/>
                            <b>Mini currículo</b>: Doutor em Economia na UFRJ com tese sobre Estratégias de Compras das
                            Multinacionais Automobilísticas. Co-Autor do Livro “compras estratégicas” pela edirotra
                            Saraiva. Experiência profissional em Suprimentos, Planejamento Estratégico e Finanças.
                            Trainee de auditoria/consultoria. Trabalhou longo período na indústria automobilística (PSA
                            Peugeot Citroen na Amlat ) na área de suprimentos , custo e planejamento estratégico. Foi
                            Diretor de Compras de Marketing para Zal-Zona America Latina da L’Oréal (11 países) e depois
                            Diretor Geral de Compras no Brasil e Argentina.
                            Atualmente trabalha no Grupo Boticario: de 2014-2018 foi Diretor de Suprimentos e desde 2018
                            é Diretor de Logística para todos os canais (lojas, farmácias, venda direta e
                            ecommerce/omnichanel) sendo respon´savel por 1300 pessoas em 8 Centros de Distribuição pelo
                            Brasil. É Professor de cursos /MBA’s em Compras (Inteligência e Tributação em Compras).<br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

                <div id="blog-author" class="clearfix">
                    <div class="blog-author-img">
                        <a href="https://fateclog.com.br/palestrantes/" target="_blank">
                            <img th:src="@{/images/fateclog/palestrantes/paulo_roberto.jpg}"
                                 alt="Foto de Paulo Roberto">
                        </a>
                    </div>
                    <div class="blog-author-info">
                        <h4 class="author-name">
                            <a href="https://fateclog.com.br/palestrantes/" target="_blank" id="edson2">Professor Paulo
                                Roberto Bertaglia</a><br/>
                            19 de Junho de 2021 às 13:30 hrs<br/>
                            <b>Palestra de Encerramento</b>: Agricultura, logística e tecnologia: criação de
                            valor<br/><br/>
                            <b>Mini currículo</b>: Diretor Executivo da Berthas, atuou nas empresas: IBM, Unilever,
                            Hewlett-Packard e Oracle. Com experiência internacional, atua nas áreas de Supply Chain
                            Management/Logística, Gestão estratégica de Negócios e Mentoria executiva. Atua como
                            Professor em Supply Chain, Logística, Gestão Estratégica de Negócios, Gestão de Vendas,
                            Indústria 4.0 e Liderança, realizando também palestras e cursos in-company. Autor de vários
                            livros entre eles Logística e Gerenciamento da Cadeia de Abastecimento pela Editora Saraiva.
                            É colunista de importantes meios de comunicação. Criador do #prosacombertaglia um canal para
                            disseminação do conhecimento.<br/>
                        </h4>
                    </div>
                </div>
                <!-- /.blog-author -->

            </div>
            <!-- /.col-md-8 -->

            <!-- Here begin Sidebar -->
            <div class="col-md-4">

                <div class="widget-main">
                    <div class="widget-main-title">
                        <h4 class="widget-title">Acesso Rápido</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="blog-categories">
                            <div class="row">
                                <ul class="col-md-12">
                                    <li><a href="https://fateclog.com.br/" target="_blank">Site do FatecLOG</a></li>
                                    <li><a href="#cronograma">Cronograma</a></li>
                                    <li><a href="#palestrantes">Palestrantes</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.blog-categories -->
                    </div>
                    <!-- /.widget-inner -->
                </div>
                <!-- /.widget-main -->

            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
    </div>
</th:block>
<th:block layout:fragment="scripts">
</th:block>
</body>
</html>