<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
      class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{site}">
<head>
    <title>Fatec MC - Gestão Empresarial</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="page-title clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h6>
                        <a th:href="@{/}">Cursos</a>
                    </h6>
                    <h6>
                        <span class="page-active">GESTÃO EMPRESARIAL</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Here begin Main Content -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-post-container">
                            <div class="blog-post-image">
                                <img th:src="@{/images/banner_gestao.jpg}" alt="Gestão Empresarial">
                            </div>
                            <!-- /.blog-post-image -->
                            <div class="blog-post-inner">
                                <h3 class="blog-post-title" id="reconhecimentoAvaliacao">Gestão
                                    Empresarial</h3>
                                <article>
                                    <div class="page-row box box-border">
                                        <ul class="list-unstyled no-margin-bottom">
                                            <li><strong>Início do funcionamento:</strong> <em>01
                                                de agosto de 2015</em></li>
                                            <li><strong>Carga-horária: </strong> <em>2800
                                                horas (3 anos)</em></li>
                                            <li><strong>Vagas: </strong> <em>40</em></li>
                                            <li><strong>Tipo: </strong> <em>EAD</em></li>
                                            <li><strong>Coordenador: </strong> <em><a href="mailto:carla.aguiar@fatec.sp.gov.br">Prof. Carla Alessandra Branca Ramos Silva Aguiar</a></em></li>
                                        </ul>
                                    </div>
                                    <!--//page-row-->
                                    <div class="page-row">
                                        <br/> <a th:href="@{/pdf/projeto_GESTAO.pdf}"
                                                 target="_blank">Clique aqui para abrir o projeto
                                        pedagógico da matriz curricular.</a>
                                        <h5>Reconhecimento e Avaliação</h5>
                                        <p>
                                            O curso de Gestão Empresarial da Fatec Mogi das
                                            Cruzes é reconhecido pelo Ministério da Educação (MEC) e possui
                                            avaliação 5 (EXCELENTE, em uma escala de 1 a 5) no ENADE - Exame
                                            Nacional de Desempenho de Estudantes.
                                        </p>
                                        <h5 id="sobre">Sobre o Curso</h5>
                                        <p>O curso de Tecnologia em Gestão Empresarial (Processos Gerenciais) da
                                            Fatec Mogi das Cruzes, oferecido na modalidade de Ensino a Distância (EAD),
                                            é a graduação ideal para você que já empreende ou quer empreender, bem como
                                            atuar nas áreas de apoio administrativo e logístico de Pequenas e Médias
                                            Empresas (PMEs), e que não tem como se deslocar diariamente para fazer uma
                                            faculdade.
                                        </p>
                                        <h5 id="omercado">O Mercado</h5>
                                        <p>Os profissionais formados podem atuar tanto em âmbito nacional, como gestor,
                                            em razão da formação recebida, como em âmbito estadual com as competências
                                            específicas para atuar nas peculiaridades da economia estadual/regional, em
                                            especial:</p>
                                        <ul>
                                            <li>Em seu próprio negócio (consultoria, turismo, comércio, indústria
                                                etc.)
                                            </li>
                                            <li>Em pequenas empresas</li>
                                            <li>Na continuidade de empresas familiares, modernizando-as</li>
                                            <li>Nas médias empresas da região</li>
                                            <li>No setor público</li>
                                            <li>Nas entidades particulares, tais como cooperativas e associações, entre
                                                outras
                                            </li>
                                        </ul>
                                        <p>O Tecnólogo em Gestão Empresarial elabora e implementa planos de negócios,
                                            utilizando métodos e técnicas de gestão na formação e organização
                                            empresarial especificamente nos processos de comercialização, suprimento,
                                            armazenamento, movimentação de materiais e no gerenciamento de recursos
                                            financeiros e humanos.</p>
                                        <hr/>
                                    </div>
                                    <!--//page-row-->
                                    <div class="tabbed-info page-row" id="matrizHorarioDocentes">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab1" data-toggle="tab">Matriz
                                                Curricular</a></li>
                                            <!--												<li><a href="#tab2" data-toggle="tab">Horário</a></li>-->
<!--                                            <li><a href="#tab3" data-toggle="tab">Corpo Docente</a></li>-->
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <p>
                                                    A seguir, são apresentadas as disciplinas da matriz
                                                    curricular do curso para cada um dos 6 semestres. Se preferir, uma versão
                                                    PDF da matriz curricular pode ser encontrada <a
                                                        th:href="@{/pdf/matriz_curricular_gestao.pdf}"
                                                        target="_blank">aqui.</a>
                                                </p>
                                                <span id="matutino">Disciplinas</span>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th width="33%">1o semestre</th>
                                                            <th width="33%">2o semestre</th>
                                                            <th width="33%">3o semestre</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>Contabilidade</td>
                                                            <td>Comportamento Organizacional</td>
                                                            <td>Organização, Sistemas e Métodos</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Administração Geral</td>
                                                            <td>Sociologia das Organizações</td>
                                                            <td>Gestão e Marketing</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Matemática</td>
                                                            <td>Gestão Ambiental</td>
                                                            <td>Gestão de Pessoas</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Informática Aplicada e Gestão</td>
                                                            <td>Economia</td>
                                                            <td>Matemática Financeira</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sociedade, Tecnologia e Inovação</td>
                                                            <td>Estatística Aplicada a Gestão</td>
                                                            <td>Sistema de Informação</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Comunicação e Expressão</td>
                                                            <td>Métodos para a Produção do Conhecimento</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Projeto Integrador I</td>
                                                            <td>Projeto Integrador II</td>
                                                            <td>Projeto Integrador III</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Inglês I</td>
                                                            <td>Inglês II</td>
                                                            <td>Inglês III</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--//table-responsive-->
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th width="33%">4o semestre</th>
                                                            <th width="33%">5o semestre</th>
                                                            <th width="33%">6o semestre</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>Planejamento de Marketing</td>
                                                            <td>Gestão de Projetos Empresariais</td>
                                                            <td>Desenvolvimento de Negócios</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Gestão Financeira</td>
                                                            <td>Análise de Investimentos</td>
                                                            <td>Planejamento e Gestão Estratégica</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Logística</td>
                                                            <td>Gestão de Produção</td>
                                                            <td>Negócios Internacionais</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Direito Empresarial</td>
                                                            <td>Fundamentos da Gestão de Qualidade</td>
                                                            <td>Sistemas Integrados de Gestão</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Comunicação Empresarial Geral</td>
                                                            <td>Projeto de Trabalho de Graduação</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Atividades Acadêmico-Científico-Culturais</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Espanhol I</td>
                                                            <td>Espanhol II</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Projeto Integrador IV</td>
                                                            <td>Projeto Integrador V</td>
                                                            <td>Projeto Integrador VI</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Inglês IV</td>
                                                            <td>Inglês V</td>
                                                            <td>Inglês VI</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab2" th:if="${schedule != null}">
                                                O horário do curso para o semestre corrente está disponível em PDF <a th:href="@{/horario/GESTAO}" target="_blank">AQUI</a>.
                                            </div>
                                            <div class="tab-pane" id="tab3">
                                                <p>O corpo docente do curso de Gestão Empresarial é formado por
                                                    professores mestres, doutores e
                                                    especialistas de altíssima qualidade.</p>
                                                <div id="blog-author" class="clearfix"
                                                     th:each="employee : ${professors}">
                                                    <a href="#" class="blog-author-img"> <img
                                                            th:src="@{/employees/} + ${employee.hashString + '/image'}"
                                                            alt="Foto do professor">
                                                    </a>
                                                    <div class="blog-author-info">
															<span th:text="${employee.titulation}">Titulation
															</span>
                                                        <h4 class="author-name" th:text="${employee.name}">Name</h4>
                                                        <p th:text="${employee.curriculum}">Curriculum</p>
                                                        <p>
                                                            <a th:href="${employee.lattes}" target="_blank">Clique
                                                                para visitar o currículo Lattes do professor</a>
                                                        </p>
                                                        <p th:if="${null != employee.homepage}">
                                                            <a th:href="${employee.homepage}" target="_blank">Clique
                                                                para visitar o site pessoal do professor</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- /.blog-author -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--//tabbed-info-->
                                </article>
                                <!--//course-item-->
                            </div>
                        </div>
                        <!-- /.blog-post-container -->
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-md-8 -->
            <!-- Here begin Sidebar -->
            <div class="col-md-4">
                <div class="widget-main">
                    <div class="widget-main-title">
                        <h4 class="widget-title">Acesso Rápido</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="blog-categories">
                            <div class="row">
                                <ul class="col-md-12">
                                    <li><a href="#reconhecimentoAvaliacao">Reconhecimento
                                        e avaliação</a></li>
                                    <li><a href="#sobre">Sobre o curso</a></li>
                                    <li><a href="#omercado">O mercado</a></li>
                                    <li><a href="#matrizHorarioDocentes">Matriz
                                        curricular e horário</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.blog-categories -->
                    </div>
                    <!-- /.widget-inner -->
                </div>
                <!-- /.widget-main -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
</th:block>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/biblioteca.js}"></script>
</th:block>
</body>
</html>
