<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{site}">
<head>
<title>Fatec MC - Fatec Mogi das Cruzes</title>
<link rel="stylesheet" th:href="@{/plugins/fancybox/jquery.fancybox.css}" />
<!-- Flex Slider -->
<link rel="stylesheet" th:href="@{/plugins/flex-slider/flexslider.css}">
<link rel="stylesheet" th:href="@{/styles/custom.css}">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div id="promo-slider" class="slider flexslider">
				<ul class="slides">
					<li th:each="highlight : ${highlightList}"><a th:if="${null == highlight.externalLink}" th:href="@{/} + ${highlight.internalPath}"><img
							th:src="@{/news/__${highlight.hashString}__/highlightImage}" th:alt="${highlight.imageAlternativeDescription}" class="banner-image" /> <span
							class="flex-caption"> <span class="main" th:classappend="${highlight.showOnlyOnMobile ? 'visible-xs' : ''}" th:text="${highlight.name}">Name</span>
								<br /> <span th:classappend="${highlight.showOnlyOnMobile ? 'visible-xs' : ''}" class="secondary clearfix" th:text="${highlight.shortDescription}">Description</span>
						</span></a><a class="img-responsive" th:if="${null != highlight.externalLink}" th:href="@{/detalheNoticia(abrirLink=true)} + ${'&hash=' + highlight.hashString}"
						target="_blank"><img th:src="@{/news/__${highlight.hashString}__/highlightImage}" class="banner-image"
							th:alt="${highlight.imageAlternativeDescription}" /> <span class="flex-caption"> <span class="main" th:text="${highlight.name}"
								th:classappend="${highlight.showOnlyOnMobile ? 'visible-xs' : ''}">Name</span> <br /> <span class="secondary clearfix"
								th:text="${highlight.shortDescription}" th:classappend="${highlight.showOnlyOnMobile ? 'visible-xs' : ''}">Description</span>
						</span> </a></li>
				</ul>
				<!--//slides-->
				<div class="clearfix"></div>
			</div>
			<!--//flexslider-->
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">
								Últimas Notícias <a th:href="@{/todasNoticias}">Ver Todas</a>
							</h4>
						</div>
						<div class="widget-inner">
							<div class="row">
								<th:block th:each="news,iter : ${newsList}" th:unless="${iter.index > 5}">
									<div class="col-md-4">
										<div class="translucid-widget">
											<div class="item latest-latest clearfix">
												<div class="post-thumb">
													<a class="img-responsive" th:if="${null == news.externalLink}" th:href="@{/} + ${news.internalPath}"><img class="home-news-image"
														th:src="@{/news/} + ${news.hashString + '/image'}" th:alt="${news.imageAlternativeDescription}" /></a> <a class="img-responsive"
														th:if="${null != news.externalLink}" th:href="@{/detalheNoticia(abrirLink=true)} + ${'&hash=' + news.hashString}" target="_blank"><img
														class="home-news-image" th:src="@{/news/} + ${news.hashString + '/image'}" th:alt="${news.imageAlternativeDescription}" /></a>
												</div>
												<!-- post thumb -->
												<div class="item-content">
													<header>
														<h4 class="post-title">
															<a th:if="${null == news.externalLink}" th:href="@{/} + ${news.internalPath}" th:text="${news.name}" class="block-with-text-short"
																style="display: block">Name</a> <a th:if="${null != news.externalLink}"
																th:href="@{/detalheNoticia(abrirLink=true)} + ${'&hash=' + news.hashString}" target="_blank" th:text="${news.name}"
																class="block-with-text-short" style="display: block">Name</a>
														</h4>
													</header>
													<div class="post-content">
														<!-- metadata -->
														<p th:text="${news.shortDescription}" class="block-with-text-long">Description</p>

														<div class="kopa-metadata-border">
															<span><i class="fa fa-eye kopa-views"></i> <span th:text="${news.views}">Views</span> </span> <a th:if="${null == news.externalLink}"
																th:href="@{/} + ${news.internalPath}" class="kopa-readmore">Saber mais</a> <a th:if="${null != news.externalLink}"
																th:href="@{/detalheNoticia(abrirLink=true)} + ${'&hash=' + news.hashString}" target="_blank" class="kopa-readmore">Saber mais</a>

														</div>
													</div>
												</div>
												<!-- item content -->
											</div>
										</div>
										<!-- /.widget-inner -->
									</div>
									<!-- ./col-md-4 -->
									<div th:if="${iter.index == 2}" class="col-md-12">
										&nbsp;
									</div>
								</th:block>
								<!-- /block -->
							</div>
							<!-- ./row -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Parceiros</h4>
						</div>
						<div class="widget-inner">
							<div class="row">
								<div class="col-md-3 text-center">
									<img th:src="@{/images/parceiros/cisco.jpg}" />
								</div>
								<div class="col-md-3 text-center">
									<img th:src="@{/images/parceiros/emc.jpg}" />
								</div>
								<div class="col-md-3 text-center">
									<img th:src="@{/images/parceiros/live-edu.jpg}" />
								</div>
								<div class="col-md-3 text-center">
									<img th:src="@{/images/parceiros/vp.gif}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script th:src="@{/plugins/fancybox/jquery.fancybox.js}"></script>
		<script th:src="@{/plugins/fancybox/jquery.fancybox.pack.js}"></script>

		<script type="text/javascript" th:src="@{/plugins/flex-slider/jquery.flexslider.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/flex-slider/jquery.mousewheel.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/flex-slider/jquery.easing.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/custom/index.js}"></script>
	</th:block>
</body>
</html>
