<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Intercâmbio</title>
<link rel="stylesheet" th:href="@{/styles/custom/banner_effect.css}" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">INTERCÂMBIO</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div class="blog-post-image">
									<div class="banner-effect">
										<div class="banner-image" id="banner-image-a">
											<img th:src="@{/images/banner_intercambio.jpg}"
												alt="A mão de uma pessoa tocando uma rede de pontos no formato de esfera" />
										</div>
										<div class="banner-image" id="banner-image-b">
											<img th:src="@{/images/banner_intercambio.jpg}"
												alt="A mão de uma pessoa tocando uma rede de pontos no formato de esfera" />
										</div>
										<div class="banner-image" id="banner-image-c">
											<img th:src="@{/images/banner_intercambio.jpg}"
												alt="A mão de uma pessoa tocando uma rede de pontos no formato de esfera" />
										</div>
									</div>
								</div>
								<!-- /.blog-post-image -->
								<div class="blog-post-inner">
									<h3 class="blog-post-title" id="informacoes">Intercâmbio</h3>
									<p>O CPS - Centro Paula Souza promove iniciativas de
										aproximação com diversas universidades, empresas e centros de
										pesquisa em todo o mundo. A Assessoria de Relações
										Internacionais coordena ações voltadas à promoção de
										intercâmbios com o objetivo de aperfeiçoar a formação de
										alunos e professores. Além de vivenciar a multiculturalidade,
										as interações com outros países facilitam o acesso a
										conhecimentos tecnológicos, enriquecendo a formação
										profissional de modo a melhor atender às demandas do setor
										produtivo. O intercâmbio se dá de várias formas, seja por meio
										de viagens e aquisição de experiências internacionais, seja
										virtualmente, por meio de projetos desenvolvidos em
										plataformas online.</p>
									<p>
										Informações sobre oportunidades de intercâmbio para alunos das
										Fatecs e Etecs estão disponíveis <a
											href="http://www.cps.sp.gov.br/tag/intercambio/"
											target="_blank">aqui.</a>
									</p>
									<p>
										Outras opções de bolsas externas ao CPS, como o <a
											href="http://fulbright.org.br/bolsas-para-brasileiros/"
											target="_blank">Full Bright</a>, podem ser encontradas no
										site <a href="https://www.estudarfora.org.br" target="_blank">Estudar
											Fora</a>
									</p>
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->

				</div>
				<!-- /.col-md-8 -->

				<!-- Here begin Sidebar -->
				<div class="col-md-4">

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#informacoes">Informações</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Oportunidades</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#">Não existem oportunidades no momento</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->

				</div>
				<!-- /.col-md-4 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript"
			th:src="@{/plugins/tweenmax/tweenmax.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/scripts/custom/banner_effect.js}"></script>
	</th:block>
</body>
</html>