<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Logística</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Cursos</a>
						</h6>
						<h6>
							<span class="page-active">LOGÍSTICA</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div class="blog-post-image">
									<img th:src="@{/images/banner_logistica.jpg}" alt="">
								</div>
								<!-- /.blog-post-image -->
								<div class="blog-post-inner">
									<h3 class="blog-post-title" id="reconhecimentoAvaliacao">Logística</h3>
									<article>
										<div class="page-row box box-border">
											<ul class="list-unstyled no-margin-bottom">
												<li><strong>Início do funcionamento:</strong> <em>28
														de julho de 2013</em></li>
												<li><strong>Carga-horária: </strong> <em>2800
														horas (3 anos)</em></li>
												<li><strong>Período: </strong> <em>Matutino</em></li>
												<li><strong>Vagas: </strong> <em>40 (matutino)</em></li>
												<li><strong>Tipo: </strong> <em>Presencial</em></li>
												<li><strong>Coordenador: </strong> <em><a href="mailto:f184logistica@cps.sp.gov.br">Prof. Me. Marcos Machry</a></em></li>
											</ul>
										</div>
										<!--//page-row-->
										<div class="page-row">
											<br />
											<h5>Projeto Pedagógico</h5>
											<a th:href="@{/pdf/projeto_LOG.pdf}" target="_blank">Clique aqui para abrir o NOVO projeto pedagógico do curso.</a> <a th:href="@{/pdf/projeto_LOG_antigo.pdf}" target="_blank">Para ver o projeto antigo, clique aqui.</a>
											<h5>Reconhecimento e Avaliação</h5>
											<p>
												O curso de Logística da Fatec
												Mogi das Cruzes é reconhecido pelo Ministério da Educação (MEC) e possui
												avaliação 5 (EXCELENTE, em uma escala de 1 a 5) no ENADE - Exame Nacional
												de Desempenho de Estudantes.
											</p>

											<h5 id="sobre">Sobre o Curso</h5>
											<p>O Curso Superior de Tecnologia em Logística forma o
												profissional especializado em transportes, armazenagem e
												distribuição, este profissional, possui aptidão para
												planejar, operacionalizar e controlar os recursos
												operacionais e administrativos referentes as mais diversas
												maneiras de se disponibilizar produtos e suas informações
												relacionadas ao consumidor final.</p>

											<p>Com disciplinas atualizadas e modernas, o Curso
												Superior de Tecnologia em Logística da Fatec Mogi das
												Cruzes, proporciona ao seu aluno a capacidade de realizar a
												gestão de redes de distribuição, dos recursos produtivos e
												de toda a cadeia de suprimentos. O curso promove, ainda, uma
												visão holística dos recursos organizacionais bem como
												métodos para o aproveitamento dos recursos organizacionais
												com uma maior eficiência.</p>

											<p>Múltiplos fatores fazem com que a logística seja uma
												área cada vez mais importante. Dentre estes fatores,
												destacam-se: a consolidação da globalização, que ocasiona um
												aumento na comercialização de mercadorias entre os mais
												diversos países do mundo; o aumento da compra por meio do
												comércio eletrônico e o consequente aumento do transporte em
												áreas urbanas; a crescente preocupação com os recursos
												ambientais, que faz com que as empresas se preocupem com a
												logística reversa e no desenvolvimento de estratégias
												logísticas que tenham menores impactos ambientais.</p>

											<p>Os custos logísticos representa, conforme o ILOS
												(2017), 12,3% do Produto Interno Bruto (PIB) nacional, o que
												confirma a relevância da área logística para o Brasil e para
												as mais diversas organizações.</p>

											<h5 id="omercado">O Mercado</h5>
											<p>Os profissionais de logística são considerado
												fundamentais dentro do mercado de trabalho. Sendo cada vez
												mais estratégicos, estes profissionais podem fazer a
												diferença entre o sucesso e o fracasso de uma organização.</p>

											<p>A logística está presente em diversas áreas de
												atuação, tais como indústrias, varejos, distribuidores, área
												da saúde, órgãos públicos, empresas prestadoras de serviço
												logístico, operadores logísticos, franqueados, empresas
												de transporte de passageiros, prestadores de serviço no
												comércio eletrônico, agronegócio, entre outras, sendo o
												tecnólogo em logístico preparado para assumir os mais
												diversos níveis organizacionais destas áreas.</p>

											<p>
												Um analista de sistemas, de acordo com a Tabela, ganha entre
												R$ 1.570,00 e R$ 15.269,00, segundo o <a
													href="https://www.guiadacarreira.com.br/salarios/quanto-ganha-um-profissional-de-logistica/"
													target="_blank">Guia da Carreira</a>.
											</p>
											<hr />
										</div>
										<!--//page-row-->
										<div class="tabbed-info page-row" id="matrizHorarioDocentes">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab1" data-toggle="tab">Matriz
														Curricular</a></li>
												<li><a href="#tab2" data-toggle="tab">Horário</a></li>
												<li><a href="#tab3" data-toggle="tab">Corpo Docente</a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab1">
													<p>
														A seguir, são apresentadas as disciplinas da matriz
														curricular do curso para cada um dos 6 semestres - <a
															href="#matutino">matutino</a>.
														Se preferir, uma versão PDF da matriz curricular pode ser
														encontrada <a th:href="@{/pdf/matriz_curricular_log.pdf}"
															target="_blank">aqui.</a>
													</p>
													<span id="matutino">Disciplinas do período
														matutino</span>
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th width="33%">1o semestre</th>
																	<th width="33%">2o semestre</th>
																	<th width="33%">3o semestre</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Projeto Interdisciplinar I</td>
																	<td>Projeto Interdisciplinar II</td>
																	<td>Projeto Interdisciplinar III</td>
																</tr>
																<tr>
																	<td>Logística</td>
																	<td>Modalidade e Intermodalidade</td>
																	<td>Gestão Tributária nas Operações Logísticas</td>
																</tr>
																<tr>
																	<td>Administração Geral</td>
																	<td>Fundamentos da Gestão da Qualidade</td>
																	<td>Gestão de Produção e Operações</td>
																</tr>
																<tr>
																	<td>Cálculo I</td>
																	<td>Contabilidade</td>
																	<td>Economia e Finanças Empresariais</td>
																</tr>
																<tr>
																	<td>Método para Produção do Conhecimento</td>
																	<td>Cálculo Diferencial e Integral</td>
																	<td>Gestão de Equipes</td>
																</tr>
																<tr>
																	<td>Informática Básica</td>
																	<td>Matemática Financeira</td>
																	<td>Pesquisa Operacional</td>
																</tr>
																<tr>
																	<td>Comunicação e Expressão</td>
																	<td>Estatística Aplicada à Gestão</td>
																	<td></td>
																</tr>
																<tr>
																	<td></td>
																	<td>Espanhol I</td>
																	<td>Espanhol II</td>
																</tr>
																<tr>
																	<td>Inglês I</td>
																	<td>Inglês II</td>
																	<td>Inglês III</td>
																</tr>
															</tbody>
														</table>
													</div>
													<!--//table-responsive-->
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th width="33%">4o semestre</th>
																	<th width="33%">5o semestre</th>
																	<th width="33%">6o semestre</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Projeto Interdisciplinar IV</td>
																	<td>Projeto Interdisciplinar V</td>
																	<td>Projeto Interdisciplinar VI</td>
																</tr>
																<tr>
																	<td>Cálculo e Tarifas Logísticos</td>
																	<td>Gestão da Cadeia de Suprimentos</td>
																	<td>Comércio Exterior e Logística</td>
																</tr>
																<tr>
																	<td>Eletiva I</td>
																	<td>Movimentação e Armazenagem</td>
																	<td>Eletiva II</td>
																</tr>
																<tr>
																	<td>Sistemas de Movimentação e Transporte</td>
																	<td>Projeto Aplicado à Logística</td>
																	<td>Gestão de Transporte de Carga e Roteirização</td>
																</tr>
																<tr>
																	<td>Gestão de Estoques</td>
																	<td>Embalagens e Unitização</td>
																	<td>Tecnologia de Transportes</td>
																</tr>
																<tr>
																	<td>Fundamentos de Marketing</td>
																	<td>Inovação e Empreendedorismo</td>
																	<td>Transporte de Cargas Especiais</td>
																</tr>
																<tr>
																	<td>Métodos Quantitativos de Gestão</td>
																	<td>Simulação em Logística</td>
																	<td>Tecnologia da Informação Aplicada à Logística</td>
																</tr>
																<tr>
																	<td>Inglês IV</td>
																	<td>Inglês V</td>
																	<td>Inglês VI</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="tab2" th:if="${schedule != null}">
													O horário do curso para o semestre corrente está disponível em PDF <a th:href="@{/horario/LOG}" target="_blank">AQUI</a>.
												</div>
												<div class="tab-pane" id="tab3">
													<p>O corpo docente do curso de Logística é formado por
														professores mestres, doutores e especialistas de altíssima
														qualidade.</p>
													<div id="blog-author" class="clearfix"
														th:each="employee : ${professors}">
														<a href="#" class="blog-author-img"> <img
															th:src="@{/employees/} + ${employee.hashString + '/image'}"
															alt="Foto do professor">
														</a>
														<div class="blog-author-info">
															<span th:text="${employee.titulation}">Titulation
															</span>
															<h4 class="author-name" th:text="${employee.name}">Name
															</h4>
															<p th:text="${employee.curriculum}">Curriculum</p>
															<p>
																<a th:href="${employee.lattes}" target="_blank">Clique
																	para visitar o currículo Lattes do professor</a>
															</p>
															<p th:if="${null != employee.homepage}">
																<a th:href="${employee.homepage}" target="_blank">Clique
																	para visitar o site pessoal do professor</a>
															</p>
														</div>
													</div>
													<!-- /.blog-author -->
												</div>
											</div>
										</div>
										<!--//tabbed-info-->
									</article>
									<!--//course-item-->
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-8 -->

				<!-- Here begin Sidebar -->
				<div class="col-md-4">

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#reconhecimentoAvaliacao">Reconhecimento
												e avaliação</a></li>
										<li><a href="#sobre">Sobre o curso</a></li>
										<li><a href="#omercado">O mercado</a></li>
										<li><a href="#matrizHorarioDocentes">Matriz
												curricular, horário e corpo docente</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->

				</div>
				<!-- /.col-md-4 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/js/biblioteca.js}"></script>
	</th:block>
</body>
</html>
