<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{site}">

<head>
	<title>Fatec MC - Passe Escolar</title>
	<link rel="stylesheet" th:href="@{/styles/custom/banner_effect.css}" />
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">Área do Aluno</span> <span class="page-active">PASSE
								ESCOLAR</span>
						</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="blog-post-container">
						<div class="blog-post-image">
							<div class="banner-effect">
								<div class="banner-image" id="banner-image-a">
									<img th:src="@{/images/banner_passe_escolar.jpg}"
										alt="As pernas de algumas pessoas no transporte público" />
								</div>
								<div class="banner-image" id="banner-image-b">
									<img th:src="@{/images/banner_passe_escolar.jpg}"
										alt="As pernas de algumas pessoas no transporte público" />
								</div>
								<div class="banner-image" id="banner-image-c">
									<img th:src="@{/images/banner_passe_escolar.jpg}"
										alt="As pernas de algumas pessoas no transporte público" />
								</div>
							</div>
						</div>
						<!-- /.blog-post-image -->
						<div class="blog-post-inner">
							<h3 class="blog-post-title">Passe Escolar</h3>
							<p>>Você pode solicitar seu cadastro como estudante nas empresas EMTU ou SPTRANS, ou
								atestado para Mogi Passes, através nosso site. Fluxo:</p>
							<ul>
								<ol>1. fatecmogidascruzes.com.br</ol>
								<ol>2. Área do Aluno</ol>
								<ol>3. Solicitar Documentos</ol>
								<ol>4. Nova solicitação</ol>
							</ul>

							<p>Ou pelo Link: <a href="https://www.fatecmogidascruzes.com.br/requests/new"
									target="_blank">https://www.fatecmogidascruzes.com.br/requests/new</a>
							</p>
							</p>
							<h4 id="oQueE">O que é o passe escolar?</h4>
							<p>O passe escolar é um benefício oferecido aos alunos e
								professores para que possam se locomover de sua residência à
								instituição de ensino.</p>
							<h4 id="resideEmMogi">Você reside em Mogi das Cruzes?</h4>
							<p>
								Se você reside em Mogi das Cruzes, o cartão <strong>SIM
									Escolar</strong> é destinado a você. De acordo com a legislação vigente,
								os alunos e professores que residem a mais de 1KM de distância
								da Fatec têm direito a 57,89% de desconto no valor da tarifa das
								linhas municipais de transporte. Para a obtenção do cartão, você deve entrar no site da
								(<a href="https://www.mogipasses.com.br" target="_blank">www.mogipasses.com.br</a> ou
								<a href="https://epasse.com.br" target="_blank">https://epasse.com.br</a>) e seguir as
								instruções do site.
								Fluxo:
							</p>
							<ul>
								<ol>1. Crie seu cadastro online no e-Passe</ol>
								<ol>2. Aguarde a confirmação da escola</ol>
								<ol>3. Aguarde a provação da empresa de transporte</ol>
								<ol>4. Escola aplica a presença mensalmente</ol>
							</ul>
							<br />
							<h4 id="naoResideEmMogi">Você reside fora de Mogi das
								Cruzes?</h4>
							<p>
								<strong>EMTU – Cartão TOP (Antigo BOM)</strong>
							</p>
							<p>Para obter o Bom Escolar, solicite à Diretoria de Serviços Acadêmicos (Secretaria) através do site oficial
								(https://www.fatecmogidascruzes.com.br/requests/new ) que inclua seu nome, CPF e RG no
								sistema da EMTU. Em seguida, requisite o seu cartão por meio do site da EMTU.</p>

							<p>Manual Estudante:
							<a href="https://www.emtu.sp.gov.br/licitacao/Arquivos/ManualPasse/Regulamento_Estudantes_RMSP.pdf"
								target="_blank">https://www.emtu.sp.gov.br/licitacao/Arquivos/ManualPasse/Regulamento_Estudantes_RMSP.pdf</a></p>

							<p>
								<strong>SPTRANS – Bilhete Único</strong>
							</p>
							<p>Para obtenção do Bilhete Único Estudante, Para obter o Bom Escolar, solicite à
								Diretoria de Serviços Acadêmicos (Secretaria) através do site oficial (
								<a href="https://www.fatecmogidascruzes.com.br/requests/new"
									target="_blank">https://www.fatecmogidascruzes.com.br/requests/new</a>) que inclua
								seu nome, CPF e RG no
								sistema da SPTRANS, requisite o cartão por meio do site da SPTrans. Orientações:
								<a href="https://estudante.sptrans.com.br/"
									target="_blank">https://estudante.sptrans.com.br/</a>
							</p>
							<p>
								<strong>DEMAIS EMPRESAS DE TRANSPORTE</strong>
							</p>
							<p>Para as demais empresas, como Radial, Pássaro Marrom, Viação Jacareí, e outras,
								solicitamos consultar diretamente a empresa.</p>

							<p>Caso a empresa utilizar formulário, envia-lo já preenchido com dados aluno e assinatura
								para o email ( jean.martins2@fatec.sp.gov.br) ou pessoalmente na Secretaria da Fatec
								Mogi das Cruzes</p>
							</p>
						</div>
					</div>
					<!-- /.blog-post-container -->
				</div>
				<!-- /.col-md-8 -->

				<!-- Here begin Sidebar -->
				<div class="col-md-4">

					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#oQueE">O que é passe escolar?</a></li>
										<li><a href="#resideEmMogi">Instruções para
												residentes de Mogi</a></li>
										<li><a href="#naoResideEmMogi">Instruções para
												residentes de outras cidades</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->

				</div>
				<!-- /.col-md-4 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/plugins/tweenmax/tweenmax.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/custom/banner_effect.js}"></script>
	</th:block>
</body>

</html>