<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Recursos Humanos</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Cursos</a>
						</h6>
						<h6>
							<span class="page-active">RECURSOS HUMANOS</span>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div class="blog-post-image">
									<img th:src="@{/images/banner_rh.jpg}" alt="">
								</div>
								<!-- /.blog-post-image -->
								<div class="blog-post-inner">
									<h3 class="blog-post-title" id="reconhecimentoAvaliacao">Gestão
										de Recursos Humanos</h3>
									<article>
										<div class="page-row box box-border">
											<ul class="list-unstyled no-margin-bottom">
												<li><strong>Início do funcionamento:</strong> <em>03
														de fevereiro de 2011</em></li>
												<li><strong>Carga-horária: </strong> <em>2800
														horas (3 anos)</em></li>
												<li><strong>Períodos: </strong> <em>Matutino
														(manhã)</em></li>
												<li><strong>Vagas: </strong> <em>40 </em></li>
												<li><strong>Tipo: </strong> <em>Presencial</em></li>
												<li><strong>Coordenador: </strong> <em><a href="mailto:f184rh@cps.sp.gov.br">Prof. Dr. Renata Lemes da Silva</a></em></li>
											</ul>
										</div>
										<!--//page-row-->
										<div class="page-row">
											<br /> <a th:href="@{/pdf/projeto_RH_matriz_nova.pdf}"
												target="_blank">Clique aqui para abrir o projeto
 												pedagógico da matriz nova. </a> <!-- <a
<!-- 												th:href="@{/pdf/projeto_RH_matriz_antiga.pdf}" -->
<!-- 												target="_blank">e aqui da matriz antiga.</a> -->
											<h5>Reconhecimento e Avaliação</h5>
											<p>
												O curso de Gestão de Recursos Humanos da Fatec Mogi das
												Cruzes é reconhecido pelo <a
													href="http://emec.mec.gov.br/emec/consulta-cadastro/detalhamento/d96957f455f6405d14c6542552b0f6eb/MTU1NzY=/c1b85ea4d704f246bcced664fdaeddb6/R0VTVMNPIERFIFJFQ1VSU09TIEhVTUFOT1M="
													target="_blank">Ministério da Educação (MEC)</a> e possui
												avaliação 5 (EXCELENTE, em uma escala de 1 a 5) no ENADE - Exame
												Nacional de Desempenho de Estudantes.
											</p>
											<h5 id="sobre">Sobre o Curso</h5>
											<p>Com uma vasta atuação, o profissional de Recursos
												Humanos da Fatec Mogi das Cruzes transita nas áreas de
												gestão de rotinas de pessoal, captação e seleção de
												talentos, remuneração estratégica, saúde e qualidade de
												vida, benefícios, legislação, nas áreas de gestão de pessoas
												em instituições privadas ou públicas, com comunicação
												empresarial e endomarketing, tecnologia, treinamento e
												desenvolvimento, gestão de carreiras e do conhecimento,
												educação a distância, além de vislumbrar a possibilidade de
												empreender na solução de problemas de pessoas com projetos,
												planejamento estratégico e gestão financeira e ainda a
												adquirindo habilidades de dois idiomas: inglês e espanhol,
												além de LIBRAS.</p>
											<p>De um modo geral, as empresas estão verificando que,
												de nada vale possuir um excelente equipamento técnico, um
												excelente produto ou serviço, se não existir um ótimo
												profissional a frente do negócio. São os funcionários que
												atenderão aos clientes, que trabalharão com qualidade,
												comprometimento e que levarão a imagem da empresa junto à
												sociedade. Portanto, investir em pessoas é também promover o
												investimento nas empresas. E o gestor do capital humano, que
												é o mais importante patrimônio da empresa, deve ser o Gestor
												de RH. Muitas situações-problema surgem na área de pessoas e
												estas situações podem ser fontes de matéria-prima para
												soluções inovadoras dentro da área, o que propõe ao curso um
												caráter estratégico, formando um profissional criativo e
												empreendedor.</p>
											<h5 id="omercado">O Mercado</h5>
											<p>O universo de atuação do profissional de Recursos
												Humanos é bastante amplo.</p>
											<p>Diante da atual realidade de crescimento econômico e
												geração de empregos na cidade de Mogi das Cruzes e região,
												faz-se necessária a constante atualização profissional de
												pessoas capazes de gerir profissionais dos mais diversos
												segmentos. Há de se verificar a necessidade de promover a
												capacitação de pessoas para administrar grupos de trabalho,
												liderança, comunicação empresarial, desenvolvimento humano,
												entre outras. Atualmente, o profissional de Recursos Humanos
												(RH) é pessoa responsável por esse desenvolvimento
												intelectual e técnico dos trabalhadores em uma empresa. Cada
												vez mais é comprovada a necessidade do profissional de RH,
												inclusive, vários meios de comunicação (revistas, jornais,
												sites) estão citando essa questão, como publicações como o
												resultado da pesquisa realizada sobre o crescimento da
												procura por profissionais de RH, já que, além das
												multinacionais, médias e empresas familiares também querem
												se profissionalizar. Para que esta profissionalização de
												médias e empresas familiares possa acontecer, necessita-se
												qualificar pessoas para efetivação de processos criteriosos
												e técnicos de recrutamento, seleção, integração, avaliação
												de desempenho, treinamento, segurança do trabalho, entre
												tantas outras atividades desenvolvidas pelo profissional de
												RH.</p>
											<p>O Curso de RH na Fatec Mogi propõe também muitas
												reflexões sobre o mercado de recursos humanos com o objetivo
												de ampliar o leque de atuação profissional indo além da
												empregabilidade, chegando ao mundo do trabalho, onde
												inúmeras possibilidades inovadoras podem ser implementadas.</p>
											<p>
												Um diretor de recursos humanos, de acordo com a Tabela,
												ganha entre R$ 19.000,00 a R$ 28.000,00, segundo o <a
													href="https://www.guiadacarreira.com.br/salarios/quanto-ganha-um-profissional-de-rh/"
													target="_blank">Guia da Carreira</a>.
											</p>
											<hr />
										</div>
										<!--//page-row-->
										<div class="tabbed-info page-row" id="matrizHorarioDocentes">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab1" data-toggle="tab">Matriz
														Curricular</a></li>
												<li><a href="#tab2" data-toggle="tab">Horário</a></li>
												<li><a href="#tab3" data-toggle="tab">Corpo Docente</a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab1">
													<p>
														A seguir, são apresentadas as disciplinas da matriz
														curricular do curso para cada um dos 6 semestres - <a
															href="#matutino">Matutino</a>. Se preferir, uma versão
														PDF da matriz curricular pode ser encontrada <a
															th:href="@{/pdf/matriz_curricular_rh.pdf}"
															target="_blank">aqui.</a>
													</p>
													<span id="matutino">Disciplinas do período Matutino</span>
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th width="33%">1o semestre</th>
																	<th width="33%">2o semestre</th>
																	<th width="33%">3o semestre</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Gestão das Relações Interpessoais</td>
																	<td>Gestão de Pessoas na Administração Pública</td>
																	<td>Informática Aplicada a Gestão de Pessoas I</td>
																</tr>
																<tr>
																	<td>Administração Geral</td>
																	<td>Estatística</td>
																	<td>Legislação Trabalhista e Previdenciária</td>
																</tr>
																<tr>
																	<td>Projeto Integrador I - AAP</td>
																	<td>Espanhol I</td>
																	<td>Gestão das Rotinas de Pessoal I</td>
																</tr>
																<tr>
																	<td>Leitura e Produção de Textos</td>
																	<td>Métodos para Produção do Conhecimento</td>
																	<td>Libras</td>
																</tr>
																<tr>
																	<td>Matemática Elementar</td>
																	<td>Gestão de Pessoas na Administração Pública -
																		AAP</td>
																	<td>Espanhol II</td>
																</tr>
																<tr>
																	<td>Comportamento Organizacional</td>
																	<td>Comunicação Empresarial</td>
																	<td>Gestão do Clima Organizacional - AAP</td>
																</tr>
																<tr>
																	<td>Gestão das Relações Interpessoais AAP</td>
																	<td>Captação e Seleção de Talentos</td>
																	<td>Legislação Trabalhista e Previdenciária</td>
																</tr>
																<tr>
																	<td></td>
																	<td>Projeto Integrador II</td>
																	<td>Fundamentos da Economia</td>
																</tr>
																<tr>
																	<td></td>
																	<td></td>
																	<td>Informática Aplicada a Gestão de Pessoas I AAP</td>
																</tr>
																<tr>
																	<td></td>
																	<td></td>
																	<td>Gestão do Clima Organizacional</td>
																</tr>
																<tr>
																	<td>Inglês I</td>
																	<td>Inglês II</td>
																	<td>Inglês III</td>
																</tr>
															</tbody>
														</table>
													</div>
													<!--//table-responsive-->
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th width="33%">4o semestre</th>
																	<th width="33%">5o semestre</th>
																	<th width="33%">6o semestre</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Empreendedorismo</td>
																	<td>Gestão Financeira</td>
																	<td>Gestão Conhecimento</td>
																</tr>
																<tr>
																	<td>Empreendedorismo AAP</td>
																	<td>Administração Conflitos e Negociação</td>
																	<td>Gestão Conhecimento AAP</td>
																</tr>
																<tr>
																	<td>Informática Aplicada à Gestão de Negócios</td>
																	<td>Endomarketing</td>
																	<td>Auditoria e Qualidade em Gestão de Pessoas</td>
																</tr>
																<tr>
																	<td>Gestão de Carreira</td>
																	<td>Projetos de Recursos Humanos I</td>
																	<td>Projeto de Recursos Humanos II</td>
																</tr>
																<tr>
																	<td>Gestão de Benefícios</td>
																	<td>Projetos de Recursos Humanos I AAP</td>
																	<td>Projeto de Recursos Humanos II AAP</td>
																</tr>
																<tr>
																	<td>Gestão de Rotinas de Pessoal II</td>
																	<td>Saúde e Segurança Ocupacional</td>
																	<td>Gestão da Qualidade de Vida no Trabalho</td>
																</tr>
																<tr>
																	<td>Gestão de Conflitos</td>
																	<td>Saúde e Segurança Ocupacional AAP</td>
																	<td>Consultoria em Gestão de Pessoas</td>
																</tr>
																<tr>
																	<td>Educação Corporativa</td>
																	<td>Remuneração Estratégica</td>
																	<td>Planejamento Estratégico em RH</td>
																</tr>
																<tr>
																	<td>Educação Corporativa AAP</td>
																	<td>Gestão por Competências</td>
																	<td>Ética e Responsabilidade Social Empresarial</td>
																</tr>
																<tr>
																	<td>Inglês IV</td>
																	<td>Inglês V</td>
																	<td>Inglês VI</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="tab2" th:if="${schedule != null}">
													O horário do curso para o semestre corrente está disponível em PDF <a th:href="@{/horario/RH}" target="_blank">AQUI</a>.
												</div>
												<div class="tab-pane" id="tab3">
													<p>O corpo docente do curso de Gestão de Recursos
														Humanos é formado por professores mestres, doutores e
														especialistas de altíssima qualidade.</p>
													<div id="blog-author" class="clearfix"
														th:each="employee : ${professors}">
														<a href="#" class="blog-author-img"> <img
															th:src="@{/employees/} + ${employee.hashString + '/image'}"
															alt="Foto do professor">
														</a>
														<div class="blog-author-info">
															<span th:text="${employee.titulation}">Titulation
															</span>
															<h4 class="author-name" th:text="${employee.name}">Name</h4>
															<p th:text="${employee.curriculum}">Curriculum</p>
															<p>
																<a th:href="${employee.lattes}" target="_blank">Clique
																	para visitar o currículo Lattes do professor</a>
															</p>
															<p th:if="${null != employee.homepage}">
																<a th:href="${employee.homepage}" target="_blank">Clique
																	para visitar o site pessoal do professor</a>
															</p>
														</div>
													</div>
													<!-- /.blog-author -->
												</div>
											</div>
										</div>
										<!--//tabbed-info-->
									</article>
									<!--//course-item-->
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-8 -->
				<!-- Here begin Sidebar -->
				<div class="col-md-4">
					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#reconhecimentoAvaliacao">Reconhecimento
												e avaliação</a></li>
										<li><a href="#sobre">Sobre o curso</a></li>
										<li><a href="#omercado">O mercado</a></li>
										<li><a href="#matrizHorarioDocentes">Matriz
												curricular, horário e corpo docente</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->
				</div>
				<!-- /.col-md-4 -->
			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/js/biblioteca.js}"></script>
	</th:block>
</body>
</html>
