<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Diretoria de Serviços Acadêmicos (Secretaria)</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">DIRETORIA DE SERVIÇOS ACADÊMICOS (SECRETARIA)</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-12">

					<div class="blog-post-container">
						<div class="blog-post-inner">
							<h3 class="blog-post-title" id="sobre">Diretoria de Serviços Acadêmicos (Secretaria)</h3>
							<p>Somos responsáveis pelo atendimento ao aluno; orientação,
								acompanhamento e execução das atividades acadêmicas, além de ser
								o canal de comunicação entre o corpo discente, docentes,
								coordenação de cursos e direção. Portanto, caso precise de algo,
								não hesite, procure algum membro da equipe da Secretaria
								Acadêmica.</p>
							<h3 class="blog-post-title" id="prazosDocumentos">Prazos de
								Documentos</h3>
							<p>* Caso necessite de algum documento específico informar
								detalhadamente.</p>
							<ul>
								<li>Carimbo Controle de Frequência (Passe Estudantil): 03
									dias úteis</li>
								<li>Cadastrado Aluno Passe Estudantil (Sptrans e Emtu): 05
									dias úteis</li>
								<li>Atestado de Matrícula: 05 dias úteis</li>
								<li>Declarações em geral para alunos e ex-alunos: 05 dias
									úteis</li>
								<li>Ofícios e Cartas de Apresentação: 05 dias úteis</li>
								<li>Atestado de Matrícula com disciplina e frequência: 10
									dias úteis</li>
								<li>Histórico Escolar: 10 dias úteis</li>
								<li>Conteúdo Programático de Disciplinas: 10 dias úteis</li>
								<li>Carteira de Identidade Estudantil (2ª via): 30 dias
									úteis</li>
							</ul>
							<h3 class="blog-post-title" id="principaisAtribuicoes">Principais
								Atribuições</h3>
							<ul>
								<li>Controlar e cumprir os prazos fixados no calendário
									acadêmico;</li>
								<li>Emitir atestados, declarações e histórico solicitados
									pelos discentes;</li>
								<li>Orientar e informar os discentes sobre seu movimento
									curricular;</li>
								<li>Orientar, assessorar e acompanhar os discentes nos
									pedidos de transferências, trancamentos de matrículas e
									solicitações de aproveitamento de estudos e outros;</li>
								<li>Executar os procedimentos afetos à
									matrícula/rematrícula;</li>
								<li>Preparar a documentação para cerimônia de colação de
									grau;</li>
								<li>Instruir os processos de registro de diplomas e
									encaminhá-los a CESU;</li>
								<li>Cadastrar discentes/docentes para passe escolar
									(EMTU/SPTRANS);</li>
								<li>Confecção da carteirinha de estudante;</li>
								<li>Publicar e executar o Edital de Vagas Remanescentes.</li>
							</ul>
							<h3 class="blog-post-title" id="horarioAtendimento">Horário
								de Atendimento</h3>
							<dl>
								<dt>Horário de Atendimento presencial (segunda à sexta-feira)</dt>
								<dd>&nbsp;</dd>
								<dd>Manhã: 09h30 às 12h00</dd>
								<dd>Tarde: 14h30 às 17h00</dd>
								<dd>Noite: 18h30 às 21h30</dd>
								<dd> </dd>
								<dd><strong>OBS:</strong> Horário sujeito a alteração em período de férias e recesso escolar.</dd>
							</dl>
						</div>
					</div>

					<div id="blog-author" class="clearfix">
						<div class="blog-author-img" id="equipe">
							<img
								th:src="@{/images/employees/administrative/emilene.jpg}"
								alt="Foto de Emilene Alice Camillo">
						</div>
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="emilene">Emilene Alice Camillo</a><br/>
								Diretora Acadêmica<br/>
								Contato no Teams: <a href="mailto:emilene.camillo@fatec.sp.gov.br">emilene.camillo</a><br/>
								Email do Departamento: <a href="mailto:f184acad@cps.sp.gov.br">f184acad@cps.sp.gov.br</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->

					<div id="blog-author" class="clearfix">
						<div class="blog-author-img">
							<img
								th:src="@{/images/employees/administrative/francisco.jpg}"
								alt="Foto de Francisco Eduardo Alberto de Siqueira Garcia">
						</div>
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="francisco">Francisco Eduardo Alberto de Siqueira Garcia</a><br/>
								Assessor Administrativo<br/>
								Contato no Teams: <a href="mailto:francisco.garcia01@fatec.sp.gov.br">francisco.garcia01</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->

					<div id="blog-author" class="clearfix">
						<div class="blog-author-img">
							<img
									th:src="@{/images/employees/administrative/ingrid.jpg}"
									alt="Foto de Ingrid Caroline dos Santos">
						</div>
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="Ingrid">Ingrid Caroline dos Santos</a><br/>
								Agente Técnico Administrativo <br/>
								Contato no Teams: ingrid.santos42
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->

					<div id="blog-author" class="clearfix">
						<div class="blog-author-img">
							<img
								th:src="@{/images/employees/administrative/jean.jpg}"
								alt="Foto de Jean Augusto Martins">
						</div>
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="Jean">Jean Augusto Martins</a><br/>
								Agente Técnico Administrativo <br/>
								Contato no Teams: <a href="mailto:jean.martins2@fatec.sp.gov.br">jean.martins2</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->

					<div id="blog-author" class="clearfix">
						<div class="blog-author-img">
							<img
									th:src="@{/images/employees/administrative/lucas.jpg}"
									alt="Foto de Jean Augusto Martins">
						</div>
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="Lucas">Lucas Bonilha Grasser de Sousa</a><br/>
								Agente Técnico Administrativo <br/>
								Contato no Teams: <a href="mailto:lucas.sousa61@fatec.sp.gov.br">lucas.sousa61</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->

					<div id="blog-author" class="clearfix">
						<div class="blog-author-img">
							<img
									th:src="@{/images/employees/administrative/renata.jpg}"
									alt="Foto de Renata Michele Silva de Oliveira">
						</div>
						<div class="blog-author-info">
							<h4 class="author-name">
								<a href="#" id="Renata">Renata Michele Silva de Oliveira</a><br/>
								Assessora Técnico Administrativo (ATA) <br/>
								Contato no Teams: <a href="mailto:f184ata@cps.sp.gov.br">f184ata@cps.sp.gov.br</a>
							</h4>
						</div>
					</div>
					<!-- /.blog-author -->
				</div>
				<!-- /.col-md-12 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>