<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - Seleções Públicas</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">Principal</a>
						</h6>
						<h6>
							<span class="page-active">SELEÇÕES PÚBLICAS</span>
						</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<!--/*<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="list-event-item">
										<div class="box-content-inner clearfix">
											<div class="list-event-header">
												<span class="event-place small-text"><i
													class="fa fa-globe"></i>ADS, AGRO</span> <span
													class="event-date small-text"><i
													class="fa fa-calendar-o"></i>8 Julho 2018</span>
												<div class="view-details">
													<a href="#" class="lightBtn">EM ANDAMENTO</a>
												</div>
											</div>
											<h5 class="event-title">
												<a href="event-single.html">Professor por Tempo Determinado</a>
											</h5>
											<p>Concurso por tempo determinado para as disciplinas... Concurso por tempo determinado para as disciplinas... Concurso por tempo determinado para as disciplinas...</p>
											<ul>
												<li>8/jul - <a href="#">Edital de Abertura</a></li>
												<li>9/jul - <a href="#">Edital de Abertura</a></li>
											</ul>
										</div>
										<!-- /.box-content-inner -->
									</div>
									<!-- /.list-event-item -->
								</div>
								<!-- /.col-md-12 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>*/-->
				<!-- /.col-md-6 -->

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="list-event-item">
										<div class="box-content-inner clearfix">
											<div class="list-event-header">
												<span class="event-place small-text"><i
													class="fa fa-globe"></i>CURSO</span> <span
													class="event-date small-text"><i
													class="fa fa-calendar-o"></i>Data</span>
												<div class="view-details">
													<a href="#" class="lightBtn">SITUAÇÃO</a>
												</div>
											</div>
											<h5 class="event-title">
												<a href="event-single.html">Cargo</a>
											</h5>
											<p>Não existem seleções públicas abertos no momento</p>
											<ul>
												<li>Arquivo</li>
											</ul>
										</div>
										<!-- /.box-content-inner -->
									</div>
									<!-- /.list-event-item -->
								</div>
								<!-- /.col-md-12 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-6 -->
				
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="list-event-item">
										<div class="box-content-inner clearfix">
											<div class="list-event-header">
												<span class="event-place small-text"><i
													class="fa fa-globe"></i>CURSO</span> <span
													class="event-date small-text"><i
													class="fa fa-calendar-o"></i>Data</span>
												<div class="view-details">
													<a href="#" class="lightBtn">SITUAÇÃO</a>
												</div>
											</div>
											<h5 class="event-title">
												<a href="event-single.html">Cargo</a>
											</h5>
											<p>Não existem seleções públicas abertos no momento</p>
											<ul>
												<li>Arquivo</li>
											</ul>
										</div>
										<!-- /.box-content-inner -->
									</div>
									<!-- /.list-event-item -->
								</div>
								<!-- /.col-md-12 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-6 -->

			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>