<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
	class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{site}">
<head>
<title>Fatec MC - <th:block th:text="${workGroup.acronym}"></th:block></title>
<link th:href="@{/styles/curso.css}" type="text/stylesheet" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="page-title clearfix">
				<div class="row">
					<div class="col-md-12">
						<h6>
							<a th:href="@{/}">A Fatec</a>
						</h6>
						<h6>
							<span class="page-active" th:text="${workGroup.acronym}">GRUPO</span>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<!-- Here begin Main Content -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="blog-post-container">
								<div class="blog-post-inner" id="reconhecimentoAvaliacao">
									<h3 class="blog-post-title" th:text="${workGroup.name}"></h3>
									<article>
										<div class="page-row">
											<br />
											<h5 id="sobre">Sobre o Grupo</h5>
											<p th:utext="${workGroup.description}">Descrição</p>
											<h5 id="documentos">Documentos</h5>
											<ul th:if="${#lists.size(workGroup.currentDocuments) > 0}">
												<li th:each="document : ${workGroup.currentDocuments}"><a
													target="_blank"
													th:href="@{/admin/workGroups/__${workGroup.hashString}__/reports/__${document.hashString}__}"
													th:text="${document.title}">Documento</a></li>
											</ul>
											<p th:if="${#lists.size(workGroup.currentDocuments) == 0}">Não
												existem documentos.</p>
											<hr />
											<h5 id="boletions">Boletins</h5>
											<ul th:if="${#lists.size(workGroup.currentReports) > 0}">
												<li th:each="document : ${workGroup.currentReports}"><a
													target="_blank"
													th:href="@{/admin/workGroups/__${workGroup.hashString}__/reports/__${document.hashString}__}"
													th:text="${document.title}">Relatório</a></li>
											</ul>
											<p th:if="${#lists.size(workGroup.currentReports) == 0}">Não
												existem boletins.</p>
										</div>
										<!--//page-row-->
									</article>
									<!--//course-item-->
								</div>
							</div>
							<!-- /.blog-post-container -->
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-8 -->
				<!-- Here begin Sidebar -->
				<div class="col-md-4">
					<div class="widget-main">
						<div class="widget-main-title">
							<h4 class="widget-title">Acesso Rápido</h4>
						</div>
						<div class="widget-inner">
							<div class="blog-categories">
								<div class="row">
									<ul class="col-md-12">
										<li><a href="#sobre">Sobre o Grupo</a></li>
										<li><a href="#documentos">Documentos</a></li>
										<li><a href="#boletins">Boletins</a></li>
									</ul>
								</div>
							</div>
							<!-- /.blog-categories -->
						</div>
						<!-- /.widget-inner -->
					</div>
					<!-- /.widget-main -->
				</div>
				<!-- /.col-md-4 -->
			</div>
			<!-- /.row -->
		</div>
	</th:block>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>
