<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Edição de Notícias</title>
<!-- TinyMCE -->
<link rel="stylesheet" th:href="@{/plugins/tinymce/skins/lightgray/skin.min.css}">
<!-- Must include this script FIRST -->
<script th:src="@{/plugins/tinymce/tinymce.min.js}"></script>
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title" th:if="${null == isUpdate}">Nova Notícia</h1>
		<h1 class="page-title" th:if="${null != isUpdate}">Editar Notícia</h1>
	</th:block>
	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse" href="#instructionsCollapse" role="button" aria-expanded="false" aria-contro ls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span> <span class="if-not-collapsed">Clique aqui para ESCONDER as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li th:if="${null == isUpdate}">Preencha os dados do formulário seguinte e selecione o botão 'Salvar', exibido após o formulário, para salvar a
										notícia.</li>
									<li th:if="${null != isUpdate}">Preencha os dados do formulário seguinte e selecione o botão 'Atualizar', exibido após o formulário, para
										atualizar a notícia.</li>
									<li>Os campos marcados com um asterisco <sup class="field-details">*</sup> são obrigatórios e devem ser preenchidos.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content">
						<a th:if="${null != isUpdate}" href="#" data-toggle="modal" data-target="#confirmRemoval"
							class="btn btn-danger btn-sm waves-effect waves-light pull-right"><span class="fa fa-trash"></span> <span>Apagar</span> </a>
						<div class="clearfix"></div>
						<!-- message -->
						<div class="alert alert-dismissible" role="alert" th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/admin/news/save}" th:object="${news}" method="post" enctype="multipart/form-data">
							<input type="hidden" id="hashString" th:field="*{hashString}" /> <input type="hidden" id="currentlyHasImage" th:field="*{currentlyHasImage}" /> <input
								type="hidden" id="currentlyHasHighlightImage" th:field="*{currentlyHasHighlightImage}" /> <input type="hidden" id="currentlyHasBigImage"
								th:field="*{currentlyHasBigImage}" /> <input type="hidden" id="currentlyHasFile" th:field="*{currentlyHasFile}" />
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
									<label for="name">Título: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Informe o título da notícia. Ele não pode ser muito longo, pois pode 'bagunçar' o layout da página principal. IMPORTANTO: Após publicar a notícia, verifique se o layout da página principal continua adequado."><i
											class="fa fa-question-circle"></i></a></label> <span id="nameRemainingLength" class="remaining-length"></span> <span class="remaining-length">caracter(es)
										restante(s)</span> <input maxlength="100" tabindex="1" type="text" class="form-control" id="name" th:field="*{name}"
										placeholder="Qual é o título da notícia?"> <span th:each="error : ${#fields.errors('name')}" class="help-block"> <i
										class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('shortDescription')} ?
									has-error">
									<label for="shortDescription">Breve Descrição: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Informe uma breve descrição da notícia. Ela aparecerá na página principal"><i class="fa fa-question-circle"></i></a></label> <span
										id="shortDescriptionRemainingLength" class="remaining-length"></span> <span class="remaining-length">caracter(es) restante(s)</span>
									<textarea class="form-control" id="shortDescription" tabindex="2" th:field="*{shortDescription}" maxlength="150"
										placeholder="Qual é a breve descrição da notícia?"></textarea>
									<span th:each="error : ${#fields.errors('shortDescription')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('showOnlyOnMobile')} ? has-error">
									<input type="checkbox" id="showOnlyOnMobile" th:field="*{showOnlyOnMobile}" tabindex="3" /><label for="show">&nbsp;&nbsp;O título e a breve
										descrição da notícia devem ser exibidas apenas em dispositivos móveis? notícia? <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="O título e a breve descrição da notícia devem ser exibidas apenas em dispositivos móveis?"><i class="fa fa-question-circle"></i></a>
									</label> <span th:each="erro : ${#fields.errors('showOnlyOnMobile')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('longDescription')} ?
									has-error">
									<label for="longDescription">Conteúdo: <a href="#" aria-hidden="true" data-toggle="tooltip" title="Informe o conteúdo da notícia"><i
											class="fa fa-question-circle"></i></a></label> <span id="longDescriptionRemainingLength" class="remaining-length"></span> <span class="remaining-length">caracter(es)
										restante(s)</span>
									<textarea class="form-control" id="longDescription" tabindex="4" th:field="*{longDescription}" maxlength="30000"
										placeholder="Qual é o conteúdo da notícia?"></textarea>
									<span th:each="error : ${#fields.errors('longDescription')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('link')} ?
									has-error">
									<label for="link">Link: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Informe um link que deve ser aberto quando a notícia for selecionada"><i class="fa fa-question-circle"></i></a></label> <span id="linkRemainingLength"
										class="remaining-length"></span> <span class="remaining-length">caracter(es) restante(s)</span> <input type="text" class="form-control" id="link"
										tabindex="5" th:field="*{link}" maxlength="200" placeholder="Esta notícia deve abrir algum link?" /> <span
										th:each="error : ${#fields.errors('link')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('referenceDate')} ? has-error">
									<label for="referenceDate">Data de Referência*: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Esta notícia é referente a qual data?"><i class="fa fa-question-circle"></i></a></label> <input type="date" class="form-control" id="referenceDate"
										tabindex="6" th:field="*{referenceDate}" required="required" placeholder="Qual é a data de referência da notícia?"> <span
										th:each="error : ${#fields.errors('referenceDate')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('highlight')} ? has-error">
									<input type="checkbox" id="highlight" th:field="*{highlight}" tabindex="7" /><label for="show">&nbsp;&nbsp;Destacar notícia? <a href="#"
										aria-hidden="true" data-toggle="tooltip" title="A notícia deve ser destacada no banner principal da página?"><i class="fa fa-question-circle"></i></a>
									</label> <span th:each="erro : ${#fields.errors('highlight')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
							</div>
							<!-- ./row -->
							<div class="row small-spacing file-group">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('file')} ? has-error">
									<a th:href="@{/admin/news/} + ${news.hashString + '/file'}" th:if="${news.currentlyHasFile}" target="_blank">Clique aqui para ver o arquivo atual</a> <br />
									<label for="file"> <span th:if="${null != isUpdate}">Novo</span> Arquivo: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Uma notícia deve ter uma descrição longa, que será exibida quando o usuário abrir a notícia, ou um arquivo, que também ser exibido na mesma situação"><i
											class="fa fa-question-circle"></i></a>
									</label> <input type="file" id="file" th:field="*{file}" tabindex="8"> <span class="help-block">Envie uma arquivo PDF ou equivalente.</span> <span
										th:each="error : ${#fields.errors('file')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
							</div>
							<div class="row small-spacing file-group">
								<div class="col-xs-12 col-md-4 form-group" th:classappend="${#fields.hasErrors('image')} ? has-error">
									<a href="#" data-toggle="modal" th:if="${news.currentlyHasImage}" data-target="#viewCurrentImage" class="viewImage">Clique aqui para ver a imagem
										atual</a> <br /> <label for="image"> <span th:if="${null != isUpdate}">Nova</span> Imagem*: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Uma notícia deve ter uma imagem pequena, que será exibida na listagem de notícias"><i class="fa fa-question-circle"></i></a>
									</label> <input type="file" id="image" th:field="*{image}" tabindex="9"> <span class="help-block">Envie uma imagem com 435x280 ou maior e com
										proporção igual favor.</span> <span th:each="error : ${#fields.errors('image')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
								<div class="col-xs-12 col-md-8 form-group" th:classappend="${#fields.hasErrors('imageAlternativeDescription')} ? has-error">
									<label for="imageAlternativeDescription">Texto Alternativo para a Imagem*: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Uma descrição alternativa é um texto que explica o conteúdo da imagem para pessoas com deficiência visual"><i class="fa fa-question-circle"></i></a>
									</label> <span id="imageAlternativeDescriptionRemainingLength" class="remaining-length"></span> <span class="remaining-length">caracter(es) restante(s)</span>
									<input maxlength="100" type="text" class="form-control" tabindex="10" id="imageAlternativeDescription" required="required"
										th:field="*{imageAlternativeDescription}" placeholder="Como você poderia descrever essa imagem para pessoas com deficiência visual?"> <span
										th:each="error : ${#fields.errors('imageAlternativeDescription')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing file-group">
								<div class="col-xs-12 col-md-4 form-group" th:classappend="${#fields.hasErrors('bigImage')} ? has-error">
									<a href="#" data-toggle="modal" th:if="${news.currentlyHasBigImage}" data-target="#viewCurrentImage" class="viewImage">Clique aqui para ver a
										imagem grande atual</a> <br /> <label for="bigImage"> <span th:if="${null != isUpdate}">Nova</span> Imagem Grande: <a href="#" aria-hidden="true"
										data-toggle="tooltip" title="Uma notícia deve ter uma imagem grande, que será exibida na listagem de notícias"><i class="fa fa-question-circle"></i></a>
									</label> <input type="file" id="bigImage" th:field="*{bigImage}" tabindex="11"> <span class="help-block">Envie uma imagem com 1410x940 ou maior
										e com proporção igual favor.</span> <span th:each="error : ${#fields.errors('bigImage')}" class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
								<div class="col-xs-12 col-md-8 form-group" th:classappend="${#fields.hasErrors('bigImageAlternativeDescription')} ? has-error">
									<label for="bigImageAlternativeDescription">Texto Alternativo para a Imagem*: <a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Uma descrição alternativa é um texto que explica o conteúdo da imagem para pessoas com deficiência visual"><i class="fa fa-question-circle"></i></a>
									</label> <span id="bigImageAlternativeDescriptionRemainingLength" class="remaining-length"></span> <span class="remaining-length">caracter(es)
										restante(s)</span> <input maxlength="100" type="text" class="form-control" tabindex="12" id="bigImageAlternativeDescription"
										th:field="*{bigImageAlternativeDescription}" placeholder="Como você poderia descrever essa imagem para pessoas com deficiência visual?"> <span
										th:each="error : ${#fields.errors('bigImageAlternativeDescription')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing file-group">
								<div class="col-xs-12 col-md-4 form-group" th:classappend="${#fields.hasErrors('highlightImage')} ? has-error">
									<a href="#" data-toggle="modal" th:if="${news.currentlyHasHighlightImage}" data-target="#viewCurrentHighlightImage" class="viewImage">Clique aqui
										para ver a imagem de destaque atual</a> <br /> <label for="highlightImage"> <span th:if="${null != isUpdate}">Nova</span> Imagem de Destaque: <a
										href="#" aria-hidden="true" data-toggle="tooltip" title="Uma notícia destacada no banner superior da página inicial deve ter uma imagem de destaque"><i
											class="fa fa-question-circle"></i></a>
									</label> <input type="file" id="highlightImage" th:field="*{highlightImage}" tabindex="13"> <span class="help-block">Envie uma imagem de
										destaque com 1140x350 ou maior e com proporção igual.</span> <span th:each="error : ${#fields.errors('highlightImage')}" class="help-block"> <i
										class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
								<div class="col-xs-12 col-md-8 form-group" th:classappend="${#fields.hasErrors('highlightImageAlternativeDescription')} ? has-error">
									<label for="highlightImageAlternativeDescription">Texto Alternativo para a Imagem de Destaque: <a href="#" aria-hidden="true"
										data-toggle="tooltip" title="Uma descrição alternativa é um texto que explica o conteúdo da imagem para pessoas com deficiência visual"><i
											class="fa fa-question-circle"></i></a>
									</label> <span id="highlightImageAlternativeDescriptionRemainingLength" class="remaining-length"></span> <span class="remaining-length">caracter(es)
										restante(s)</span> <input maxlength="100" type="text" class="form-control" tabindex="14" id="highlightImageAlternativeDescription"
										th:field="*{highlightImageAlternativeDescription}" placeholder="Como você poderia descrever essa imagem para pessoas com deficiência visual?">
									<span th:each="error : ${#fields.errors('highlightImageAlternativeDescription')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('hide')} ? has-error">
									<input type="checkbox" id="hide" th:field="*{hide}" tabindex="15" /><label for="show">&nbsp;&nbsp;Não exibir a notícia <a href="#"
										aria-hidden="true" data-toggle="tooltip" title="A notícia deve ser exibida?"><i class="fa fa-question-circle"></i></a>
									</label> <span th:each="erro : ${#fields.errors('hide')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
							</div>
							<button type="submit" th:if="${null == isUpdate}" tabindex="16" class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-content-save"></span> Salvar
							</button>
							<button type="submit" th:if="${null != isUpdate}" tabindex="16" class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-sync"></span> Atualizar
							</button>
							<a class="btn waves-effect waves-light" type="submit" tabindex="17" th:href="@{/accountability/categories}"> <span class="mdi mdi-undo"></span>
								Descartar
							</a>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>
	<th:block layout:fragment="modals">
		<!-- view-current-image -->
		<div id="viewCurrentImage" class="modal fade modal-image" role="dialog" th:if="${news.currentlyHasImage}">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Imagem Atual</h4>
					</div>
					<div class="modal-body text-center">
						<img th:src="@{/admin/news/} + ${news.hashString + '/image'}" th:attr="alt=${news.imageAlternativeDescription}" class="image-thumbnail" />
					</div>
					<div class="modal-footer">
						<a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default pull-right">OK</a>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./view-current-image -->
		<!-- view-current-highlight-image -->
		<div id="viewCurrentImage" class="modal fade modal-image" role="dialog" th:if="${news.currentlyHasHighlightImage}">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Imagem Atual</h4>
					</div>
					<div class="modal-body text-center">
						<img th:src="@{/admin/news/} + ${news.hashString + '/highlightImage'}" th:attr="alt=${news.highlightImageAlternativeDescription}" class="image-thumbnail" />
					</div>
					<div class="modal-footer">
						<a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default pull-right">OK</a>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./view-current-highlight-image -->
		<!-- confirm-removal -->
		<div th:if="${null != isUpdate}" id="confirmRemoval" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Confirmação</h4>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja apagar este depoimento?</p>
					</div>
					<div class="modal-footer">
						<form th:action="@{/admin/news/delete}">
							<input type="hidden" name="hash" th:value="${news.hashString}" id="hashToDelete" />
							<button id="btnYes" class="btn btn-danger pull-right" type="submit">
								<span class="mdi mdi-delete"></span> <span>Sim, desejo</span>
							</button>
							<a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default pull-left"><span class="mdi mdi-undo"></span> <span>Cancelar</span></a>
						</form>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./confirm-removal -->
	</th:block>
	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<script th:src="@{/scripts/news/news-edit.js}"></script>
	</th:block>
</body>
</html>