<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template}">
<head>
<title>Configuração de pré-matrículas | Fatec Mogi das Cruzes</title>
</head>
<body>
  <th:block layout:fragment="page-title">
    <h1 class="page-title">Configuração de pré-matrículas</h1>
  </th:block>
  <th:block layout:fragment="innerContent">
    <div class="row small-spacing">
      <div class="col-xs-12">
        <p>A configuração das pré-matrículas dá-se em 4 passos.</p>
        <div class="alert alert-dismissible" role="alert"
          th:classappend="${'error' == messageType ? 'alert-danger' : 'alert-success'}"
          th:if="${not #strings.isEmpty(message)}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <span th:text="${message}"></span>
        </div>
        <ol>
          <li>
            <p>O primeiro passo envolve a definição do semestre/ano para o qual será feita a
              pré-matrícula. Este é, em geral, o próximo semestre acadêmico.</p>
            <em>
              Atualmente, a pré-matrícula está configurada para <span
                th:text="${currentConfiguredPeriod}"></span>
            </em>
            <p>Após selecionar o semestre/ano, clique em Gravar.</p>
            <form name="form1" method="post" th:object="${viewModel}"
              th:target="@{/admin/enrollment/saveSemesterYear}">
              <input type="number" th:field="*{semester}" />
              <input type="number" th:field="*{year}" />
              <button type="submit">Gravar</button>
            </form>
          </li>
           <li>
            <p>Em seguida, abra <a th:href="@{/admin/SIGAStudent}" target="_blank">este link numa nova aba</a> e carregue o arquivo Excel com os dados dos alunos.</p>
          </li>
           <li>
            <p>Então, <a th:href="@{/admin/enrollment/enableForAdmin}">clique aqui</a> para ativar a pré-matrícula (OBS: ela ainda não aparecerá para os alunos no menu), mas já pode ser testada.</p>
          </li>
           <li>
            <p>Por fim, após registrar o horário e testar a pré-matrícula, <a th:href="@{/admin/enrollment/enableForStudents}">EXIBA</a> ou <a th:href="@{/admin/enrollment/disableForStudents}">ESCONDA</a> o menu para os alunos.</p>
            <p>Caso vá esconder, não esqueça de desabilitá-la de modo geral <a th:href="@{/admin/enrollment/disableForAdmin}">clicando aqui</a> ou um aluno com o link ainda conseguirá fazê-la.</p>
          </li>
        </ol>
      </div>
      <!-- /.col-xs-12 -->
    </div>
  </th:block>
  <th:block layout:fragment="modals">
  </th:block>
  <th:block layout:fragment="js">
  </th:block>
</body>
</html>
