<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Edição de Horários de Aula</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" />
<style>
.easy-autocomplete-container {
	position: absolute;
	cursor: default;
	z-index: 30 !important;
}
</style>
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">Editar Horários de Aula</h1>
	</th:block>
	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse" href="#instructionsCollapse" role="button" aria-expanded="false" aria-controls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span> <span class="if-not-collapsed">Clique aqui para ESCONDER as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li>Selecione o período, curso e o semestre. Em seguida, selecione o botão 'Carregar'.</li>
									<li>Os campos marcados com um asterisco <sup class="field-details">*</sup> são obrigatórios e devem ser preenchidos.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content" style="overflow-x: scroll">
						<!-- message -->
						<div class="alert alert-dismissible" role="alert" th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/enrollment/save}" th:object="${enrollment}" method="post">
							<div class="row small-spacing" style="background-color: #eaeaea; padding: 2em">
								<div class="col-xs-12" style="font-size: 14px">
									<span class="fa fa-question-circle"></span>&nbsp;&nbsp;<strong>Caso queira saber</strong> em que dia será oferecida alguma disciplina de seu interesse,
									<strong>DIGITE</strong> o nome da disciplina abaixo e selecione o botão 'Pesquisar Horário da Disciplina'.<br /> <br />
								</div>
								<div class="col-xs-12 input-group">
									<input maxlength="100" tabindex="1" type="text" class="form-control" required="required" id="disciplineName"
										placeholder="Para qual disciplina deseja saber o dia/horário?">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" onclick="disciplineNameChanged()">Pesquisar Horário da Disciplina</button>
									</div>
								</div>
								<div class="col-xs-12" id="disciplineHours"></div>
							</div>
							<hr />
							<div class="col-xs-12" style="font-size: 18px">
								<span class="fa fa-question-circle"></span>&nbsp;&nbsp;<strong>Para MONTAR o seu</strong> horário, <strong>CLIQUE sobre uma <span
									style="border: 2px dashed #333">CÉLULA TRACEJADA</span></strong> na tabela abaixo e selecione a disciplina que deseja alocar.<br /> <br />
							</div>
							<div class="row small-spacing">
								<div class="col-xs-12 form-group">
									<table id="timetable">
										<thead>
											<tr>
												<th></th>
												<th></th>
												<th>Segunda</th>
												<th>Terça</th>
												<th>Quarta</th>
												<th>Quinta</th>
												<th>Sexta</th>
												<th>Sábado</th>
											</tr>
										</thead>
										<tbody>
											<tr class="morning">
												<th rowspan="6">Manhã</th>
												<th>08:00 às 08:50</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_0800_0850"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_0800_0850"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_0800_0850"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_0800_0850"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_0800_0850"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_0800_0850"></td>
											</tr>
											<tr class="morning">
												<th>08:50 às 09:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_0850_0940"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_0850_0940"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_0850_0940"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_0850_0940"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_0850_0940"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_0850_0940"></td>
											</tr>
											<tr class="morning">
												<th>10:00 às 10:50</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1000_1050"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1000_1050"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1000_1050"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1000_1050"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1000_1050"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1000_1050"></td>
											</tr>
											<tr class="morning">
												<th>10:50 às 11:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1050_1140"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1050_1140"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1050_1140"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1050_1140"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1050_1140"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1050_1140"></td>
											</tr>
											<tr class="morning">
												<th>11:50 às 12:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1150_1240"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1150_1240"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1150_1240"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1150_1240"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1150_1240"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1150_1240"></td>
											</tr>
											<tr class="morning">
												<th>12:40 às 13:30</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1240_1330"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1240_1330"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1240_1330"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1240_1330"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1240_1330"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1240_1330"></td>
											</tr>
											<tr class="afternoon">
												<th rowspan="6">Tarde</th>
												<th>13:00 às 13:50</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1300_1350"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1300_1350"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1300_1350"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1300_1350"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1300_1350"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1300_1350"></td>
											</tr>
											<tr class="afternoon">
												<th>13:50 às 14:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1350_1440"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1350_1440"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1350_1440"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1350_1440"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1350_1440"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1350_1440"></td>
											</tr>
											<tr class="afternoon">
												<th>15:00 às 15:50</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1500_1550"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1500_1550"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1500_1550"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1500_1550"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1500_1550"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1500_1550"></td>
											</tr>
											<tr class="afternoon">
												<th>15:50 às 16:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1550_1640"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1550_1640"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1550_1640"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1550_1640"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1550_1640"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1550_1640"></td>
											</tr>
											<tr class="afternoon">
												<th>16:50 às 17:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1650_1740"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1650_1740"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1650_1740"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1650_1740"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1650_1740"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1650_1740"></td>
											</tr>
											<tr class="afternoon">
												<th>17:40 às 18:30</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1740_1830"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1740_1830"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1740_1830"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1740_1830"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1740_1830"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1740_1830"></td>
											</tr>
											<tr class="night">
												<th rowspan="4">Noite</th>
												<th>19:00 às 19:50</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1900_1950"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1900_1950"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1900_1950"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1900_1950"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1900_1950"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1900_1950"></td>
											</tr>
											<tr class="night">
												<th>19:50 às 20:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_1950_2040"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_1950_2040"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_1950_2040"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_1950_2040"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_1950_2040"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_1950_2040"></td>
											</tr>
											<tr class="night">
												<th>21:00 às 21:50</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_2100_2150"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_2100_2150"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_2100_2150"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_2100_2150"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_2100_2150"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_2100_2150"></td>
											</tr>
											<tr class="night">
												<th>21:50 às 22:40</th>
												<td class="editable" weekDay="MONDAY" timeSlot="T_2150_2240"></td>
												<td class="editable" weekDay="TUESDAY" timeSlot="T_2150_2240"></td>
												<td class="editable" weekDay="WEDNESDAY" timeSlot="T_2150_2240"></td>
												<td class="editable" weekDay="THURSDAY" timeSlot="T_2150_2240"></td>
												<td class="editable" weekDay="FRIDAY" timeSlot="T_2150_2240"></td>
												<td class="editable" weekDay="SATURDAY" timeSlot="T_2150_2240"></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th></th>
												<th></th>
												<th>Segunda</th>
												<th>Terça</th>
												<th>Quarta</th>
												<th>Quinta</th>
												<th>Sexta</th>
												<th>Sábado</th>
											</tr>
										</tfoot>
									</table>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<button type="submit" th:if="${null == isUpdate}" tabindex="16" class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-content-save"></span> Salvar
							</button>
							<button type="submit" th:if="${null != isUpdate}" tabindex="16" class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-sync"></span> Atualizar
							</button>
							<a class="btn waves-effect waves-light" type="submit" tabindex="17" th:href="@{/admin/employees}"> <span class="mdi mdi-undo"></span> Descartar
							</a>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>
	<th:block layout:fragment="modals">
		<!-- discipline-selection -->
		<div id="discipline-selection" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Escolha de Disciplina</h4>
					</div>
					<div class="modal-body">
						<p>
							Que disciplina você deseja alocar na <span id="modalWeekDay">segunda-feira</span>, <span id="modalTimeSlot">08:00 às 08:50</span>
						</p>
						<div class="row small-spacing">
							<div class="col-xs-12">
								<select class="form-control" id="slotDisciplines" required="required">
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<form>
							<button id="btnYes" class="btn btn-danger pull-right" type="button" onclick="allocate()">
								<span class="mdi mdi-delete"></span> <span>Alocar</span>
							</button>
							<a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default pull-left"><span class="mdi mdi-undo"></span> <span>Cancelar</span></a>
						</form>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./discipline-selection -->
	</th:block>
	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
		<script th:inline="javascript">
			let enrollment = [(${enrollment})];
			
			let selectedDisciplines = {};

			//***********************************
			// Names.
			let timeSlotNames = {};
			timeSlotNames['T_0800_0850']  ="08:00 às 08:50";
		    timeSlotNames['T_0850_0940']  ="08:50 às 09:40";
			timeSlotNames['T_1000_1050']  ="10:00 às 10:50";
		    timeSlotNames['T_1050_1140']  ="10:50 às 11:40";
			timeSlotNames['T_1150_1240']  ="11:50 às 12:40";
		    timeSlotNames['T_1240_1330']  ="12:40 às 13:30";
			timeSlotNames['T_1300_1350']  ="13:00 às 13:50";
		    timeSlotNames['T_1350_1440']  ="13:50 às 14:40";
			timeSlotNames['T_1500_1550']  ="15:00 às 15:50";
		    timeSlotNames['T_1550_1640']  ="15:50 às 16:40";
			timeSlotNames['T_1650_1740']  ="16:50 às 17:40";
		    timeSlotNames['T_1740_1830']  ="17:40 às 18:30";
			timeSlotNames['T_1900_1950']  ="19:00 às 19:50";
		    timeSlotNames['T_1950_2040']  ="19:50 às 20:40";
			timeSlotNames['T_2100_2150']  ="21:00 às 21:50";
		    timeSlotNames['T_2150_2240']  ="21:50 às 22:40";
	
		    let weekDayNames = {};
		    weekDayNames['MONDAY'] = 'Segunda-feira';
		    weekDayNames['TUESDAY'] = 'Terça-feira';
		    weekDayNames['WEDNESDAY'] = 'Quarta-feira';
		    weekDayNames['THURSDAY'] = 'Quinta-feira';
		    weekDayNames['FRIDAY'] = 'Sexta-feira';
		    weekDayNames['SATURDAY'] = 'Sábado';
		    
			//***********************************
			// Course search autocomplete.
			var options = {
				data: enrollment.disciplines,
				getValue: function(element) {
				    return element.name;
				},
				list: {
					match: {
						enabled: true
					}
				}
			};
			$("#disciplineName").easyAutocomplete(options);
			//***********************************
			
			function disciplineNameChanged() {
			    let disciplineName = $('#disciplineName').val();
			    $.each(enrollment.disciplines, function(i, val) {
				    if (disciplineName === val.name) {
						let hours = val.hours.split(",");
						let hoursText = '';
						for(let j = 0; j < hours.length; j++) {
						    hoursText += hours[j] + '<br />';
						}
						$('#disciplineHours').html(`<pre>A disciplina ${disciplineName} está sendo oferecida no seguinte horário (TODOS são horários de uma única disciplina):<br />${hoursText}</pre>`);
				        return;
				    }
				});
			}
			
			
		    let selectedWeekDay = null;
		    let selectedTimeSlot = null;
			$('td').on('click', function() {
			    selectedWeekDay = $(this).attr('weekDay');
			    selectedTimeSlot = $(this).attr('timeSlot');
			    
			    if(hasAnyDisciplinaAllocatedIn(selectedWeekDay, selectedTimeSlot)) {
					alert('Você já tem uma disciplina alocada neste dia/horário. Remova esta disciplina antes de adicionar outra neste dia/horário. Clique na LIXEIRA VERMELHA ao lado da disciplina para isso.')
					return;
			    }
			    
			    $('#modalWeekDay').text(weekDayNames[selectedWeekDay]);
			    $('#modalTimeSlot').text(timeSlotNames[selectedTimeSlot]);
			   
			   let $slotDisciplines = $('#slotDisciplines');
			   
			   $slotDisciplines
			       .empty()
			       .append('<option value="" selected="selected">Selecione a disciplina</option>');
			   
			   $.each(enrollment.disciplines, function(i, val) {
				   $.each(val.classes, function(i1, val1) {
				       if(selectedWeekDay === val1.weekDay && selectedTimeSlot === val1.timeSlot) {
						   $slotDisciplines
						       .append(`<option value="${val.hashString}">${val.name}</option>`);								   
				       }
				   });
				});
			   
			   $('#discipline-selection').modal('show'); 
			});
			
			function performAllocation(discipline) {
			    // Check for conflicts.
				let conflict = false;
				$.each(discipline.classes, function(i, val) {
				    if(hasAnyDisciplinaAllocatedIn(val.weekDay, val.timeSlot)) {
						alert(`Você já tem uma disciplina alocada na ${weekDayNames[val.weekDay]}, ${timeSlotNames[val.timeSlot]}. Remova esta disciplina primeiro caso deseje fazer uma nova alocação`);
						conflict = true;
						return;
				    }
				});
				if(conflict) {
				    return;
				} else {
				    
				    // Check the enforced disciplines.
				    for(let j = 0; j < discipline.enforcements.length; j++) {
					
						let disciplineHashString = discipline.enforcements[j];
						let enforcedDiscipline = getDisciplineByHashString(disciplineHashString);
						
						$.each(enforcedDiscipline.classes, function(i, val) {
						    if(hasAnyDisciplinaAllocatedIn(val.weekDay, val.timeSlot)) {
								alert(`Você já tem uma disciplina alocada na ${weekDayNames[val.weekDay]}, ${timeSlotNames[val.timeSlot]}. Uma disciplina que deve ser cursada em conjunto com a que selecionou também está neste horário. Remova esta disciplina primeiro caso deseje fazer uma nova alocação`);
								conflict = true;
								return;
						    }
						});					
				    }
				    
				}
				if(conflict) {
				    return;
				}
				
				// Allocate the discipline.
				$.each(discipline.classes, function(i, val) {
				    $(`td[weekDay=${val.weekDay}][timeSlot=${val.timeSlot}]`).html(generateHTMLForDiscipline(discipline));
				});
				
				console.log(discipline.enforcements.length);
			    for(let j = 0; j < discipline.enforcements.length; j++) {
				
					let disciplineHashString = discipline.enforcements[j];
					let enforcedDiscipline = getDisciplineByHashString(disciplineHashString);
					
					$.each(enforcedDiscipline.classes, function(i, val) {
					    $(`td[weekDay=${val.weekDay}][timeSlot=${val.timeSlot}]`).html(generateHTMLForDiscipline(enforcedDiscipline));
					});					
			    }
			}
			
			function allocate() {
			    $('#discipline-selection').modal('hide');

			    // Check whether there is a conflict with the existing allocation.
				let disciplineHashString = $( "#slotDisciplines option:selected" ).val();
				let discipline = getDisciplineByHashString(disciplineHashString);
				
				performAllocation(discipline);
			}
			
			function hasAnyDisciplinaAllocatedIn(weekDay, timeSlot) {
			    let numberOfChildren = $(`td[weekDay=${weekDay}][timeSlot=${timeSlot}]`).children().length;
			    return numberOfChildren > 0;
			}

			function removeDiscipline(disciplineHashString, e) {
			    $(`td span[disciplineHashString=${disciplineHashString}]`).parent().empty();
			    
			    let discipline = getDisciplineByHashString(disciplineHashString);
			    
			    console.log(discipline.enforcements);
			    for(let j = 0; j < discipline.enforcements.length; j++) {
				
					let disciplineHashString = discipline.enforcements[j];
					let enforcedDiscipline = getDisciplineByHashString(disciplineHashString);
					
					$(`td span[disciplineHashString=${enforcedDiscipline.hashString}]`).parent().empty();
			    }
			    
			    
			    e.preventDefault();
			    e.stopPropagation();			    
			}
			
			function generateHTMLForDiscipline(discipline) {
			    return `<span style="background-color: #2874a6; color:white; padding: 5px" disciplineHashString='${discipline.hashString}'>${discipline.name} <a href="#" onclick='removeDiscipline("${discipline.hashString}", event)'><i class='fa fa-trash fa-1x text-danger' style="background-color:white"></i></a></span>`;
			}
			
			function getDisciplineByHashString(disciplineHashString) {
			    let returnValue = null;
			    $.each(enrollment.disciplines, function(i, val) {
			       if(jQuery.trim(disciplineHashString) === jQuery.trim(val.hashString)) {
				   		returnValue = val;
				        return;
			       }
				});
			   return returnValue;
			}
			
			function checkConflictBetween(discipline1Acronym, discipline2Acronym) {
							    
			}
	
		</script>
	</th:block>
</body>
</html>