<!DOCTYPE html>
<html th:with="idioma=${#locale.language}" th:lang="${idioma}"
      class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{site}">
<head>
    <meta name="_context_path" th:content="@{/}"/>
    <title>Fatec MC - Pré-Matrícula</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css"/>
    <!-- CSS Personalizado -->
    <link rel="stylesheet" th:href="@{/styles/custom.css}"/>
    <style>
        .easy-autocomplete-container {
            position: absolute;
            cursor: default;
            z-index: 30 !important;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="page-title clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h6>
                        <a th:href="@{/}">Principal</a>
                    </h6>
                    <h6>
                        <span class="page-active">PRÉ-MATRÍCULA</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Here begin Main Content -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-post-container">
                            <div class="blog-post-inner">
                                <h1 th:text="${student.name}"></h1>
                                <h3
                                        th:text="${student.course.name + ' (' + student.course.shift.name + ')'}"></h3>
                                <hr/>
                                <div class="instructions">
                                    <a class="collapsed" data-toggle="collapse"
                                       href="#instructionsCollapse" role="button"
                                       aria-expanded="false" aria-controls="instructionsCollapse"><span
                                            class="if-collapsed">Clique aqui para EXIBIR as
												instruções</span> <span class="if-not-collapsed">Clique aqui
												para ESCONDER as instruções</span> </a>
                                    <div class="collapse" id="instructionsCollapse">
                                        <div class="card card-body">
                                            <strong>INSTRUÇÕES:</strong>
                                            <ul>
                                                <li>Selecione o período, curso e o semestre. Em
                                                    seguida, selecione o botão 'Carregar'.
                                                </li>
                                                <li>Os campos marcados com um asterisco <sup
                                                        class="field-details">*</sup> são obrigatórios e devem ser
                                                    preenchidos.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-title -->
                                <div class="card-content" style="overflow-x: scroll">
                                    <!-- message -->
                                    <div class="alert alert-dismissible" role="alert"
                                         th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
                                         th:if="${not #strings.isEmpty(message)}">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <span
                                                th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
                                    </div>
                                    <!-- ./message -->
                                    <form autocomplete="off" th:action="@{/enrollment/save}"
                                          th:object="${enrollment}" method="post" enctype="multipart/form-data"
                                          name="enrolled">
                                        <input type="hidden" id="hasFile" th:value="${fileLoaded}"/>
                                        <input type="hidden" id="needFile" value="false"/>
                                        <input type="hidden" id="needFileAmount" value="0"/>
                                        <div class="row small-spacing"
                                             style="background-color: #eaeaea; padding: 2em">
                                            <div class="col-xs-12" style="font-size: 14px">
                                                <span class="fa fa-question-circle"></span>&nbsp;&nbsp;<strong>Caso
                                                queira saber</strong> em que dia será oferecida alguma disciplina
                                                de seu interesse, <strong>DIGITE</strong> o nome da
                                                disciplina abaixo e selecione o botão 'Pesquisar Horário da
                                                Disciplina'.<br/><br/>
                                            </div>
                                            <div class="col-xs-12 input-group">
                                                <input maxlength="100" tabindex="1" type="text"
                                                       class="form-control" id="disciplineName"
                                                       placeholder="Para qual disciplina deseja saber o dia/horário?">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            onclick="disciplineNameChanged()">Pesquisar
                                                        Horário da Disciplina
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-xs-12" id="disciplineHours"></div>
                                        </div>
                                        <hr/>
                                        <div class="row small-spacing">
                                            <div class="col-xs-12">
                                                <input type="checkbox" id="internship"
                                                       name="internship" th:checked="${true == internship}"/><label
                                                    for="internship">&nbsp;&nbsp;Desejo matricular-me
                                                em estágio
                                            </label>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="checkbox" id="capstoneProject"
                                                       name="capstoneProject"
                                                       th:checked="${true == capstoneProject}"/><label
                                                    for="capstoneProject">&nbsp;&nbsp;Desejo
                                                matricular-me em Trabalho de Conclusão de Curso/Trabalho
                                                de Graduação (TCC/TG)
                                            </label>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="col-xs-12" style="font-size: 18px">
                                            <span class="fa fa-question-circle"></span>&nbsp;&nbsp;<strong>Para
                                            MONTAR o seu</strong> horário, <strong>CLIQUE sobre uma <span
                                                style="border: 2px dashed #333">CÉLULA TRACEJADA</span></strong> na
                                            tabela abaixo e selecione a disciplina que deseja alocar.<br/>
                                            <br/>
                                        </div>

                                        <!-- Included attachment file to submit document -->
                                        <div class="box-content card white">
                                            <div class="instructions" style="background-color: #eaeaea; padding: 2em">
                                                <div class="card card-body">
                                                    <strong>ÁREA DE ENVIO DE DECLARAÇÃO TRABALHO/ESTÁGIO</strong>
                                                    <ul>
                                                        <li>Excepcionalmente, alunos que <b>IRÃO SE FORMAR NESSE SEMESTRE
                                                            (2021.02)</b> e necessitarem cursar disciplinas em outro turno,
                                                            deverão anexar uma declaração de próprio punho informando o
                                                            motivo da solicitação;
                                                        </li>
                                                        <li>Caso necessite cursar uma disciplina em outro período
                                                            (motivo trabalho/estágio) você deverá, obrigatoriamente,
                                                            anexar uma declaração da empresa informando nome por extenso
                                                            do aluno, horário e assinado pelo responsável /rh da empresa;
                                                        </li>
                                                        <li>Além da declaração de trabalho, será analisado o histórico
                                                            de disciplinas (frequência e nota);
                                                        </li>
                                                        <li>No caso de submissão de um arquivo digitalizado que não
                                                            justifique a inscrição das disciplinas fora do período
                                                            letivo, a pré-matrícula será rejeitada; e
                                                        </li>
                                                        <li>Selecione o arquivo PDF com a justificativa e clique em <b>Carregar</b>.
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="card-content">
                                                    <div class="row small-spacing">
                                                        <div class="col-xs-12 form-group">
                                                            <!-- th:classappend="${#fields.hasErrors('attachObj.attachment')} ? has-error"-->
                                                            <a th:href="@{/enrollment/} + ${hash + '/file'}"
                                                               target="_blank" th:if="${fileLoaded}"
                                                               th:text="${'Clique aqui para baixar o documento ' + fileName + ' já carregado'}"
                                                               class="viewImage"></a>
                                                            </br>
                                                            <label for="type">Declaração (Máx: 10MB)*: <a href="#"
                                                                                                          aria-hidden="true"
                                                                                                          data-toggle="tooltip"
                                                                                                          title="Selecione o arquivo PDF contendo a declaração digitalizada">
                                                                <i class="fa fa-question-circle"></i></a></label>
                                                            </br>
                                                            <input type="file" id="file" name="file"
                                                                   class="form-control-file" accept="application/pdf"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                            </div>
                                        </div>

                                        <div class="row small-spacing">
                                            <div class="col-xs-12 form-group">
                                                <table id="timetable">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Segunda</th>
                                                        <th>Terça</th>
                                                        <th>Quarta</th>
                                                        <th>Quinta</th>
                                                        <th>Sexta</th>
                                                        <th>Sábado</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="morning">
                                                        <th rowspan="6">Manhã</th>
                                                        <th>08:00 às 08:50</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_0800_0850"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_0800_0850"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_0800_0850"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_0800_0850"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_0800_0850"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_0800_0850"></td>
                                                    </tr>
                                                    <tr class="morning">
                                                        <th>08:50 às 09:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_0850_0940"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_0850_0940"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_0850_0940"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_0850_0940"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_0850_0940"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_0850_0940"></td>
                                                    </tr>
                                                    <tr class="morning">
                                                        <th>10:00 às 10:50</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1000_1050"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1000_1050"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1000_1050"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1000_1050"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1000_1050"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1000_1050"></td>
                                                    </tr>
                                                    <tr class="morning">
                                                        <th>10:50 às 11:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1050_1140"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1050_1140"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1050_1140"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1050_1140"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1050_1140"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1050_1140"></td>
                                                    </tr>
                                                    <tr class="morning">
                                                        <th>11:50 às 12:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1150_1240"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1150_1240"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1150_1240"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1150_1240"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1150_1240"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1150_1240"></td>
                                                    </tr>
                                                    <tr class="morning">
                                                        <th>12:40 às 13:30</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1240_1330"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1240_1330"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1240_1330"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1240_1330"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1240_1330"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1240_1330"></td>
                                                    </tr>
                                                    <tr class="afternoon">
                                                        <th rowspan="6">Tarde</th>
                                                        <th>13:00 às 13:50</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1300_1350"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1300_1350"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1300_1350"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1300_1350"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1300_1350"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1300_1350"></td>
                                                    </tr>
                                                    <tr class="afternoon">
                                                        <th>13:50 às 14:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1350_1440"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1350_1440"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1350_1440"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1350_1440"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1350_1440"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1350_1440"></td>
                                                    </tr>
                                                    <tr class="afternoon">
                                                        <th>15:00 às 15:50</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1500_1550"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1500_1550"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1500_1550"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1500_1550"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1500_1550"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1500_1550"></td>
                                                    </tr>
                                                    <tr class="afternoon">
                                                        <th>15:50 às 16:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1550_1640"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1550_1640"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1550_1640"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1550_1640"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1550_1640"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1550_1640"></td>
                                                    </tr>
                                                    <tr class="afternoon">
                                                        <th>16:50 às 17:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1650_1740"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1650_1740"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1650_1740"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1650_1740"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1650_1740"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1650_1740"></td>
                                                    </tr>
                                                    <tr class="afternoon">
                                                        <th>17:40 às 18:30</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1740_1830"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1740_1830"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1740_1830"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1740_1830"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1740_1830"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1740_1830"></td>
                                                    </tr>
                                                    <tr class="night">
                                                        <th rowspan="4">Noite</th>
                                                        <th>19:00 às 19:50</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1900_1950"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1900_1950"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1900_1950"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1900_1950"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1900_1950"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1900_1950"></td>
                                                    </tr>
                                                    <tr class="night">
                                                        <th>19:50 às 20:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_1950_2040"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_1950_2040"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_1950_2040"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_1950_2040"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_1950_2040"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_1950_2040"></td>
                                                    </tr>
                                                    <tr class="night">
                                                        <th>21:00 às 21:50</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_2100_2150"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_2100_2150"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_2100_2150"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_2100_2150"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_2100_2150"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_2100_2150"></td>
                                                    </tr>
                                                    <tr class="night">
                                                        <th>21:50 às 22:40</th>
                                                        <td class="editable" weekDay="MONDAY"
                                                            timeSlot="T_2150_2240"></td>
                                                        <td class="editable" weekDay="TUESDAY"
                                                            timeSlot="T_2150_2240"></td>
                                                        <td class="editable" weekDay="WEDNESDAY"
                                                            timeSlot="T_2150_2240"></td>
                                                        <td class="editable" weekDay="THURSDAY"
                                                            timeSlot="T_2150_2240"></td>
                                                        <td class="editable" weekDay="FRIDAY"
                                                            timeSlot="T_2150_2240"></td>
                                                        <td class="editable" weekDay="SATURDAY"
                                                            timeSlot="T_2150_2240"></td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Segunda</th>
                                                        <th>Terça</th>
                                                        <th>Quarta</th>
                                                        <th>Quinta</th>
                                                        <th>Sexta</th>
                                                        <th>Sábado</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- ./col -->
                                        </div>
                                        <!-- ./row -->
                                        <button type="button"
                                                class="btn btn-primary btn-sm waves-effect waves-light pull-right"
                                                onclick="sendEnrollments()">
                                            <span class="mdi mdi-content-save"></span> Salvar
                                        </button>
                                    </form>
                                </div>
                                <!-- /.card-content -->
                            </div>
                            <!-- ./blog-post-inner -->
                        </div>
                        <!-- /.blog-post-container -->
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-md-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- discipline-selection -->
    <div id="discipline-selection" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Escolha de Disciplina</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Que disciplina você deseja alocar na <span id="modalWeekDay">segunda-feira</span>,
                        <span id="modalTimeSlot">08:00 às 08:50</span>
                    </p>
                    <div class="row small-spacing">
                        <div class="col-xs-12">
                            <select class="form-control" id="slotDisciplines"
                                    required="required">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form>
                        <button id="btnYes" class="btn btn-danger pull-right"
                                type="button" onclick="allocate()">
                            <span class="mdi mdi-delete"></span> <span>Alocar</span>
                        </button>
                        <a href="#" data-dismiss="modal" aria-hidden="true"
                           class="btn btn-default pull-left"><span class="mdi mdi-undo"></span>
                            <span>Cancelar</span></a>
                    </form>
                </div>
            </div>
            <!-- ./Modal content-->
        </div>
    </div>
    <!-- ./discipline-selection -->
</th:block>
<th:block layout:fragment="scripts">
    <script th:src="@{/scripts/form-field-length-counter.js}"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script th:inline="javascript">
        let studentHash = '[(${student.hashString})]';
        let studentCourse = '[(${student.course.acronym})]';
        let studentShift = '[(${student.course.shift})]';
        let enrollment = [(${enrollment})];
        let enrolled = [(${enrolled})];

        let selectedDisciplines = {};

        //***********************************
        // Names.
        let timeSlotNames = {};
        timeSlotNames['T_0800_0850'] = "08:00 às 08:50";
        timeSlotNames['T_0850_0940'] = "08:50 às 09:40";
        timeSlotNames['T_1000_1050'] = "10:00 às 10:50";
        timeSlotNames['T_1050_1140'] = "10:50 às 11:40";
        timeSlotNames['T_1150_1240'] = "11:50 às 12:40";
        timeSlotNames['T_1240_1330'] = "12:40 às 13:30";
        timeSlotNames['T_1300_1350'] = "13:00 às 13:50";
        timeSlotNames['T_1350_1440'] = "13:50 às 14:40";
        timeSlotNames['T_1500_1550'] = "15:00 às 15:50";
        timeSlotNames['T_1550_1640'] = "15:50 às 16:40";
        timeSlotNames['T_1650_1740'] = "16:50 às 17:40";
        timeSlotNames['T_1740_1830'] = "17:40 às 18:30";
        timeSlotNames['T_1900_1950'] = "19:00 às 19:50";
        timeSlotNames['T_1950_2040'] = "19:50 às 20:40";
        timeSlotNames['T_2100_2150'] = "21:00 às 21:50";
        timeSlotNames['T_2150_2240'] = "21:50 às 22:40";

        let weekDayNames = {};
        weekDayNames['MONDAY'] = 'Segunda-feira';
        weekDayNames['TUESDAY'] = 'Terça-feira';
        weekDayNames['WEDNESDAY'] = 'Quarta-feira';
        weekDayNames['THURSDAY'] = 'Quinta-feira';
        weekDayNames['FRIDAY'] = 'Sexta-feira';
        weekDayNames['SATURDAY'] = 'Sábado';

        //***********************************
        // Course search autocomplete.
        var options = {
            data: enrollment.disciplines,
            getValue: function (element) {
                return element.acronym + " - " + element.name;
            },
            list: {
                match: {
                    enabled: true
                }
            }
        };
        $("#disciplineName").easyAutocomplete(options);
        //***********************************

        $(document).ready(function () {
            loadData();
            $("#file").change(function () {
                $("#hasFile").val("true");
            });
        });


        function loadData() {
            $.each(enrolled.disciplines, function (i, val) {
                $.each(val.classes, function (i, val1) {
                    $(`td[weekDay=${val1.weekDay}][timeSlot=${val1.timeSlot}]`).html(generateHTMLForDiscipline(val));
                });
            });
        }

        function disciplineNameChanged() {
            let disciplineName = $('#disciplineName').val();
            $.each(enrollment.disciplines, function (i, val) {
                if (disciplineName === val.name) {
                    let hours = val.hours.split(",");
                    let hoursText = '';
                    for (let j = 0; j < hours.length; j++) {
                        hoursText += hours[j] + '<br />';
                    }
                    $('#disciplineHours').html(`<pre>A disciplina ${disciplineName} está sendo oferecida no seguinte horário (TODOS são horários de uma única disciplina):<br />${hoursText}</pre>`);
                    return;
                }
            });
        }


        let selectedWeekDay = null;
        let selectedTimeSlot = null;
        $('td').on('click', function () {
            selectedWeekDay = $(this).attr('weekDay');
            selectedTimeSlot = $(this).attr('timeSlot');

            if ('SATURDAY' === selectedWeekDay && ('T_1300_1350' === selectedTimeSlot || 'T_1350_1440' === selectedTimeSlot || 'T_1500_1550' === selectedTimeSlot || 'T_1550_1640' === selectedTimeSlot || 'T_1650_1740' === selectedTimeSlot ||
                'T_1740_1830' === selectedTimeSlot || 'T_1900_1950' === selectedTimeSlot || 'T_1950_2040' === selectedTimeSlot || 'T_2100_2150' === selectedTimeSlot || 'T_2150_2240' === selectedTimeSlot)) {
                alert("Atenção! Você escolheu um período de sábado à tarde.");
            }

            if (hasAnyDisciplinaAllocatedIn(selectedWeekDay, selectedTimeSlot)) {
                alert('Você já tem uma disciplina alocada neste dia/horário. Remova esta disciplina antes de adicionar outra neste dia/horário. Clique na LIXEIRA VERMELHA ao lado da disciplina para isso.')
                return;
            }

            $('#modalWeekDay').text(weekDayNames[selectedWeekDay]);
            $('#modalTimeSlot').text(timeSlotNames[selectedTimeSlot]);

            let $slotDisciplines = $('#slotDisciplines');

            $slotDisciplines
                .empty()
                .append('<option value="" selected="selected">Selecione a disciplina</option>');

            $.each(enrollment.disciplines, function (i, val) {
                $.each(val.classes, function (i1, val1) {
                    if (selectedWeekDay === val1.weekDay && selectedTimeSlot === val1.timeSlot) {
                        $slotDisciplines
                            .append(`<option value="${val.hashString}">${val.acronym} - ${val.name}</option>`);
                    }
                });
            });

            $('#discipline-selection').modal('show');
        });

        function performAllocation(discipline) {
            // Check for conflicts.
            let conflict = false;
            $.each(discipline.classes, function (i, val) {
                if (hasAnyDisciplinaAllocatedIn(val.weekDay, val.timeSlot)) {
                    alert(`Você já tem uma disciplina alocada na ${weekDayNames[val.weekDay]}, ${timeSlotNames[val.timeSlot]}. Remova esta disciplina primeiro caso deseje fazer uma nova alocação`);
                    conflict = true;
                    return;
                }
            });
            if (conflict) {
                return;
            } else {

                // Check the enforced disciplines.
                for (let j = 0; j < discipline.enforcements.length; j++) {

                    let disciplineHashString = discipline.enforcements[j];
                    let enforcedDiscipline = getDisciplineByHashString(disciplineHashString);

                    $.each(enforcedDiscipline.classes, function (i, val) {
                        if (hasAnyDisciplinaAllocatedIn(val.weekDay, val.timeSlot)) {
                            alert(`Você já tem uma disciplina alocada na ${weekDayNames[val.weekDay]}, ${timeSlotNames[val.timeSlot]}. Uma disciplina que deve ser cursada em conjunto com a que selecionou também está neste horário. Remova esta disciplina primeiro caso deseje fazer uma nova alocação`);
                            conflict = true;
                            return;
                        }
                    });
                }

            }
            if (conflict) {
                return;
            }

            // Check whether the discipline is in the same course and shift.
            if (discipline.courseAcronym !== studentCourse) {
                if (!confirm('Você está se matriculando em uma disciplina de outro curso. Este tipo de matrícula está sujeita à aprovação. É isso mesmo que deseja fazer?')) {
                    return;
                }
            } else if (discipline.courseShift !== studentShift && (studentShift == 'NIGHT' || (studentShift == 'AFTERNOON' && discipline.semester < 5))) {
                if (!confirm('Você está se matriculando em uma disciplina de outro período do seu curso. É isso mesmo que deseja fazer?')) {
                    return;
                } else {
                    $("#needFile").val("true");
                    $("#needFileAmount").val(parseInt($("#needFileAmount").val()) + 1);
                }
            }

            // Allocate the discipline.
            $.each(discipline.classes, function (i, val) {
                $(`td[weekDay=${val.weekDay}][timeSlot=${val.timeSlot}]`).html(generateHTMLForDiscipline(discipline));
            });

            for (let j = 0; j < discipline.enforcements.length; j++) {

                let disciplineHashString = discipline.enforcements[j];
                let enforcedDiscipline = getDisciplineByHashString(disciplineHashString);

                $.each(enforcedDiscipline.classes, function (i, val) {
                    $(`td[weekDay=${val.weekDay}][timeSlot=${val.timeSlot}]`).html(generateHTMLForDiscipline(enforcedDiscipline));
                });
            }
        }

        function allocate() {
            $('#discipline-selection').modal('hide');

            // Check whether there is a conflict with the existing allocation.
            let disciplineHashString = $("#slotDisciplines option:selected").val();
            let discipline = getDisciplineByHashString(disciplineHashString);

            performAllocation(discipline);
        }

        function hasAnyDisciplinaAllocatedIn(weekDay, timeSlot) {
            let numberOfChildren = $(`td[weekDay=${weekDay}][timeSlot=${timeSlot}]`).children().length;
            return numberOfChildren > 0;
        }

        function removeDiscipline(disciplineHashString, e) {
            $(`td span[disciplineHashString=${disciplineHashString}]`).parent().empty();

            let discipline = getDisciplineByHashString(disciplineHashString);

            for (let j = 0; j < discipline.enforcements.length; j++) {

                let disciplineHashString = discipline.enforcements[j];
                let enforcedDiscipline = getDisciplineByHashString(disciplineHashString);

                $(`td span[disciplineHashString=${enforcedDiscipline.hashString}]`).parent().empty();
            }
            
            if (discipline.courseShift !== studentShift && (studentShift == 'NIGHT' || (studentShift == 'AFTERNOON' && discipline.semester < 5))) {
                $("#needFileAmount").val(parseInt($("#needFileAmount").val()) - 1);
                if(parseInt($("#needFileAmount").val()) === 0) {
                	$("#needFile").val("false");
                }
            }


            e.preventDefault();
            e.stopPropagation();
        }

        var contextPath = $('meta[name="_context_path"]').attr('content');

        function sendEnrollments() {
            if (($("#needFile").val() === 'true' && !$('#file').val()) && $('#hasFile').val() === 'false') {
                alert('Selecione o documento PDF contendo a declaração a ser enviada.');
                return;
            }

            let data = [];

            $('td span[disciplinehashstring]').each(function () {
                if (data.indexOf($(this).attr('disciplinehashstring')) < 0) {
                    data.push($(this).attr('disciplinehashstring'));
                }
            });

            let obj = {"disciplines": []};
            for (let i = 0; i < data.length; i++) {
                obj.disciplines.push(data[i]);
            }

            var form = document.querySelector('form');
            var formData = new FormData(form);
            formData.append("disciplines", obj.disciplines);
            formData.append("student", `${studentHash}`);
            formData.set("internship", $('#internship').is(":checked"));
            formData.set("capstoneProject", $('#capstoneProject').is(":checked"));

            $.ajax({
                type: "POST",
                contentType: false,
                url: contextPath + "enrollment/save",
                data: formData,
                processData: false,
                cache: false,
                success: function () {
                    alert('Muito bem!!! Sua pré-matricula já foi gravada');
                    window.location = 'https://www.fatecmogidascruzes.com.br';
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Houve algum erro ao tentar salvar a sua pré-matrícula. Por favor, contate a secretaria e informe a seguinte mensagem: ' + textStatus);
                    console.log(errorThrown);
                    console.log(textStatus);
                }
            });
        }

        function generateHTMLForDiscipline(discipline) {
            return `<span style="background-color: #2874a6; color:white; padding: 5px" disciplineHashString='${discipline.hashString}'>${discipline.name} <a href="#" onclick='removeDiscipline("${discipline.hashString}", event)'><i class='fa fa-trash fa-1x text-danger' style="background-color:white"></i></a></span>`;
        }

        function getDisciplineByHashString(disciplineHashString) {
            let returnValue = null;
            $.each(enrollment.disciplines, function (i, val) {
                if (jQuery.trim(disciplineHashString) === jQuery.trim(val.hashString)) {
                    returnValue = val;
                    return;
                }
            });
            return returnValue;
        }

    </script>
</th:block>
</body>
</html>