<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Fatec Mogi das Cruzes | Resumo das Pré-Matrículas</title>
<!-- Data Tables -->
<link rel="stylesheet"
	th:href="@{/plugins/datatables/media/css/dataTables.bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
</head>
<body>
	<h1>Resumo das Pré-Matrículas</h1>
	<hr />
	<span>Estágio</span>
	<div th:each="entry : ${internship}" style="display: block">
		<span th:text="entry?.student?.name}" th:if="${null != enrollment}"></span>
	</div>
	<hr />
	<span>Trabalho de Graduação</span>
	<div th:each="entry : ${capstoneProject}" style="display: block">
		<span th:text="entry?.student?.name}" th:if="${null != enrollment}"></span>
	</div>	<hr />
	<div th:each="entry : ${enrollmentsByStudent}" style="display: block">
		<span th:text="${entry.studentCourse}"></span>/<span
			th:text="${entry.studentShift}"></span> - <span
			th:text="${entry.studentRegistry}"></span>&nbsp;<span
			th:text="${entry.studentName}"></span>
		<div style="margin-left: 5em">
			<h5 style="color: blue">Disciplinas Aprovadas</h5>
			<p th:each="enrollment : ${entry.enrollments}" th:if="${enrollment.approved}">
				<span th:text="${enrollmment?.course}" th:if="${null != enrollment}"></span>&nbsp;-&nbsp;<span
					th:text="${enrollment?.name}" th:if="${null != enrollment}"></span>
			</p>
		</div>
	</div>
</body>
</html>
