<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Pré-Matrículas por Disciplina</title>
<!-- Data Tables -->
<link rel="stylesheet"
	th:href="@{/plugins/datatables/media/css/dataTables.bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">Pré-Matrículas por Disciplina</h1>
	</th:block>
	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Listagem de Pré-Matrículas por
						Disciplina</h4>
					<!-- /.box-title -->
					<!-- message -->
					<div class="alert alert-dismissible" role="alert"
						th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
						th:if="${not #strings.isEmpty(message)}">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
						<span
							th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
					</div>
					<!-- ./message -->
					<table id="list"
						class="table-hover table table-striped table-bordered display"
						style="width: 100%">
						<thead>
							<tr>
								<th>Semestre da Disciplina</th>
								<th>Data</th>
								<th>RA</th>
								<th>Nome</th>
								<th>Entrada</th>
								<th>Semestre</th>
								<th>Turno</th>
								<th>Pré-Requisitos Atendidos</th>
								<th>Aprovada por Critério de Preferência?</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Semestre da Disciplina</th>
								<th>Data</th>
								<th>RA</th>
								<th>Nome</th>
								<th>Entrada</th>
								<th>Semestre</th>
								<th>Turno</th>								
								<th>Pré-Requisitos Atendidos</th>
								<th>Aprovada por Critério de Preferência?</th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="enrollment: ${enrollments}"
								th:classappend="${!enrollment.attendRequirements or !enrollment.approved} ? 'text-danger': 'text-success'">
								<td th:text="${enrollment.disciplineSemester}"></td>
								<td th:text="${enrollment.date}"></td>
								<td th:text="${enrollment.registry}"></td>
								<td th:text="${enrollment.name}"></td>
								<td th:text="${enrollment.entryYearAndSemester}"></td>
								<td th:text="${enrollment.studentSemester}"></td>
								<td th:text="${enrollment.studentShift}"></td>
								<td th:text="${enrollment.attendRequirements ? 'Sim' : 'Não'}"></td>
								<td th:text="${enrollment.approved ? 'Sim' : 'Não'}"></td>
							</tr>
						</tbody>
					</table>
				</div>	
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
	</th:block>
	<th:block layout:fragment="modals">
	</th:block>
	<th:block layout:fragment="js">
		<!-- Datatable -->
		<script
			th:src="@{/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/media/js/dataTables.bootstrap.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
	</th:block>
</body>
</html>
