<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Álbuns da Galeria de Imagens</title>

<!-- Data Tables -->
<link rel="stylesheet"
	th:href="@{/plugins/datatables/media/css/dataTables.bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">

<link rel="stylesheet" th:href="@{/styles/gallery/album/album.css}">

</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">Álbuns da Galeria de Imagens</h1>
	</th:block>

	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Listagem de Álbuns da Galeria de Imagens</h4>
					<!-- /.box-title -->

					<!-- message -->
					<div class="alert alert-dismissible" role="alert"
						th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
						th:if="${not #strings.isEmpty(message)}">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
						<span
							th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
					</div>
					<!-- ./message -->

					<p>
						<a th:href="@{/admin/gallery/albums/new}"
							class="btn btn-success table-button" style="margin-top: 30px">
							<i class="fa fa-plus-circle"></i> <span>Novo Álbum</span>
						</a>
					</p>
					<br />
					<div class="row small-spacing">
						<div
							class="col-md-3 col-sm-6 col-tb-6 col-xs-12 js__isotope_item beauty"
							th:each="album : ${albums}">
							<div class="dropdown js__drop_down">
								<a href="#"
									class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button album-gallery-dropdown"></a>
								<ul class="sub-menu">
									<li><a
										th:href="@{/admin/gallery/albums/} + ${album.hashString + '/upload'}">Upload
											de Imagens</a></li>
									<li class="split"></li>
									<li><a href="#" th:onclick="${'setHashToDelete(''' + album.hashString + ''')'}" data-toggle="modal" data-target="#confirmDeletion">Apagar</a></li>
								</ul>
								<!-- /.sub-menu -->
							</div>
							<a th:href="@{/admin/gallery/albums/} + ${album.hashString}"
								class="item-gallery lightview" data-lightview-group="group">
								<img class="album-gallery-image"
								th:src="@{/admin/gallery/albums/} + ${album.hashString + '/cover'}"
								alt=""> <span class="album-gallery-image-details"><span
									th:text="${album.name}">Nome do Álbum</span><br /> <span
									style="font-size: 11px" th:text="${album.numberOfPhotos}">Número
										de fotos</span> fotos </span>
							</a>
							<!-- /.title -->
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
	</th:block>
	<th:block layout:fragment="modals">
		<!-- confirm-deletion -->
		<div id="confirmDeletion" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Confirmação</h4>
					</div>

					<div class="modal-body">
						<p>Você realmente deseja apagar o álbum selecionado?</p>
					</div>

					<div class="modal-footer">
						<form th:action="@{/admin/gallery/albums/delete}">
							<input type="hidden" name="hash" value="-1" id="hashToDelete" />
							<button id="btnYes" class="btn btn-danger pull-right"
								type="submit">
								<span class="mdi mdi-delete"></span> Sim, desejo
							</button>
						</form>
						<a href="#" data-dismiss="modal" aria-hidden="true"
							class="btn btn-default pull-left"><span class="mdi mdi-undo"></span>
							Cancelar</a>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./confirm-deletion -->
	</th:block>

	<th:block layout:fragment="js">
		<!-- Datatable -->
		<script
			th:src="@{/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/media/js/dataTables.bootstrap.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
		<script th:src="@{/scripts/gallery/album-search.js}"></script>
	</th:block>
</body>
</html>
