<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Edição de Grupo de Trabalho</title>
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">Editar Grupo de Trabalho</h1>
	</th:block>
	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse"
							href="#instructionsCollapse" role="button" aria-expanded="false"
							aria-controls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span>
							<span class="if-not-collapsed">Clique aqui para ESCONDER
								as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li>Preencha os dados do formulário seguinte e selecione o
										botão 'Atualizar', exibido após o formulário, para atualizar o
										grupo de trabalho.</li>
									<li>Os campos marcados com um asterisco <sup
										class="field-details">*</sup> são obrigatórios e devem ser
										preenchidos.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content">
						<!-- message -->
						<div class="
						alert alert-dismissible" role="alert"
							th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span
								th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/admin/workGroups/save}"
							th:object="${workGroup}" method="post"
							enctype="multipart/form-data">
							<input type="hidden" id="hashString" th:field="*{hashString}" />
							<div class="row small-spacing">
								<div class="col-xs-12 form-group"
									th:classappend="${#fields.hasErrors('description')} ? has-error">
									<label for="description">Descrição*: <a href="#"
										aria-hidden="true" data-toggle="tooltip"
										title="Informe uma descrição sobre o grupo. Ela será exibida no site do grupo"><i
											class="fa fa-question-circle"></i></a></label> <span
										id="descriptionRemainingLength" class="remaining-length"></span>
									<span class="remaining-length">caracter(es) restante(s)</span>
									<input type="text" class="form-control" id="description"
										required="required" tabindex="1" th:field="*{description}"
										maxlength="5000"
										placeholder="Qual é a descrição do grupo a ser exibida no site do grupo?" />
									<span th:each="error : ${#fields.errors('description')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<br />
							<hr />
							<h2>Documentos</h2>
							<a href="#addNewDocument" id="addNewDocument"
								class="btn btn-success btn-sm"> <span class="fa fa-new"></span>
								<span>Adicionar Novo Documento</span>
							</a> <br /> <br />
							<div id="documentsContainer">
								<div class="row small-spacing" id="documentModel">
									<div class="col-xs-12 col-md-4 form-group">
										<label for="newDocuments" class="documentLabel">Documento:
											<a href="#" aria-hidden="true" data-toggle="tooltip"
											title="Selecione um documento"><i
												class="fa fa-question-circle"></i></a>
										</label><input type="file" id="newDocuments"
											th:field="*{newDocuments}" tabindex="2">
									</div>
									<!-- ./col -->
									<div class="col-xs-11 col-md-7 form-group"
										th:classappend="${#fields.hasErrors('newDocumentsDescriptions')} ? has-error">
										<label for="newDocumentsDescriptions"
											class="documentDescriptionLabel">Título do Documento:
											<a href="#" aria-hidden="true" data-toggle="tooltip"
											title="Informe um título para o documento"><i
												class="fa fa-question-circle"></i></a>
										</label> <span id="newDocumentsDescriptionsRemainingLength"
											class="remaining-length"></span> <span
											class="remaining-length">caracter(es) restante(s)</span> <input
											maxlength="100" type="text" class="form-control" tabindex="3"
											id="newDocumentsDescriptions"
											th:field="*{newDocumentsDescriptions}"
											placeholder="Qual é o título deste documento?">
									</div>
									<!-- ./col -->
									<div class="col-xs-1 col-md-1 form-group">
										<br /> <br /> <a href="#"
											class="remove-current-document invisible"
											onclick="$(this).parent().parent().remove()"><span
											class="fa fa-trash text-danger"></span></a>
									</div>
								</div>
								<!-- ./row -->
							</div>
							<br /> <br />
							<table id="currentDocumentsTable"
								class="table table-striped table-bordered table-hover"
								style="width: 100%">
								<thead>
									<tr>
										<th>Título</th>
										<th>Apagar</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Título</th>
										<th>Apagar</th>
									</tr>
								</tfoot>
								<tbody id="documentContainer">
									<tr th:each="documentEntry: *{currentDocuments}"
										th:if="${documentEntry.enabled}">
										<td><a
											th:href="@{/admin/workGroups/__${workGroup.hashString}__/documents/__${documentEntry.hashString}__}"
											target="_blank"
											th:text="${null != documentEntry.title ? documentEntry.title : 'Sem título'}">Title</a></td>
										<td><a href="#"
											th:id="${'id' + documentEntry.hashString}"
											onclick="setDocumentHashToDelete('id' + this.dataset.hash)"
											data-toggle="modal" data-target="#documentRemoval"
											class="remove-current"
											th:data-hash="${documentEntry.hashString}"><span
												class="fa fa-trash text-danger
																	"></span></a></td>
									</tr>
								</tbody>
							</table>
							<br />
							<hr />
							<h2>Boletins</h2>
							<a href="#addNewReport" id="addNewReport"
								class="btn btn-success btn-sm"> <span class="fa fa-new"></span>
								<span>Adicionar Novo Boletim</span>
							</a> <br /> <br />
							<div id="reportsContainer">
								<div class="row small-spacing" id="reportModel">
									<div class="col-xs-12 col-md-4 form-group">
										<label for="newReports" class="reportLabel">Boletim: <a
											href="#" aria-hidden="true" data-toggle="tooltip"
											title="Selecione um reporto"><i
												class="fa fa-question-circle"></i></a>
										</label><input type="file" id="newReports" th:field="*{newReports}"
											tabindex="2">
									</div>
									<!-- ./col -->
									<div class="col-xs-11 col-md-7 form-group"
										th:classappend="${#fields.hasErrors('newReportsDescriptions')} ? has-error">
										<label for="newReportsDescriptions"
											class="reportDescriptionLabel">Título do Boletim: <a
											href="#" aria-hidden="true" data-toggle="tooltip"
											title="Informe um título para o boletim"><i
												class="fa fa-question-circle"></i></a>
										</label> <span id="newReportsDescriptionsRemainingLength"
											class="remaining-length"></span> <span
											class="remaining-length">caracter(es) restante(s)</span> <input
											maxlength="100" type="text" class="form-control" tabindex="3"
											id="newReportsDescriptions"
											th:field="*{newReportsDescriptions}"
											placeholder="Qual é o título deste boletim?">
									</div>
									<!-- ./col -->
									<div class="col-xs-1 col-md-1 form-group">
										<br /> <br /> <a href="#"
											class="remove-current-report invisible"
											onclick="$(this).parent().parent().remove()"><span
											class="fa fa-trash text-danger"></span></a>
									</div>
								</div>
								<!-- ./row -->
							</div>
							<br /> <br />
							<table id="currentReportsTable"
								class="table table-striped table-bordered table-hover"
								style="width: 100%">
								<thead>
									<tr>
										<th>Título</th>
										<th>Apagar</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Título</th>
										<th>Apagar</th>
									</tr>
								</tfoot>
								<tbody id="reportContainer">
									<tr th:each="reportEntry: *{currentReports}"
										th:if="${reportEntry.enabled}">
										<td><a
											th:href="@{/admin/workGroups/__${workGroup.hashString}__/reports/__${reportEntry.hashString}__}"
											target="_blank"
											th:text="${null != reportEntry.title ? reportEntry.title : 'Sem título'}">Title</a></td>
										<td><a href="#" th:id="${'id' + reportEntry.hashString}"
											onclick="setReportHashToDelete('id' + this.getAttribute('hash'))"
											data-toggle="modal" data-target="#reportRemoval"
											class="remove-current"
											th:hash="${reportEntry.hashString}"><span
												class="fa fa-trash text-danger
																	"></span></a></td>
									</tr>
								</tbody>
							</table>
							<br />
							<button type="submit" th:if="${null != isUpdate}" tabindex="4"
								class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-sync"></span> Atualizar
							</button>
							<a class="btn waves-effect waves-light" type="submit"
								tabindex="5" th:href="@{/admin/workGroups}"> <span
								class="mdi mdi-undo"></span> Descartar
							</a>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>
	<th:block layout:fragment="modals">
		<!-- document-change-removal -->
		<div id="documentRemoval" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Confirmação</h4>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja apagar o documento selecionado?</p>
					</div>
					<div class="modal-footer">
						<a href="#" data-dismiss="modal" aria-hidden="true"
							class="btn btn-default"><span class="mdi mdi-undo"></span> <span>Cancelar</span></a>
						<a href="#" id="btnConfirmDocumentDeletion" class="btn btn-danger"
							type="button"> <span class="mdi mdi-delete"></span> <span>Sim,
								desejo</span>
						</a>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./document-change-removal -->
		<!-- report-change-removal -->
		<div id="reportRemoval" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Confirmação</h4>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja apagar o boletim selecionado?</p>
					</div>
					<div class="modal-footer">
						<a href="#" data-dismiss="modal" aria-hidden="true"
							class="btn btn-default"><span class="mdi mdi-undo"></span> <span>Cancelar</span></a>
						<a href="#" id="btnConfirmReportDeletion" class="btn btn-danger"
							type="button"> <span class="mdi mdi-delete"></span> <span>Sim,
								desejo</span>
						</a>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./report-change-removal -->
	</th:block>
	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<!-- jQuery Mask Plugin -->
		<script th:src="@{/plugins/jquery-mask/jquery.mask.min.js}"></script>
		<script th:src="@{/scripts/workGroup/workGroup-edit.js}"></script>
	</th:block>
</body>
</html>