<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Carregar Dados do SIGA</title>
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">Carregar Dados do SIGA</h1>
	</th:block>
	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse" href="#instructionsCollapse" role="button" aria-expanded="false" aria-controls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span> <span class="if-not-collapsed">Clique aqui para ESCONDER as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li>Esta página permite que você carregue dados do SIGA a partir de planilhas e documentos PDF. Selecione um dos tipos de arquivo seguintes e
										clique no botão 'Carregar'.</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content">
						<!-- message -->
						<div class="
						alert alert-dismissible" role="alert" th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/admin/SIGA}" method="post" enctype="multipart/form-data" th:object="${load}">
							<div class="row small-spacing">
								<div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('finalGradeAndAbsences')} ? has-error">
									<label for="type">Lista de Médias Finais e Faltas (Máx: 50MB)*: <a href="#" aria-hidden="true" data-toggle="tooltip"
										
										title="Selecione um arquivo gerado da lista de médias finais e faltas do SIGA"><i class="fa fa-question-circle"></i></a></label> <input type="file"
										 th:field="*{finalGradeAndAbsences}" required="required" /> <span th:each="error : ${#fields.errors('finalGradeAndAbsences')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<br />
							<button type="submit" th:if="${null == isUpdate}" id="save" tabindex="8" class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-content-save"></span> Carregar
							</button>
							<a class="btn waves-effect waves-light" type="submit" tabindex="9" th:href="@{/admin/selections}"> <span class="mdi mdi-undo"></span> Descartar
							</a>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>
	<th:block layout:fragment="modals">
	</th:block>
	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<!-- jQuery Mask Plugin -->
		<script th:src="@{/plugins/jquery-mask/jquery.mask.min.js}"></script>
		<script th:src="@{/scripts/siga/siga-load.js}"></script>
	</th:block>
</body>
</html>