<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Edição de Depoimentos</title>
</head>

<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title" th:if="${null == isUpdate}">Novo
			Depoimento</h1>
		<h1 class="page-title" th:if="${null != isUpdate}">Editar
			Depoimento</h1>
	</th:block>

	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse"
							href="#instructionsCollapse" role="button" aria-expanded="false"
							aria-controls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span>
							<span class="if-not-collapsed">Clique aqui para ESCONDER
								as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li th:if="${null == isUpdate}">Preencha os dados do
										formulário seguinte e selecione o botão 'Salvar', exibido após
										o formulário, para salvar o depoimento.</li>
									<li th:if="${null != isUpdate}">Preencha os dados do
										formulário seguinte e selecione o botão 'Atualizar', exibido
										após o formulário, para atualizar o depoimento.</li>
									<li>Os campos marcados com um asterisco <sup
										class="field-details">*</sup> são obrigatórios e devem ser
										preenchidos.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content">
						<a th:if="${null != isUpdate}" href="#" data-toggle="modal"
							data-target="#confirmRemoval"
							class="btn btn-danger btn-sm waves-effect waves-light pull-right"><span
							class="fa fa-trash"></span> <span>Apagar</span> </a>
						<div class="clearfix"></div>
						<!-- message -->
						<div class="alert alert-dismissible" role="alert"
							th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span
								th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/admin/testimonials/save}"
							th:object="${testimonial}" method="post"
							enctype="multipart/form-data">
							<input type="hidden" id="hashString" th:field="*{hashString}" />
							<div class="row small-spacing">
								<div class="col-xs-12 form-group"
									th:classappend="${#fields.hasErrors('name')} ? has-error">
									<label for="name">Nome do Depoente*: <a href="#"
										aria-hidden="true" data-toggle="tooltip"
										title="Informe o nome completo do depoente com as iniciais dos nomes em maiúsculas. Ex: Leandro Luque"><i
											class="fa fa-question-circle"></i></a></label> <span
										id="nameRemainingLength" class="remaining-length"></span> <span
										class="remaining-length">caracter(es) restante(s)</span> <input
										maxlength="100" tabindex="1" type="text" class="form-control"
										required="required" id="name" th:field="*{name}"
										placeholder="Qual é o nome do depoente?"> <span
										th:each="error : ${#fields.errors('name')}" class="help-block">
										<i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group"
									th:classappend="${#fields.hasErrors('description')} ?
									has-error">
									<label for="description">Depoimento: <a href="#"
										aria-hidden="true" data-toggle="tooltip"
										title="Informe o depoimento do depoente"><i
											class="fa fa-question-circle"></i></a></label> <span
										id="descriptionRemainingLength" class="remaining-length"></span>
									<span class="remaining-length">caracter(es) restante(s)</span>
									<textarea class="form-control" id="description" tabindex="2"
										th:field="*{description}" maxlength="2000"
										placeholder="Qual é o depoimento do depoente?"></textarea>
									<span th:each="error : ${#fields.errors('description')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing">
								<div class="col-xs-12 form-group"
									th:classappend="${#fields.hasErrors('position')} ? has-error">
									<label for="position">Relação do Depoente com a Fatec*:
										<a href="#" aria-hidden="true" data-toggle="tooltip"
										title="Informe a relação do depoente com a Fatec. Ex: Aluno, Professor ou Funcionário"><i
											class="fa fa-question-circle"></i></a>
									</label> <span id="positionRemainingLength" class="remaining-length"></span>
									<span class="remaining-length">caracter(es) restante(s)</span>
									<input maxlength="50" tabindex="3" type="text"
										class="form-control" required="required" id="position"
										th:field="*{position}"
										placeholder="Qual é a relação do depoente com a Fatec?">
									<span th:each="error : ${#fields.errors('position')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div class="row small-spacing"
								th:classappend="${#fields.hasErrors('show')} ? has-error">
								<div class="col-xs-12 form-group">
									<input type="checkbox" id="show" th:field="*{show}" /><label
										for="show">&nbsp;&nbsp;Exibir depoimento? <a href="#"
										aria-hidden="true" data-toggle="tooltip"
										title="O depoimento deve ser exibido na página inicial?"><i
											class="fa fa-question-circle"></i></a></label> <span
										th:each="erro : ${#fields.errors('show')}" class="help-block">
										<i class="fa fa-exclamation-circle"></i> <span
										th:text="${error}"></span>
									</span>
								</div>
							</div>
							<div class="row small-spacing">
								<div class="col-xs-12 col-md-4 form-group"
									th:classappend="${#fields.hasErrors('image')} ? has-error">
									<a href="#" data-toggle="modal" th:if="${null != isUpdate}"
										data-target="#viewCurrentImage" class="viewImage">Clique
										aqui para ver a foto atual</a> <br /> <label for="image">
										<span th:if="${null != isUpdate}">Nova</span> Foto*: <a
										href="#" aria-hidden="true" data-toggle="tooltip"
										title="Uma foto quadrada"><i class="fa fa-question-circle"></i></a>
									</label> <input type="file" id="image" th:field="*{image}" tabindex="3"
										th:required="${null == isUpdate}"> <span
										class="help-block">Envie uma imagem quadrada, com
										dimensão mínima de 400x400, por favor.</span> <span
										th:each="error : ${#fields.errors('image')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
								<div class="col-xs-12 col-md-8 form-group"
									th:classappend="${#fields.hasErrors('imageAlternativeDescription')} ? has-error">
									<label for="imageAlternativeDescription">Texto
										Alternativo para a Imagem*: <a href="#" aria-hidden="true"
										data-toggle="tooltip"
										title="Uma descrição alternativa é um texto que explica o conteúdo da imagem para pessoas com deficiência visual"><i
											class="fa fa-question-circle"></i></a>
									</label> <span id="imageAlternativeDescriptionRemainingLength"
										class="remaining-length"></span> <span
										class="remaining-length">caracter(es) restante(s)</span> <input
										maxlength="100" type="text" class="form-control" tabindex="4"
										id="imageAlternativeDescription" required="required"
										th:field="*{imageAlternativeDescription}"
										placeholder="Como você poderia descrever essa imagem para pessoas com deficiência visual?">
									<span
										th:each="error : ${#fields.errors('imageAlternativeDescription')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<button type="submit" th:if="${null == isUpdate}" tabindex="5"
								class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-content-save"></span> Salvar
							</button>
							<button type="submit" th:if="${null != isUpdate}" tabindex="5"
								class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-sync"></span> Atualizar
							</button>
							<a class="btn waves-effect waves-light" type="submit"
								tabindex="6" th:href="@{/admin/testimonials}"> <span
								class="mdi mdi-undo"></span> Descartar
							</a>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>

	<th:block layout:fragment="modals">
		<!-- view-current-image -->
		<div id="viewCurrentImage" class="modal fade modal-image"
			role="dialog" th:if="${null != isUpdate}">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Imagem Atual</h4>
					</div>
					<div class="modal-body text-center">
						<img
							th:src="@{/admin/testimonials/} + ${testimonial.hashString + '/image'}"
							th:attr="alt=${testimonial.imageAlternativeDescription}"
							class="image-thumbnail" />
					</div>

					<div class="modal-footer">
						<a href="#" data-dismiss="modal" aria-hidden="true"
							class="btn btn-default pull-right">OK</a>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./view-current-image -->
		<!-- confirm-removal -->
		<div th:if="${null != isUpdate}" id="confirmRemoval"
			class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Confirmação</h4>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja apagar este depoimento?</p>
					</div>
					<div class="modal-footer">
						<form th:action="@{/admin/testimonials/delete}">
							<input type="hidden" name="hash"
								th:value="${testimonial.hashString}" id="hashToDelete" />
							<button id="btnYes" class="btn btn-danger pull-right"
								type="submit">
								<span class="mdi mdi-delete"></span> <span>Sim, desejo</span>
							</button>
							<a href="#" data-dismiss="modal" aria-hidden="true"
								class="btn btn-default pull-left"><span class="mdi mdi-undo"></span>
								<span>Cancelar</span></a>
						</form>
					</div>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./confirm-removal -->
	</th:block>

	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<script th:src="@{/scripts/testimonial/testimonial-edit.js}"></script>
	</th:block>
</body>
</html>