<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Edição de agentes de estágio | Fatec Mogi das Cruzes</title>
</head>

<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">Editar agentes de estágio</h1>
	</th:block>

	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse"
							href="#instructionsCollapse" role="button" aria-expanded="false"
							aria-controls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span>
							<span class="if-not-collapsed">Clique aqui para ESCONDER
								as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li th:if="${null == isUpdate}">Preencha os dados do
										formulário seguinte e selecione o botão 'Salvar', exibido após
										o formulário, para salvar as alterações.</li>
									<li>Os campos marcados com um asterisco <sup
										class="field-details">*</sup> são obrigatórios e devem ser
										preenchidos.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content">
						<!-- message -->
						<div class="alert alert-dismissible" role="alert"
							th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span
								th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/admin/internshipAgents/save}"
							th:object="${internshipAgents}" method="post"x>
							<div id="agent-forms">
								<div class="row small-spacing" th:each="internshipAgentName, i : ${internshipAgents.names}">
									<input type="hidden" name="friendlyHashes" th:value="${internshipAgents.friendlyHashes[i.index]}" />
									<div class="col-xs-10 form-group">
										<label th:for="|name_${i.index}|">Nome do agente de integração *: <a href="#"
											aria-hidden="true" data-toggle="tooltip"
											title="Informe o nome do agente de integração"><i
												class="fa fa-question-circle"></i></a></label> <span
											th:id="|name_${i.index}RemainingLength|" class="remaining-length"></span> <span
											class="remaining-length">caracter(es) restante(s)</span> <input
											maxlength="100" type="text" class="form-control"
											required="required" th:id="|name_${i.index}|" name="names" th:value="${internshipAgentName}"
												placeholder="Qual é o nome do agente de integração?">
											</span>
									</div>
									<!-- ./col -->
									<div class="col-xs-1">
										<button class="delete-agent-btn btn btn-danger" style="margin-top: 2em" type="button"><span class="fa fa-trash"></span></button>
									</div>
								</div>
								<!-- ./row -->
								<div class="row small-spacing clone-model">
									<div class="col-xs-10 form-group">
										<input type="hidden" name="friendlyHashes" value="new" />
										<label for="name_">Nome do agente de integração: <a href="#"
																							 aria-hidden="true" data-toggle="tooltip"
																							 title="Informe o nome do agente de integração"><i
												class="fa fa-question-circle"></i></a></label> <span
											id="nameRemainingLength_" class="remaining-length"></span> <span
											class="remaining-length">caracter(es) restante(s)</span> <input
											maxlength="100" type="text" class="form-control"
											id="name_" name="names"
											placeholder="Qual é o nome do agente de integração?">
										</span>
									</div>
									<!-- ./col -->
									<div class="col-xs-1 invisible delete-button">
										<button class="delete-agent-btn btn btn-danger" style="margin-top: 2em" type="button"><span class="fa fa-trash"></span></button>
									</div>
									<div class="col-xs-1">
										<button class="add-agent-btn btn btn-success" style="margin-top: 2em" type="button"><span class="fa fa-plus-circle"></span></button>
									</div>
								</div>
								<!-- ./row -->
							</div>
							<!-- ./agent-forms -->
							<button type="submit"
								class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-content-save"></span> Salvar
							</button>
							<a class="btn waves-effect waves-light" type="submit"
								th:href="@{/admin/internshipAgents}"> <span
								class="mdi mdi-undo"></span> Descartar
							</a>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>

	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<script th:src="@{/scripts/internshipAgent/internshipAgent-edit.js}"></script>
	</th:block>
</body>
</html>