.album-gallery-dropdown {
	position: absolute !important;
	right: 0 !important;
	top: 0 !important;
	margin-top: 0.3em !important;
	margin-right: 0.5em !important;
	z-index: 10 !important;
}

.album-gallery-image-details {
	position: absolute !important;
	bottom: 0 !important;
	width: 100% !important;
	padding: 0.5em !important;
	background-color: rgba(128, 128, 128, 0.8) !important;
	color: white !important;
	text-align: center !important;
}