<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="keywords"
	content="Fatec Mogi das Cruzes, Plataforma, Administrativa, Faculdade, Qualidade" />
<meta name="author" content="Leandro Luque" />

<meta name="_context_path" th:content="@{/}" />
<title>Fatec Mogi das Cruzes | Recuperação de Senha</title>

<!-- Main Styles -->
<link rel="stylesheet" th:href="@{/styles/style.min.css}" />

<!-- Material Design Icon -->
<link rel="stylesheet"
	th:href="@{/fonts/material-design/css/materialdesignicons.css}" />

<!-- mCustomScrollbar -->
<link rel="stylesheet"
	th:href="@{/plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />

<!-- Waves Effect -->
<link rel="stylesheet" th:href="@{/plugins/waves/waves.min.css}" />

<!-- Sweet Alert -->
<link rel="stylesheet" th:href="@{/plugins/sweet-alert/sweetalert.css}" />

<!-- Dark Themes -->
<link rel="stylesheet" th:href="@{/styles/style-dark.min.css}" />

<!-- CSS Personalizado -->
<link rel="stylesheet" th:href="@{/styles/custom.css}" />

</head>

<body>
	<div id="single-wrapper">
		<br />
		<form th:action="@{/doRecoveryPassword}" class="frm-single" autocomplete="off"
			method="POST">
			<div class="inside">
				<div class="title">
					<img th:src="@{/images/logo_colorido.svg}"
						alt="Logo da Fatec Mogi das Cruzes, composto pelo texto Fatec Mogi das Cruzes" style="height: 80px" /><br />
					<hr />
					<strong>Site da Fatec Mogi das Cruzes</strong>
				</div>
				<!-- /.title -->
				<div class="frm-title">Esqueceu a sua senha?</div>
				<!-- success messages -->
				<div class="alert alert-success alert-dismissible" role="alert"
					th:if="${null != success}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
					<i class="fa fa-checkmark"></i> <span>Você receberá um e-mail dentro de alguns segundos com instruções para mudar a sua senha.</span>
				</div>
				<!-- ./success-messages -->
				<!-- error messages -->
				<div class="alert alert-danger alert-dismissible" role="alert"
					th:if="${null != error}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
					<i class="fa fa-exclamation-circle"></i> <span>Não foi possível enviar um e-mail de recuperação de senha!</span>
				</div>
				<!-- ./error-messages -->
				<!-- /.frm-title -->
				<div class="frm-input">
					<input type="text" placeholder="Qual é o nome do usuário?"
						class="frm-inp" name="username" autocomplete="new-password" th:value="${username}" /><i
						class="fa fa-user frm-ico"></i>
				</div>
				<!-- /.clearfix -->
				<button type="submit" class="frm-submit">
					Recuperar a Senha<i class="fa fa-arrow-circle-right"></i>
				</button>
				<!-- /.row -->
				<div class="frm-footer">2018 © Fatec Mogi das Cruzes</div>
				<!-- /.footer -->
			</div>
			<!-- .inside -->
		</form>
		<!-- /.frm-single -->
	</div>
	<!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script th:src="@{/script/html5shiv.min.js}"></script>
		<script th:src="@{/script/respond.min.js}"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/scripts/jquery.min.js}"></script>
	<script th:src="@{/scripts/modernizr.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/plugins/nprogress/nprogress.js}"></script>
	<script th:src="@{/plugins/sweet-alert/sweetalert.min.js}"></script>
	<script th:src="@{/plugins/waves/waves.min.js}"></script>
	<script th:src="@{/scripts/main.js}"></script>
</body>
</html>