<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Repetições de Eventos</title>
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">
			<span>Gerar Repetições de Evento</span>
		</h1>
	</th:block>

	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse"
							href="#instructionsCollapse" role="button" aria-expanded="false"
							aria-controls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span>
							<span class="if-not-collapsed">Clique aqui para ESCONDER
								as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li th:if="${null == isUpdate}">Preencha os dados do
										formulário seguinte e selecione o botão 'Gerar Repetições',
										exibido após o formulário, para gerar repetições do evento.</li>
									<li>Os campos marcados com um asterisco <sup
										class="field-details">*</sup> são obrigatórios e devem ser
										preenchidos.
									</li>
								</ul>

							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content">
						<!-- message -->
						<div class="alert alert-dismissible" role="alert"
							th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span
								th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/agenda/events/repetition/} + ${eventRepetition.hashString}"
							th:object="${eventRepetition}" method="post">
							<input type="hidden" id="hashString" th:field="*{hashString}" />

							<div class="row small-spacing">
								<div class="col-xs-6 form-group"
									th:classappend="${#fields.hasErrors('repetition')} ? has-error">
									<label for="repetition">Frequência de repetição*: </label> <a
										href="#" aria-hidden="true" data-toggle="tooltip"
										title="Selecione a frequência de repetição do evento"> <i
										class="fa fa-question-circle"></i>
									</a><select class="form-control" id="repetition"
										required="required" th:field="*{repetition}" tabindex="1">
										<option value="">Qual é a frequência de repetição do
											evento?</option>
										<option
											th:each="repetition : ${T(br.com.participae.mandato.event.RepetitionPolicy).values()}"
											th:value="${repetition}" th:text="${repetition.name}"></option>
									</select> <span th:each="error : ${#fields.errors('repetition')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
								<div class="col-xs-6 form-group"
									th:classappend="${#fields.hasErrors('dateLimit')} ? has-error">
									<label for="dateLimit">Gerar repetições até*: <a
										href="#" aria-hidden="true" data-toggle="tooltip"
										title="Informe até que data o evento se repetirá"><i
											class="fa fa-question-circle"></i></a></label> <input type="date"
										id="dateLimit" th:field="*{dateLimit}" class="form-control"
										required="required" tabindex="2"
										placeholder="Até quando este evento se repete?" /> <span
										th:each="error : ${#fields.errors('dateLimit')}"
										class="help-block"> <i class="fa fa-exclamation-circle"></i>
										<span th:text="${error}"></span>
									</span>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<br />

							<button type="submit" id="generateRepetition" tabindex="3"
								class="btn btn-primary btn-sm waves-effect waves-light pull-right">
								<span class="mdi mdi-content-save"></span> Gerar Repetições
							</button>
							<a class="btn waves-effect waves-light" type="submit"
								tabindex="4" th:href="@{/agenda/events}"> <span
								class="mdi mdi-undo"></span> Descartar
							</a>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>

	<th:block layout:fragment="modals">
	</th:block>

	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<!-- jQuery Mask Plugin -->
		<script th:src="@{/plugins/jquery-mask/jquery.mask.min.js}"></script>
		<script th:src="@{/scripts/agendaEntry/agendaEntry-edit.js}"></script>
	</th:block>
</body>
</html>