.marquee {
    width: auto;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    font-size: 16px;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}