<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Edição de Acomodação</title>
<!-- Data Tables -->
<link rel="stylesheet"
	th:href="@{/plugins/datatables/media/css/dataTables.bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1>Editar Acomodação</h1>
	</th:block>
	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="card-content">
						<!-- message -->
						<div class="alert alert-dismissible" role="alert"
							th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span
								th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<strong>Escolha as disciplinas que deseja acrescentar e
							retirar da sua grade.</strong><br /> <br /> <br /> <br />
						<p
							style="font-size: 1.2em; line-height: 1.25em; text-align: justify">
							Eu, <span th:text="${student.name}" style="font-weight: bold"></span>,
							RA <span th:text="${student.username}" style="font-weight: bold"></span>,
							Curso <span th:text="${student.course.name}"
								style="font-weight: bold"> style="font-weight: bold"</span>,
							Semestre de Ingresso <span
								th:text="${student.entryYearAndSemester}"
								style="font-weight: bold"></span>, E-mail <span
								th:text="${student.email}" style="font-weight: bold"></span>,
							Ciente das Normas Gerais de Matrícula, <span
								style="font-weight: bold"> VENHO requerer</span> a acomodação
							dos horários das disciplinas no meu curso. Declaro também estar
							ciente que as disciplinas solicitadas estão sujeitas a análise de
							pré-requisitos e de prioridade de vagas (quando a disciplina não
							for do meu semestre corrente ou curso). Solicito acomodação das
							disciplinas conforme horário.
						</p>
						<br /> <br />
						<p>
							<a href="#" class="btn btn-success table-button"
								data-toggle="modal" data-target="#addDiscipline"> <i
								class="fa fa-plus-circle"></i> <span>CLIQUE AQUI para
									INCLUIR uma nova disciplina</span>
							</a> <a href="#" class="btn btn-warning table-button"
								data-toggle="modal" data-target="#removeDiscipline"> <i
								class="fa fa-minus-circle"></i> <span>CLIQUE AQUI para
									RETIRAR uma disciplina da sua grade</span>
							</a>
						</p>
						<div style="padding: 0 1em 0.5em 1em;">
							<br /> <strong>DISCIPLINAS A INCLUIR:</strong><br />
							<form th:action="@{/admin/accommodations/declineAdding}"
								method="POST">
								<input type="hidden" name="accommodationHashString"
									th:value="${accommodation.hashString}" />
								<table id="disciplinesToAdd"
									class="table-hover table table-striped table-bordered display"
									style="width: 100%">
									<thead>
										<tr>
											<th>Curso</th>
											<th>Nome</th>
											<th>Professor</th>
											<th>Horário</th>
											<th>Excluir</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Curso</th>
											<th>Nome</th>
											<th>Professor</th>
											<th>Horário</th>
											<th>Excluir</th>
										</tr>
									</tfoot>
									<tbody style="background-color: white !important">
										<tr th:each="discipline: ${accommodation.disciplinesToAdd}"
											th:if="${discipline.enabled}">
											<td
												th:text="${discipline.disciplineOffer.discipline.course.name}"></td>
											<td th:text="${discipline.disciplineOffer.discipline.name}"></td>
											<td
												th:text="${discipline.disciplineOffer.professor != null ? discipline.disciplineOffer.professor.name : ''}"></td>
											<td
												th:text="${null != discipline.disciplineOffer.disciplineClasses && #lists.size(discipline.disciplineOffer.disciplineClasses) > 0 && discipline.disciplineOffer.disciplineClasses[0].weekDay != null ? discipline.disciplineOffer.disciplineClasses[0].weekDay.name + ': ' + discipline.disciplineOffer.disciplineClasses[0].timeSlot.name : ''}"></td>
											<td><button class="btn btn-danger"
													name="disciplineHashString" type="submit"
													th:value="${discipline.hashString}">DESCARTAR DA
													LISTA A INCLUIR</button></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<br />
						<div style="padding: 0 1em 0.5em 1em;">
							<form th:action="@{/admin/accommodations/declineRemoval}"
								method="POST">
								<input type="hidden" name="accommodationHashString"
									th:value="${accommodation.hashString}" /> <br /> <strong>DISCIPLINAS
									A RETIRAR:</strong><br />
								<table id="disciplinesToRemove"
									class="table-hover table table-striped table-bordered display"
									style="width: 100%;">
									<thead>
										<tr>
											<th>Curso</th>
											<th>Nome</th>
											<th>Professor</th>
											<th>Horário</th>
											<th>Excluir</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Curso</th>
											<th>Nome</th>
											<th>Professor</th>
											<th>Horário</th>
											<th>Excluir</th>
										</tr>
									</tfoot>
									<tbody style="background-color: white !important">
										<tr th:each="discipline: ${accommodation.disciplinesToRemove}"
											th:if="${discipline.enabled}">
											<td
												th:text="${discipline.disciplineOffer.discipline.course.name}"></td>
											<td th:text="${discipline.disciplineOffer.discipline.name}"></td>
											<td
												th:text="${discipline.disciplineOffer.professor != null ? discipline.disciplineOffer.professor.name : ''}"></td>
											<td
												th:text="${null != discipline.disciplineOffer.disciplineClasses && #lists.size(discipline.disciplineOffer.disciplineClasses) > 0 && discipline.disciplineOffer.disciplineClasses[0].weekDay != null ? discipline.disciplineOffer.disciplineClasses[0].weekDay.name + ': ' + discipline.disciplineOffer.disciplineClasses[0].timeSlot.name : ''}"></td>
											<td><button class="btn btn-danger"
													name="disciplineHashString" type="submit"
													th:value="${discipline.hashString}">DESCARTAR DA
													LISTA A RETIRAR</button></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>
	<th:block layout:fragment="modals">
		<!-- add-discipline -->
		<div id="addDiscipline" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<form th:action="@{/admin/accommodations/addDiscipline}"
						method="POST">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Incluir Disciplina</h4>
						</div>
						<div class="modal-body">
							<p>Selecione a disciplina que deseja incluir e clique no
								botão 'INCLUIR'</p>
							<input type="hidden" name="accommodationHashString"
								th:value="${accommodation.hashString}" />
							<table id="disciplinesToAddModal"
								class="table-hover table table-striped table-bordered display"
								style="width: 100%">
								<thead>
									<tr>
										<th>Incluir na Grade</th>
										<th>Curso</th>
										<th>Nome</th>
										<th>Professor</th>
										<th>Horário</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Incluir na Grade</th>
										<th>Curso</th>
										<th>Nome</th>
										<th>Professor</th>
										<th>Horário</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="discipline: ${disciplines}">
										<td><button class="btn btn-success"
												name="disciplineOfferHashString" type="submit"
												th:value="${discipline.hashString}">INCLUIR</button></td>
										<td th:text="${discipline.course}"></td>
										<td th:text="${discipline.name}"></td>
										<td th:text="${discipline.professor}"></td>
										<td th:text="${discipline.when}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<a href="#" data-dismiss="modal" aria-hidden="true"
								class="btn btn-default pull-left"><span class="mdi mdi-undo"></span>
								Cancelar</a>
						</div>
					</form>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./add-discipline -->
		<!-- remove-discipline -->
		<div id="removeDiscipline" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<form th:action="@{/admin/accommodations/removeDiscipline}"
						method="POST">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Retirar Disciplina</h4>
						</div>
						<div class="modal-body">
							<p>Selecione a disciplina que deseja retirar e clique no
								botão 'RETIRAR'</p>
							<input type="hidden" name="accommodationHashString"
								th:value="${accommodation.hashString}" />
							<table id="disciplinesToRemoveModal"
								class="table-hover table table-striped table-bordered display"
								style="width: 100%">
								<thead>
									<tr>
										<th>Incluir na Grade</th>
										<th>Curso</th>
										<th>Nome</th>
										<th>Professor</th>
										<th>Horário</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Incluir na Grade</th>
										<th>Curso</th>
										<th>Nome</th>
										<th>Professor</th>
										<th>Horário</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="discipline: ${disciplines}">
										<td><button class="btn btn-warning"
												name="disciplineOfferHashString" type="submit"
												th:value="${discipline.hashString}">RETIRAR</button></td>
										<td th:text="${discipline.course}"></td>
										<td th:text="${discipline.name}"></td>
										<td th:text="${discipline.professor}"></td>
										<td th:text="${discipline.when}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<a href="#" data-dismiss="modal" aria-hidden="true"
								class="btn btn-default pull-left"><span class="mdi mdi-undo"></span>
								Cancelar</a>
						</div>
					</form>
				</div>
				<!-- ./Modal content-->
			</div>
		</div>
		<!-- ./remove-discipline -->
	</th:block>
	<th:block layout:fragment="js">
		<!-- Datatable -->
		<script
			th:src="@{/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/media/js/dataTables.bootstrap.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
		<script
			th:src="@{/plugins/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
		<script th:src="@{/scripts/accommodation/accommodation-edit.js}"></script>
	</th:block>
</body>
</html>