<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Fatec Mogi das Cruzes | Resumo das Acomodações</title>
<!-- Data Tables -->
<link rel="stylesheet"
	th:href="@{/plugins/datatables/media/css/dataTables.bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
</head>
<body>
	<h1>Resumo das Acomodações</h1>
	<hr />
	<div th:each="entry : ${accommodations}" style="display: block">
		<span th:text="${entry.studentCourse}"></span>/<span
			th:text="${entry.studentShift}"></span> - <span
			th:text="${entry.studentRegistry}"></span>&nbsp;<span
			th:text="${entry.studentName}"></span>
		<div style="margin-left: 5em">
			<h5 style="color: blue">Disciplinas a Adicionar</h5>
			<p th:each="discipline : ${entry.disciplinesToAdd}">
				<span th:text="${discipline.code}"></span>&nbsp;-&nbsp;<span
					th:text="${discipline.name}"></span>
			</p>
			<h5 style="color: red">Disciplinas a Remover</h5>
			<p th:each="discipline : ${entry.disciplinesToRemove}">
				<span th:text="${discipline.code}"></span>&nbsp;-&nbsp;<span
					th:text="${discipline.name}"></span>
			</p>
		</div>
	</div>
</body>
</html>
