<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<title>Fatec Mogi das Cruzes | Edição de Horários de Aula</title>
</head>
<body>
	<th:block layout:fragment="page-title">
		<h1 class="page-title">Editar Horários de Aula</h1>
	</th:block>
	<th:block layout:fragment="innerContent">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content card white">
					<div class="instructions">
						<a class="collapsed" data-toggle="collapse" href="#instructionsCollapse" role="button" aria-expanded="false" aria-controls="instructionsCollapse"><span
							class="if-collapsed">Clique aqui para EXIBIR as instruções</span> <span class="if-not-collapsed">Clique aqui para ESCONDER as instruções</span> </a>
						<div class="collapse" id="instructionsCollapse">
							<div class="card card-body">
								<strong>INSTRUÇÕES:</strong>
								<ul>
									<li>Selecione o período, curso e o semestre. Em seguida, selecione o botão 'Carregar'.</li>
									<li>Os campos marcados com um asterisco <sup class="field-details">*</sup> são obrigatórios e devem ser preenchidos.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.box-title -->
					<div class="card-content" style="overflow-x: scroll">
						<!-- message -->
						<div class="alert alert-dismissible" role="alert" th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
							th:if="${not #strings.isEmpty(message)}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
							<span th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
						</div>
						<!-- ./message -->
						<form autocomplete="off" th:action="@{/admin/timetable/save}" th:object="${timeTable}" method="post">
							<div class="row small-spacing">
								<div class="col-md-10 form-group" th:if="${null != courses}">
									<label for="course">Curso*: <a href="#" aria-hidden="true" data-toggle="tooltip" title="Qual é o curso para o qual deseja definir o horário?"><i
											class="fa fa-question-circle"></i></a></label> <select tabindex="1" class="
										form-control" name="course">
										<option th:each="course : ${courses}" th:value="${course.hashString}" th:text="${course.name + ' - ' + course.shift.name}"></option>
									</select>
								</div>
								<!-- ./col -->
								<div class="col-md-2 form-group" th:if="${null != courses}">
									<label><a href="#" aria-hidden="true">&nbsp;</a></label>
									<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light form-control" th:formaction="@{/admin/timetable}" th:formmethod="get">
										<span class="mdi mdi-update"></span> Carregar
									</button>
								</div>
								<!-- ./col -->
							</div>
							<!-- ./row -->
							<div th:if="${null == courses}">
								<input type="hidden" name="course" th:value="${course.hashString}" /> <input type="hidden" name="semester" th:value="${semester}" /> <input
									type="hidden" name="year" th:value="${year}" />
								<div class="row small-spacing">
									<div class="col-md-12">
										<h1 th:text="${course.name + ' - ' + course.shift.name}"></h1>
										<h2>Horário</h2>
									</div>
								</div>
								<table id="timetableAdmin">
									<thead>
										<tr>
											<th>Disciplina</th>
											<th>Dia da Semana</th>
											<th>Horário</th>
											<th>Professor</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="discipline,iter : *{disciplines}" th:disciplineHash="${discipline.disciplineHashString}">
											<td th:text="${discipline.name + ' ----- Aula ' + discipline.part}">Disciplina</td>
											<td><input type="hidden" th:name="|disciplines[${iter.index}].disciplineHashString|" th:value="${discipline.disciplineHashString}" /> <input
												type="hidden" th:name="|disciplines[${iter.index}].part|" th:value="${discipline.part}" /> <input type="hidden"
												th:name="|disciplines[${iter.index}].disciplineOfferHashString|" th:value="${discipline.disciplineOfferHashString}" /> <input type="hidden"
												th:name="|disciplines[${iter.index}].disciplineOfferClassHashString|" th:value="${discipline.disciplineOfferClassHashString}" /> <select
												class="form-control weekDay" th:name="|disciplines[${iter.index}].weekDay|" onchange="changedWeekDay($(this))">
													<option value="">Selecione...</option>
													<option th:each="weekDay : ${T(br.com.fatecmogidascruzes.domain.WeekDay).values()}" th:value="${weekDay}" th:text="${weekDay.name}"
														th:selected="${timeTable.disciplines[iter.index].weekDay == weekDay}"></option>
											</select></td>
											<td><select class="form-control timeSlot" th:name="|disciplines[${iter.index}].slotNumber|" onchange="changedTimeSlot($(this))">
													<option value="">Selecione...</option>
													<option th:each="timeSlot : ${T(br.com.fatecmogidascruzes.discipline.DisciplineOfferClass.TimeSlot).values()}" th:value="${timeSlot}"
														th:selected="${timeTable.disciplines[iter.index].slotNumber == timeSlot}" th:text="${timeSlot.name}"></option>
											</select></td>
											<td><select class="form-control professor" th:name="|disciplines[${iter.index}].professorHashString|" onchange="changedProfessor($(this))">
													<option value="">Selecione...</option>
													<option th:each="prof : ${professors}" th:value="${prof.hashString}" th:text="${prof.name}"
														th:selected="${timeTable.disciplines[iter.index].professorHashString == prof.hashString}"></option>
											</select></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th>Disciplina</th>
											<th>Dia da Semana</th>
											<th>Horário</th>
											<th>Professor</th>
										</tr>
									</tfoot>
								</table>
								<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light pull-right" th:if="${null == courses}">
									<span class="mdi mdi-content-save"></span> Salvar
								</button>
								<a class="btn waves-effect waves-light" type="submit" th:href="@{/admin/timetable}" th:if="${null == courses}"> <span class="mdi mdi-undo"></span>
									Descartar
								</a>
							</div>
							<!-- ./row -->
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</th:block>
	<th:block layout:fragment="modals">
	</th:block>
	<th:block layout:fragment="js">
		<script th:src="@{/scripts/form-field-length-counter.js}"></script>
		<script th:src="@{/scripts/timetable/timetable-edit.js}"></script>
	</th:block>
</body>
</html>