<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
  <title>Arquivos de horários dos cursos | Fatec Mogi das Cruzes</title>
  <link th:href="@{/plugins/jquery-ui/jquery-ui.min.js}" rel='stylesheet' />
</head>
<body>
<th:block layout:fragment="page-title">
  <h1 class="page-title">Arquivos de horários dos cursos</h1>
</th:block>

<th:block layout:fragment="innerContent">
  <div class="row small-spacing">
    <div class="col-xs-12">
      <div class="box-content card white">
        <div class="instructions">
          <a class="collapsed" data-toggle="collapse"
             href="#instructionsCollapse" role="button" aria-expanded="false"
             aria-controls="instructionsCollapse"><span
                  class="if-collapsed">Clique aqui para EXIBIR as instruções</span>
            <span class="if-not-collapsed">Clique aqui para ESCONDER
								as instruções</span> </a>
          <div class="collapse" id="instructionsCollapse">
            <div class="card card-body">
              <strong>INSTRUÇÕES:</strong>
              <ul>
                <li>Para alterar o horário de um curso, selecione um novo arquivo no local
                  apropriado para o curso e selecione o botão referente à alteração de horário.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-title -->

        <div class="card-content">
          <!-- message -->
          <div class="alert alert-dismissible" role="alert"
               th:classappend="${'error' == message ? 'alert-danger' : 'alert-success'}"
               th:if="${not #strings.isEmpty(message)}">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
            <span
                    th:text="${'error' == message ? 'Existem erros no formulário. Corrija-os e tente novamente.' : 'A operação foi realizada com sucesso.'}"></span>
          </div>
          <!-- ./message -->
          <form autocomplete="off" th:action="@{/admin/schedule}"
                th:object="${schedules}" method="post" enctype="multipart/form-data">
            <button type="submit" id="saveRhFile"
                    class="btn btn-primary btn-sm waves-effect waves-light pull-right">
              <span class="mdi mdi-content-save"></span> Alterar horários
            </button>
            <div class="row small-spacing file-group">
              <div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('adsSchedule')} ? has-error">
                <a th:href="@{/admin/schedule/ADS}" th:if="*{currentlyHasAdsFile}" target="_blank">Clique aqui para ver o horário atual do ADS</a> <br />
                <label for="adsSchedule"> <span th:if="${null != isUpdate}">Novo</span> Horário do ADS: <a href="#" aria-hidden="true" data-toggle="tooltip"
                                                                                             title="Informe o arquivo de horário do ADS."><i
                        class="fa fa-question-circle"></i></a>
                </label> <input type="file" id="adsSchedule" th:field="*{adsSchedule}"> <span class="help-block">Envie uma arquivo PDF ou equivalente.</span> <span
                      th:each="error : ${#fields.errors('adsSchedule')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
										</span>
              </div>
            </div>

            <div class="row small-spacing file-group">
              <div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('agroSchedule')} ? has-error">
                <a th:href="@{/admin/schedule/AGRO}" th:if="*{currentlyHasAgroFile}" target="_blank">Clique aqui para ver o horário atual do Agro</a> <br />
                <label for="agroSchedule"> <span th:if="${null != isUpdate}">Novo</span> Horário do Agro: <a href="#" aria-hidden="true" data-toggle="tooltip"
                                                                                                     title="Informe o arquivo de horário do agro."><i
                        class="fa fa-question-circle"></i></a>
                </label> <input type="file" id="agroSchedule" th:field="*{agroSchedule}"> <span class="help-block">Envie uma arquivo PDF ou equivalente.</span> <span
                      th:each="error : ${#fields.errors('agroSchedule')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
                </span>
              </div>
            </div>

            <div class="row small-spacing file-group">
              <div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('gestaoSchedule')} ? has-error">
                <a th:href="@{/admin/schedule/GESTAO}" th:if="*{currentlyHasGestaoFile}" target="_blank">Clique aqui para ver o horário atual de Gestão</a> <br />
                <label for="gestaoSchedule"> <span th:if="${null != isUpdate}">Novo</span> Horário da Gestão: <a href="#" aria-hidden="true" data-toggle="tooltip"
                                                                                                       title="Informe o arquivo de horário do Gestão."><i
                        class="fa fa-question-circle"></i></a>
                </label> <input type="file" id="gestaoSchedule" th:field="*{gestaoSchedule}"> <span class="help-block">Envie uma arquivo PDF ou equivalente.</span> <span
                      th:each="error : ${#fields.errors('gestaoSchedule')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
        </span>
              </div>
            </div>

            <div class="row small-spacing file-group">
              <div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('logisticaSchedule')} ? has-error">
                <a th:href="@{/admin/schedule/LOG}" th:if="*{currentlyHasLogisticaFile}" target="_blank">Clique aqui para ver o horário atual de Logística</a> <br />
                <label for="logisticaSchedule"> <span th:if="${null != isUpdate}">Novo</span> Horário de Logística: <a href="#" aria-hidden="true" data-toggle="tooltip"
                                                                                                          title="Informe o arquivo de horário do Logística."><i
                        class="fa fa-question-circle"></i></a>
                </label> <input type="file" id="logisticaSchedule" th:field="*{logisticaSchedule}"> <span class="help-block">Envie uma arquivo PDF ou equivalente.</span> <span
                      th:each="error : ${#fields.errors('logisticaSchedule')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
        </span>
              </div>
            </div>

            <div class="row small-spacing file-group">
              <div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('rhSchedule')} ? has-error">
                <a th:href="@{/admin/schedule/RH}" th:if="*{currentlyHasRhFile}" target="_blank">Clique aqui para ver o horário atual de RH</a> <br />
                <label for="rhSchedule"> <span th:if="${null != isUpdate}">Novo</span> Horário de RH: <a href="#" aria-hidden="true" data-toggle="tooltip"
                                                                                                   title="Informe o arquivo de horário de RH."><i
                        class="fa fa-question-circle"></i></a>
                </label> <input type="file" id="rhSchedule" th:field="*{rhSchedule}"> <span class="help-block">Envie uma arquivo PDF ou equivalente.</span> <span
                      th:each="error : ${#fields.errors('rhSchedule')}" class="help-block"> <i class="fa fa-exclamation-circle"></i> <span th:text="${error}"></span>
        </span>
                <button type="submit" id="saveRhFile"
                        class="btn btn-primary btn-sm waves-effect waves-light pull-right">
                  <span class="mdi mdi-content-save"></span> Alterar horários
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="modals">
</th:block>

<th:block layout:fragment="js">
  <script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
</th:block>
</body>
</html>
