:root {
    --darkpink: #cd5270;
    --pink: #fe90b1;
}

.site-header .additional-row {
    background: var(--darkpink) !important;
}

.mainBtn, .request-information .submit_field .mainBtn, .tag-items a, .site-header, .main-menu li ul, .social_icons li a, .footer-media-icons li a {
    background: var(--pink) !important;
}

.search-form form input, .main-navigation, .main-menu li {
    background: var(--darkpink) !important;
}

.main-navigation, .site-footer {
    background: var(--darkpink) !important;
}

.cookie-banner {
    background: var(--darkpink) !important;
}

.close-banner {
    background: var(--pink) !important;
}

.main-menu li ul li a:hover, .main-menu li.active .sub-menu a:hover, .main-menu li a:hover {
    background: var(--pink) !important;
}

.flexslider .slides .flex-caption .main {
    background: var(--darkpink) !important;
}

.header-right {
    margin: 50px auto 0 auto !important;
}

.october-pink {
    display: block !important;
    height: 140px;
}

@media(max-width: 767px) {
    .october-pink {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}

.fatec-logo {
    display: none !important;
}