/**** Background Colors ****/
body,
.lightBtn {
  background-color: #efefef;
}

.main-slideshow,
.widget-item,
.widget-main,
.box-content-inner,
.page-title,
.grid-event-header,
.load-more-btn,
.event-container,
.gallery-content,
.blog-post-inner,
.prev-next-post a,
#blog-author,
.widget-main-title,
.blog-comments-content,
.contact-page-content,
.contact-map,
.course-details,
#disqus_thread,
.calendar-content {
  background-color: white;
}

.menu-toggle-btn {
  background-color: #fecd0b;
}

/* ELECTION */
/* background-color: #444; */
.search-form form input {
  background-color: #b31914;
}

/* ELECTION */
/* background-color: #555; */
.responsive_menu {
  background-color: #8a4344;
}

.slider-caption,
.cat-blog,
.blog-post-meta ul li {
  background-color: rgba(0, 0, 0, 0.6);
}

/* 333 */
.mainBtn,
.request-information .submit_field .mainBtn,
.tag-items a,
.site-header,
.main-menu li ul,
.social_icons li a,
.footer-media-icons li a {
  background-color: #941611;
 /* ELECTION */
  /* background-color: #333;*/
}


/* background-color: #444; */
.main-navigation,
.site-footer {
  background-color: #b31914;
  /* ELECTION */
  /* background-color: #444; */
}

blockquote,
.calendar-small,
.course-list > dt:nth-child(odd)
 {
  background-color: #f3f3f3;
}

.s-month,
#slider-testimonials .prev,
#slider-testimonials .next,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  /* ELECTION */
  /*background-color: #333;*/
  background-color: #a5473d;
}

/**** Text Colors ****/
.main-menu li.active a,
.social-icons li a:hover,
.site-footer a:hover,
.event-container .event-time {
  color: #fecd0b;
}

.main-menu li.active .sub-menu a:hover,
.main-menu li a:hover,
.social-icons li a,
.social_icons li a,
.slider-caption h2 a,
.flex-direction-nav a,
.footer-widget-title,
.footer-media-icons li a,
.mainBtn,
.request-information .submit_field .mainBtn,
.s-month,
#slider-testimonials .prev,
#slider-testimonials .next,
.blog-grid-thumb .cat-blog,
.blog-post-meta ul li,
.blog-post-meta ul li a,
.tag-items a,
.comment-form .mainBtn,
.course-search-form .mainBtn,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a,
.course-post .mainBtn:hover,
.tag-items a:hover {
  color: #fff;
}

/* 333 */
.main-menu li.active .sub-menu a:hover,
.main-menu li a:hover {
  /* ELECTION */
  /*background-color: #333;*/
  background-color: #941611;
}

body,
.blog-list-meta a,
.event-small-meta,
.blog-grid-meta a,
.lightBtn,
.lightBtn:hover,
.blog-categories ul li a,
.comment-form label,
.course-search-form label {
  color: #666666;
}

.menu-toggle-btn,
.menu-toggle-btn:hover {
  color: #683233;
}

.main-menu a,
.main-menu li.active .sub-menu a,
.main-menu li ul li:before,
.site-header,
.site-header a,
.responsive_menu a,
.responsive_menu a:hover {
  color: #fff;
}

.site-header a:hover {
  color: #c58788;
}

.small-links li:not(:last-child):after,
.flex-direction-nav a:hover {
  color: #bd7677;
}

.site-footer {
  color: #debbbb;
}

.site-footer a {
  color: #efddde;
}

.footer-nav li:not(:first-child):before {
  color: #ca9193;
}

.bottom-footer p.small-text {
  color: #debbbb;
}

a,
blockquote h5,
.blog-categories ul li a:hover,
.author-name a,
.author-name a:hover {
  /* ELECTION */
  color: #a5473d;
  /*color: #333;*/
}

a:hover {
  color: #80372f;
}

h1, h2, h3, h4, h5, h6,
.dark-text,
.page-title a,
.s-date,
.load-more-btn a,
.mixitup-controls .active,
.prev-next-post a {
  color: #282a2c;
}

.small-text,
.page-active,
.request-information input,
.input-select select,
.event-contact ul li,
.comment-form input,
.comment-form textarea
.contact-form input,
.contact-form textarea,
.course-search-form input,
.course-search-form select {
  color: #999999;
}

.page-title h6:not(:first-child):before {
  color: #cccccc;
}
.page-title h6:not(:first-child) {
  margin-left: 1em;
}

/**** Border Colors ****/
.widget-main-title,
blockquote,
.request-information input,
.input-select select,
.blog-list-post,
.event-small-list,
.prof-list-item,
.grid-event-header,
.load-more-btn,
.search-form-widget input,
.prev-next-post .whiteBtn,
.blog-comments-content .media,
.comment-form input,
.comment-form textarea,
.contact-form input,
.contact-form textarea,
.course-search-form input,
.course-search-form select {
  border-color: #d5dbe0 !important;
}


.search-form form input,
.main-navigation,
.main-menu li {
  border-color: #8a4344;
  /*ELECTION*/
  /*border-color: #555;*/
}

.main-menu li ul li {
  border-color: #793a3b;
/*ELECTION*/
  /*border-color: #999;*/
}

body,
.main-menu li ul {
  border-color: #fecd0b;
}

.site-header,
.site-footer {
  border-color: #d5d5d5;
}

.bottom-footer {
  border-color: #683233;
  /*ELECTION*/
  /*border-color: #999;*/
}

.course-list dt,
.course-list dt:last-of-type {
  border-color: #e7eaed;
}

.main_menu li,
.main_menu {
  border-color: #ad5355 !important;
  /*ELECTION*/
  /*border-color: #999 !important;*/
}
