/**
 * Banner.
 */
.banner-effect {
	height: 390px;
	overflow: hidden;
	position: relative;
	width: 1250px;
}

.banner-image {
	z-index: -1;
}

.banner-image img {
	position: absolute;
	opacity: 1;
	margin: -100px auto;
	width: 100%;
}

.blog-post-container {
	overflow: hidden;
}