.month-container {
	display: block !important;
	height: auto !important;
	margin-bottom: 1em;
	height: 270px !important;
}
.month-container:after {
	clear:both;
}

.year-title, .month-title, .day-header, .day-content {
	font-family: sans-serif !important;
}