#calendar {
	width: 100%;
	height: 500px;
}

.c-pad-top {
	font-size: 20px;
}

.c-grid-title {
	/* ELECTION */
	/*background-color: #333;*/
	background-color: #941611;
}

.c-week-day, .c-event-title {
	background-color: #EA0001;
}

.c-event-body, .c-day {
	background-color: #FFF6F6;
}

.c-today {
	background-color: #FFC5C5;
}

.c-event {
	background-color: yellow;
	color: black;
}