.cookie-banner {
    position: fixed;
    bottom: 5px;
    width: 86%;
    left: 7%;
    padding: 5px 5px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    /* ELECTION */
    /*background: #333;*/
    background: #941611;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.cookie-banner a:hover {
    color: #fff;
}

.cookie-banner a {
    color: #fecd0b;
}

.close-banner {
    height: 25px;
    /* ELECTION */
    /*background-color: #666;*/
    background-color: #b31813;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}

.close-banner:hover {
    background-color: white;
    color: #b31813;
    /* ELECTION */
    /*color: #666;*/
}